@charset "utf-8";

/* reset */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.body {
    font-family: 'arial', \5FAE\8EDF\6B63\9ED1\9AD4, \65B0\7D30\660E\9AD4;
    background-image: url(../images/body_bg.jpg);
    background-repeat: repeat-y;
    font-size: 16px;
    margin: 0px;
    line-height: 1.6;
    letter-spacing: 1px;
    color: #232323;
}


ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

li {
    padding: 0px;
    margin: 0px;
}

a {
    font-weight: bold;
    color: #187AD8;
    text-decoration: none;
}

a:hover {
    color: #2486e4;
    text-decoration: underline;
}

a:active {
    color: #1472cc;
}

img {
    border: none;
}

textarea:focus,
input:focus,
select:focus {
    outline: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

/*scroll bar setting*/
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
    background: #7D7D7D;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: #7D7D7D;
}

/*scroll bar setting end*/
/* reset end */
.line_btn_small {
    background-color: #ffffff;
    width: 107px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #187AD8;
    border: 2px solid #187AD8;
    border-radius: 99px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.line_btn {
    background-color: #ffffff;
    height: 45px;
    font-size: 18px;
    font-weight: bold;
    color: #187AD8;
    border: 2px solid #187AD8;
    border-radius: 99px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fill_btn {
    background-color: #187AD8;
    height: 65px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    border-radius: 99px;
    margin: 0px 10px;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fill_btn:hover {
    background-color: #2486e4;
}

.fill_btn:active {
    background-color: #1472cc;
}

.line_btn_large {
    background-color: #ffffff;
    height: 76px;
    font-size: 20px;
    font-weight: bold;
    color: #187AD8;
    border: 3px solid #187AD8;
    border-radius: 99px;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fill_btn_large {
    background-color: #187AD8;
    height: 76px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    border-radius: 99px;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fill_btn_large:hover {
    background-color: #2486e4;
}

.fill_btn_large:active {
    background-color: #1472cc;
}

.btn_note {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

.ps_btn {
    width: 270px;
}

.ill_btn {
    width: 270px;
}

.btn_container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
}

.sub_btn_container {
    position: absolute;
}

.work_infor .btn_container {
    bottom: 7px;
    left: 10px;
}

.gapp_work-4 .btn_container {
    bottom: 7px;
    left: 0px;
}

.gapp_work-5 .btn_container {
    bottom: 7px;
    left: 0px;
}

.sino_work-4 .btn_container {
    bottom: 0px;
    left: 0px;
}

.sino_work-5 .btn_container {
    bottom: 7px;
    left: 0px;
}

.sino_work-6 .btn_container {
    bottom: 7px;
    left: 0px;
}

.sino_work-7 .btn_container {
    bottom: 50px;
    left: 0px;
}

.sino_work-8 .btn_container {
    bottom: 0px;
    left: 0px;
}

.sino_work-9 .btn_container {
    bottom: 0px;
    left: 0px;
}

.sino_work-10 .btn_container {
    bottom: 0px;
    left: 0px;
}

.sino_work-11 .btn_container {
    bottom: 0px;
    left: 0px;
}

.sino_work-11 .sub_btn_container {
    top: 143px;
    left: 40px;
}

.sino_work-12 .btn_container {
    bottom: 10px;
    left: 0px;
}

.sino_work-13 .btn_container {
    bottom: 10px;
    left: 0px;
}

.yulon_work-2 .btn_container {
    bottom: 0px;
    left: 0px;
}

.yulon_work-3 .btn_container {
    bottom: 0px;
    left: 0px;
}

.yulon_work-4 .btn_container {
    bottom: 0px;
    left: 0px;
}

.yulon_work-6 .btn_container {
    bottom: 0px;
    left: 0px;
}

.ollo_work_btn-1 {
    position: absolute;
    bottom: 93px;
    left: 483px;
}

.ollo_work_btn-2 {
    position: absolute;
    bottom: 93px;
    right: 0px;
}

.ollo_work_btn-3 {
    position: absolute;
    bottom: 3px;
    left: 483px;
}

.yuanta_work .btn_container {
    bottom: 7px;
    left: 0px;
}

.taian_work .btn_container {
    bottom: -85px;
    left: 0px;
}

.page_dashed_line {
    width: 100%;
    border-top: 1px dashed #bfbfbf;
    margin: 40px 0px;
}

.personal_infor_container {
    font-size: 18px;
    position: absolute;
    top: 121px;
    left: 565px;
}

.personal_infor_container .title {
    font-weight: bold;
}

.personal_infor_container > div {
    margin-bottom: 10px;
}

.hvr-top-l {
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-top-l:hover,
.hvr-top-l:focus,
.hvr-top-l:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}



.page_title {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.page_title .page_num_infor {
    position: absolute;
    top: 50px;
    left: 50px;
}

.page_bottom_bar {
    width: 100%;
    height: 70px;
    background-color: #232323;
    font-weight: bold;
    color: #fafafa;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.page_bottom_bar .page_num {
    font-size: 36px;
}

.page_bottom_bar .page_name {
    font-size: 20px;
}

.page_footer_left_part {
    font-size: 18px;
    display: flex;
}

.page_footer_left_part img {
    height: 28px;
    margin-right: 8px;
}

.page_container {
    width: 100%;

    padding: 50px 20px 70px 20px;
    position: relative;
}

.page_num_infor {
    font-size: 16px;
    padding-left: 20px;
}

@media (max-width:1320px) {
    .page_num_infor {
        font-size: 16px;
        padding-left: 0px;
    }
}

.page_num_infor .sub_infor {
    color: #757575;
}

.page_content {
    width: 1240px;
    margin: 0 auto;
    padding: 60px 0px 130px 0px;
}

.page_content_title {
    width: 100%;
    height: 36px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page_content_title_name {
    padding-right: 15px;
}

.page_content_title_line {
    width: 100%;
    height: 100%;
    background-image: url(../images/page_content_title_line.png);
    background-repeat: repeat-x;
    background-position: center center;
}

.page_content_img {
    padding-left: 0px;
    position: relative;
}

.set_middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.emphasize_text {
    color: #CBA039;
}

.pup_bg_transparent {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.pup_close_btn {
    width: 42px;
    height: 42px;
    background-size: 20px auto;
    background-color: #ffffff;
    background-image: url(../images/close_icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}

.pup_window_small {
    width: 430px;
    height: auto;
    background-color: #232323;
    color: #c5c5c5;
    border-radius: 20px;
    padding: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 102;
    transform: translate(-50%, -50%);
}

.pup_window_small_ae {
    width: auto;
    height: calc(100vh - 50px);
}

.pup_window_small_ae {
    width: auto;
    height: calc(100vh - 50px);
}

.pup_window_small_ae .pup_window_small_content {
    height: calc(100vh - 130px);
    overflow: auto;
}

.pup_window_small_ae .pup_window_small_content::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

.pup_window_small_ae .pup_window_small_content::-webkit-scrollbar-track {
    background: #232323;
    border-radius: 0px;
}

.pup_window_small_ae .pup_window_small_content::-webkit-scrollbar-thumb {
    background: #7d7d7d;
    border-radius: 10px;
}

.pup_window_small_ae .pup_window_small_content::-webkit-scrollbar-thumb:hover {
    background: #7d7d7d;
}

.pup_window_small > .pup_close_btn {
    width: 34px;
    height: 34px;
    background-size: 16px auto;
}

.pup_window_small_title_container {
    border-bottom: 1px solid #3E3E3E;
    padding-bottom: 15px;
}

.pup_window_small_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2px;
}

.pup_window_small_subtitle {
    font-size: 16px;
    color: #c5c5c5;
}

.pup_window_small_content {
    padding: 15px 5px 15px 5px;
}

.pup_window_small_option {
    font-size: 18px;
    padding: 10px 0px;
    position: relative;
}

.pup_window_small_option img {
    position: absolute;
    top: 17px;
    right: 3px;
    transition-duration: 0.2s;
}

.pup_window_small_option:hover img {
    right: -2px;
}

.pup_window_small_content a {
    color: #c5c5c5;
}

.pup_window_small_content a:hover {
    color: #187ad8;
    text-decoration: none;
}

.pup_window_small_tip {
    font-size: 14px;
    padding-top: 15px;
    border-top: 1px solid #3E3E3E;
}

/*選單*/
.page_choice_btn_container {
    width: 60px;
    height: 60px;
    background-size: 25px auto;
    background-color: #ffffff;
    background-image: url(../images/page_choice_btn_img.svg);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 99;
    cursor: pointer;
}

.page_choice_btn_container:hover,
.page_choice_btn_container.active {
    background-color: #187AD8;
    background-image: url(../images/page_choice_btn_img-hover.svg);
}

.page_choice_btn_container img {
    width: 25px;
}

.page_choice_btn_note {
    background-color: #ffffff;
    font-size: 16px;
    color: #232323;
    border: 2px solid #f5f5f5;
    border-radius: 10px;
    padding: 5px 20px 15px 20px;
    position: fixed;
    top: 17px;
    right: 90px;
    z-index: 99;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
}

.page_choice_btn_note br {
    display: none;
}

.page_choice_btn_icon {
    font-size: 24px;
    position: relative;
    top: 3px;
}

.page_choice_btn_note_btn {
    width: 100%;
    background-color: #187AD8;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 5px;
    padding: 3px 5px;
    cursor: pointer;

}

.page_choice_btn_note_btn:hover {
    background-color: #2486e4;
}

.page_choice_btn_note_btn:active {
    background-color: #1472cc;
}

.page_choice_btn_note_arrow {
    position: absolute;
    top: 3px;
    right: -12px;
}

@media (max-width:1440px) {
    .page_choice_btn_container {
        width: 60px;
        height: 60px;
    }

    .page_choice_btn_container img {
        width: 25px;
    }
}

@media (max-width:960px) {
    .page_choice_btn_container {
        top: 15px;
        right: 15px;
    }

    .page_choice_btn_note {
        text-align: center;
        padding: 0px 15px 10px 15px;
        top: 13px;
        right: 85px;
    }

    .page_choice_btn_note br {
        display: inline;
    }

    .page_choice_btn_note_btn span {
        display: none;
    }

    .page_choice_btn_note_btn {
        padding: 3px 5px;
    }
}

@media (max-width:768px) {
    .page_choice_btn_container {
        width: 52px;
        height: 52px;
        background-size: 22px auto;
    }

    .page_choice_btn_container img {
        width: 22px;
    }

    .page_choice_btn_note {
        right: 75px;
    }
}

@media (max-width:540px) {
    .page_choice_btn_container {
        width: 48px;
        height: 48px;
        background-size: 20px auto;
    }

    .page_choice_btn_container img {
        width: 20px;
    }

    .page_choice_btn_note_btn {
        padding: 5px 5px;
    }

    .page_choice_btn_note {
        font-size: 14px;
        padding: 0px 12px 10px 12px;
        top: 13px;
        right: 75px;
    }
}

@media (max-width:430px) {
    .page_choice_btn_container {
        width: 44px;
        height: 44px;
        background-size: 18px auto;
    }

    .page_choice_btn_container img {
        width: 18px;
    }

    .page_choice_btn_note {
        top: 13px;
        right: 65px;
    }
}

/*選單end*/
/*選單*/
.page_menu_bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.page_list_container {
    width: 375px;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: -435px;
    z-index: 101;
    transition-duration: 1s;
}

.page_list {
    width: 375px;
    height: 100vh;
    background-color: #ffffff;
    border-left: 3px solid #e0e0e0;
    overflow: scroll;
    overflow-x: hidden;
}

.page_list::-webkit-scrollbar {
    width: 10px;
    background-color: #ffffff;
    border-radius: 10px;
}

.page_list::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
}

.page_list_item {
    width: 100%;
    font-size: 20px;
    color: #232323;
    font-weight: bold;
    border-bottom: 1px solid #e0e0e0;
    padding: 25px 30px 25px 20px;
}

.page_list_item_arrow {
    display: none;
}

.page_list_item_title .title {
    width: calc(100% - 14px);
}

.page_list_item span:hover {
    cursor: pointer;
}

.page_list_item a {
    width: 100%;
    color: #232323;
    text-decoration: none;
    display: inline-block;
}

.page_list_item_page_choice a {
    font-weight: normal;
}

.page_list_item a:hover {
    color: #187AD8;
}

.page_list_item span {
    display: block;
}

.page_list_item .page_list_item_title span:hover {
    color: #187AD8;
}

.page_list_item_title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.page_list_item_page_choice {
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px;
    padding-left: 5px;
}

.page_list_item_page_choice div {
    margin-top: 15px;
}


.open_list {
    right: 0px !important;
}

.list_close_btn {
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    background-image: url(../images/close_icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px auto;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: -60px;
    z-index: 101;
    cursor: pointer;
}

.list_close_btn:hover {
    background-color: #187AD8;
    background-image: url(../images/close_icon-hover.png);
}

.list_close_btn:active {
    background-color: #1472cc;
    background-image: url(../images/close_icon-hover.png);
}

.list_close_btn img {
    width: 20px;
    height: 20px;
}

@media (max-width:540px) {

    .page_list::-webkit-scrollbar {
        width: 8px;
    }

    .page_list_container {
        width: 300px;
        right: -365px;
    }

    .page_list {
        width: 300px;
    }

    .page_list_item {
        font-size: 18px;
    }

    .page_list_item_page_choice {
        font-size: 16px;
        margin-top: 20px;
    }

    .page_list_item_page_choice div {
        margin-top: 15px;
    }

    .list_close_btn {
        background-color: #ffffff;
        width: 40px;
        height: 40px;
        left: -50px;
    }
}

/*選單end*/
.display_none_all {
    display: none !important;
}

@-webkit-keyframes shake_item {

    0%,
    100% {
        -webkit-transform: translateX(0);
        opacity: 1;
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-5px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(5px);
    }
}

@-moz-keyframes shake_item {

    0%,
    100% {
        -moz-transform: translateX(0);
        opacity: 1;
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -moz-transform: translateX(-5px);
    }

    20%,
    40%,
    60%,
    80% {
        -moz-transform: translateX(5px);
    }
}

@-o-keyframes shake_item {

    0%,
    100% {
        -o-transform: translateX(0);
        opacity: 1;
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -o-transform: translateX(-5px);
    }

    20%,
    40%,
    60%,
    80% {
        -o-transform: translateX(5px);
    }
}

@keyframes shake_item {

    0%,
    100% {
        transform: translateX(0);
        opacity: 1;
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-5px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(5px);
    }
}

.shake_item {
    -webkit-animation-name: shake_item;
    -moz-animation-name: shake_item;
    -o-animation-name: shake_item;
    animation-name: shake_item;
    animation-delay: 2s;
    animation-iteration-count: 2;
}

@-webkit-keyframes shake_item {

    0%,
    100% {
        -webkit-transform: translateX(0);
        opacity: 1;
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-5px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(5px);
    }
}

@-moz-keyframes shake_item {

    0%,
    100% {
        -moz-transform: translateX(0);
        opacity: 1;
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -moz-transform: translateX(-5px);
    }

    20%,
    40%,
    60%,
    80% {
        -moz-transform: translateX(5px);
    }
}

.desktop_none_tip {
    display: none;
}

@media (max-width:1240px) {
    .desktop_version {
        display: none;
    }

    .desktop_none_tip {
        width: 100%;
        height: 100vh;
        font-weight: bold;
        color: #232323;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .desktop_none_tip .title {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .desktop_none_tip .text {
        font-size: 20px;
        line-height: 1.7;
    }

    .desktop_none_tip .note {
        font-size: 18px;
        font-weight: normal;
    }

    .desktop_none_tip .line_btn {
        width: 250px;
        margin: 0 auto;
        margin-top: 10px;
    }
}

@media (max-width:540px) {
    .desktop_none_tip .title {
        font-size: 20px;
    }

    .desktop_none_tip .text {
        font-size: 18px;
    }

    .desktop_none_tip .note {
        font-size: 16px;
        font-weight: normal;
    }

    .desktop_none_tip .line_btn {
        width:220px;
        height:42px;
        font-size: 16px;
    }
}
