@charset "utf-8";

/* reset */
* {
    font-family: 'arial', \5FAE\8EDF\6B63\9ED1\9AD4, \65B0\7D30\660E\9AD4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 1px;
    outline: none;
}

body {
    margin: 0px;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

li {
    padding: 0px;
    margin: 0px;
}

a {
    color: #0c5ba8;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    border: none;
}

textarea:focus,
input:focus,
select:focus {
    outline: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

/* reset end */
.body_bg {
    background-image: url(../image/body_bg.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
}

.gold_text {
    color: #f9cf5f;
}

.red_text {
    color: #cc1b35;
}

.display_480 {
    display: none;
}

@media (max-width:480px) {
    .display_480 {
        display: inline;
    }
}

@media (max-width:420px) {
    .display_420_1 {
        display: none;
    }
}

.top_banner_container {
    width: 100%;
    height: 802px;
    background-image: url(../image/top_banner_img.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
}

.top_banner_img {
    width: 100%;
    display: none;
}

.top_logo {
    position: absolute;
    top: 50px;
    left: 120px;
    display: none;
}

.top_nav_container {
    background-color: #ffffff;
    font-size: 18px;
    border-radius: 99px;
    padding: 12px 40px;
    display: flex;
    position: absolute;
    top: 45px;
    right: 120px;
}

.top_nav_fixed {
    border: 3px solid #971107;
    position: fixed;
    top: 20px;
    z-index: 899;
}

.top_nav_container a {
    font-weight: bold;
    color: #870000;
    margin: 0px 20px;
}

.top_nav_container a:hover {
    text-decoration: none;
    color: #cc1b35;
}

.top_nav_mobile_btn {
    display: none;
}

.open_nav_bar {
    left: 0px !important;
}

@media (max-width:1800px) {
    .top_banner_container {
        height: auto;
    }

    .top_banner_img {
        display: block;
    }
}

@media (max-width:1600px) {
    .top_banner_container {
        height: 668px;
        background-image: url(../image/top_banner_1600.jpg);
    }

    .top_logo {
        height: 38px;
        top: 45px;
        left: 50px;
        display: inline;
    }

    .top_banner_img {
        display: none;
    }

    .top_nav_container {
        padding: 12px 30px;
        right: 50px;
    }
}

@media (max-width:1260px) {
    .top_banner_container {
        height: auto;
        background-image: none;
    }

    .top_nav_container a {
        margin: 0px 15px;
    }

    .top_logo {
        display: none;
    }

    .top_banner_img {
        display: inline;
    }

    .top_nav_container {
        font-size: 16px;
        padding: 10px 20px;
        top: 35px;
        right: 50px;
    }
}

@media (max-width:1024px) {
    .top_logo {
        height: 32px;
        top: 35px;
        left: 30px;
        display: inline;
    }

    .top_nav_container {
        top: 35px;
        right: 30px;
    }

    .top_banner_container {
        height: 535px;
        background-image: url(../image/top_banner_img_1024.jpg);
    }

    .top_banner_img {
        display: none;
    }

    .top_nav_container a {
        margin: 0px 10px;
    }
}

@media (max-width:768px) {
    .top_banner_container {
        height: 730px;
        background-image: url(../image/top_banner_img_768.jpg);
    }

    .top_nav_mobile_btn {
        width: 46px;
        height: 46px;
        background-color: #ffffff;
        border-radius: 50%;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 25px !important;
        right: 30px;
    }

    .top_nav_mobile_btn img {
        width: 100%;
    }

    .top_nav_fixed {
        border: 0px solid #971107;
        position: fixed;
        z-index: 899;
    }

    .top_nav_container {
        width: 320px;
        height: 100%;
        border-radius: 0px;
        padding: 20px 0px 0px 40px;
        display: block;
        position: fixed;
        top: 0px;
        left: -320px;
        transition-duration: 1s;
        z-index: 999;
    }

    .top_nav_container a {
        font-size: 18px;
        margin: 30px 0px;
        display: block;
    }
}

@media (max-width:700px) {
    .top_banner_container {
        height: auto;
        background-image: none;
    }

    .top_banner_img {
        display: inline;
    }
}

@media (max-width:620px) {
    .top_logo {
        top: 25px;
    }

    .top_nav_mobile_btn {
        top: 20px;
    }
}

@media (max-width:460px) {
    .top_logo {
        height: 32px;
        top: 25px;
        left: 20px;
    }

    .top_nav_mobile_btn {
        top: 20px;
        right: 20px;
    }
}

@media (max-width:420px) {
    .top_logo {
        height: 30px;
    }

    .top_nav_mobile_btn {
        width: 42px;
        height: 42px;
        padding: 13px;
    }
}

@media (max-width:400px) {
    .top_logo {
        height: 28px;
    }
}

.main {
    width: 100%;
    height: auto;
    background-image: url(../image/main_container.png);
    background-repeat: no-repeat;
    background-position: top center;
}

.main_container {
    width: 1310px;
    margin: 0 auto;
    position: relative;
    top: -9.5vw;
}

@media (max-width:1360px) {
    .main_container {
        width: calc(100% - 100px);
        margin: 0 50px 0px 50px;
        top: -10vw;
    }
}

@media (max-width:1280px) {
    .main_container {
        top: -11vw;
    }
}

@media (max-width:1024px) {
    .main_container {
        width: calc(100% - 60px);
        margin: 0 30px 0px 30px;
        top: -10vw;
    }
}

@media (max-width:768px) {
    .main_container {
        top: -15vw;
    }
}

.subject_container {
    width: 100%;
    background-color: #971107;
    border: 6px solid #f9cf5f;
    border-radius: 30px;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.25);
    margin-bottom: 90px;
    padding: 80px 80px 50px 80px;
    position: relative;
}

@media (max-width:1360px) {
    .subject_container {
        padding: 60px 50px 50px 50px;
    }
}

@media (max-width:1024px) {
    .subject_container {
        padding: 50px 30px 50px 30px;
    }
}

@media (max-width:768px) {
    .subject_container {
        margin-bottom: 60px;
    }
}

@media (max-width:420px) {
    .subject_container {
        padding: 50px 20px 30px 20px;
    }
}

.subject_title_frame {
    background-color: #870000;
    border-radius: 99px;
    padding: 8px;
    position: absolute;
    top: -42px;
    left: 50%;
    transform: translateX(-50%);
}

.subject_title {
    min-width: 285px;
    font-size: 26px;
    color: #f8cf5f;
    font-weight: bold;
    text-align: center;
    border: 4px solid #f8cf5f;
    border-radius: 99px;
    padding: 12px 30px;
}
.title_tag{
    position:absolute;
    top:-7px;
    left:-25px;
}
.title_tag_text{
    font-size:24px;
    color:#5a3406;
    position:absolute;
    top:4px;
    left:-12px;
}
@media (max-width:1280px) {
    .subject_title_frame {
        padding: 6px;
        top: -34px;
    }

    .subject_title {
        min-width: 280px;
        font-size: 26px;
        border: 3px solid #f8cf5f;
        padding: 10px 30px;
    }
    .title_tag{
        top:-9px;
    }
    .title_tag_text{
        top:2px;
    }
}

@media (max-width:1024px) {
    .subject_title_frame {
        padding: 6px;
        top: -34px;
    }

    .subject_title {
        min-width: 270px;
        font-size: 24px;
        border: 3px solid #f8cf5f;
        padding: 8px 30px;
    }
}

@media (max-width:540px) {
    .subject_title_frame {
        padding: 5px;
        top: -33px;
    }

    .subject_title {
        min-width: 235px;
        font-size: 22px;
        border: 3px solid #f8cf5f;
    }
    .title_tag{
        width:80px;
        top:-6px;
    }
    .title_tag_text{
        font-size:20px;
        left:-13px;
        top:4px;
    }
}

@media (max-width:420px) {
    .subject_title {
        min-width: 215px;
        font-size: 20px;
        border: 2px solid #f8cf5f;
    }
    .title_tag{
        width:75px;
        top:-5px;
    }
    .title_tag_text{
        top:4px;
        left:-14px;
    }
}

.subject_content_title {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 5px;
}

.subject_content_text {
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}

@media (max-width:1024px) {
    .subject_content_title {
        font-size: 20px;
    }

    .subject_content_text {
        font-size: 16px;
    }
}

.subject_content_gift_row {
    width: 100%;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px dashed #feecd7;
}

@media (max-width:1024px) {
    .subject_content_gift_row {
        padding-bottom: 30px;
    }
}

.subject_content_gift_bg_1 {
    background-image: url(../image/subject_content_gift_bg_1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

.subject_content_gift_item {
    width: 250px;
    height: 250px;
    position: relative;
}

.subject_content_gift_img {
    border-radius: 50%;
    border: 8px solid #feecd7;
    overflow: hidden;
}

.subject_content_gift_item img {
    width: 100%;
    height: auto;
    display: block;
}

.subject_content_gift_price {
    width: auto;
    background-color: #cc1b35;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    word-break: keep-all;
    border-radius: 99px;
    padding: 5px 30px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

@media (max-width:1280px) {
    .subject_content_gift_item {
        width: 25%;
        height: auto;
    }

    .subject_content_gift_img {
        border: 6px solid #feecd7;
    }
}

@media (max-width:1024px) {
    .subject_content_gift_price {
        font-size: 16px;
    }
}

.subject_content_gift_item img {
    width: 100%;
}

.subject_content_gift_icon {
    height: 215px;
    margin: 0px 25px;
    display: flex;
    align-items: center;
}

@media (max-width:1280px) {
    .subject_content_gift_icon {
        height: auto;
        margin: 0px 10px;
    }

    .subject_content_gift_icon img {
        width: 20px;
    }
}

.subject_content_eligible_row {
    padding: 20px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.subject_content_eligible_item {
    width: calc(33.333% - 60px);
}

.subject_content_eligible_pic {
    width: 100%;
    height: auto;
    background-color: #fef3e7;
    border-radius: 12px;
    overflow: hidden;
}

.subject_content_eligible_pic img {
    width: 100%;
    height: auto;
    display: block;
}

.subject_content_eligible_text {
    width: 100%;
    font-size: 18px;
    color: #ffffff;
    word-break: break-all;
    padding: 10px 10px;
}

@media (max-width:1280px) {
    .subject_content_eligible_item {
        width: calc(33.333% - 30px);
    }

    .subject_content_eligible_text {
        font-size: 16px;
    }
}

.subject_content_eligible_icon {
    height: 215px;
    margin: 0px 25px;
    display: flex;
    align-items: center;
}

@media (max-width:1180px) {
    .subject_content_eligible_icon {
        height: auto;
        margin: 0px 10px;
        padding-top: 7vw;
    }

    .subject_content_eligible_icon img {
        width: 25px;
    }
}

@media (max-width:768px) {
    .subject_content_gift_bg_1 {
        background-image: none;
    }

    .subject_content_gift_item {
        width: 33.333%;
    }

    .subject_content_eligible_row {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .subject_content_eligible_item {
        width: 300px;
    }

    .subject_content_eligible_icon {
        width: 100%;
        height: auto;
        margin: 0px 0px 10px 0px;
        padding-top: 0vw;
        justify-content: center;
        transform: rotate(90deg);
    }
}

@media (max-width:640px) {
    .subject_content_gift_item {
        width: 40%;
    }
}

@media (max-width:540px) {
    .subject_content_gift_item {
        width: 50%;
    }

    .subject_content_eligible_item {
        width: 280px;
    }
}

@media (max-width:480px) {
    .subject_content_gift_row {
        flex-wrap: wrap;
    }

    .subject_content_gift_icon {
        width: 100%;
        justify-content: center;
    }

    .subject_content_gift_item {
        width: 60%;
    }

    .subject_content_title {
        font-size: 18px;
    }
}

@media (max-width:420px) {
    .subject_content_text {
        text-align: left;
    }

    .subject_content_title {
        text-align: left;
    }

    .subject_content_eligible_item {
        width: 100%;
    }
}

.subject_content_mgift_row {
    width: 100%;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px dashed #feecd7;
}

.subject_content_mgift_item {
    width: 25%;
    margin: 0px 15px;
    position: relative;
}

.subject_content_gift_img {
    border-radius: 50%;
    border: 8px solid #feecd7;
    overflow: hidden;
}

.subject_content_mgift_item img {
    width: 100%;
    height: auto;
    display: block;
}

.subject_content_gift_num {
    width: 60px;
    height: 60px;
    background-color: #cc1b35;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subject_content_gift_infor {
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
}

.subject_content_gift_title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.subject_content_gift_bg_2 {
    background-image: url(../image/subject_content_gift_bg_2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

@media (max-width:1180px) {
    .subject_content_mgift_row {
        padding: 0px 120px;
        flex-wrap: wrap;
    }

    .subject_content_mgift_item {
        width: calc(50% - 120px);
        margin: 30px 60px;
    }

    .subject_content_gift_infor {
        font-size: 16px;
    }

    .subject_content_gift_title {
        font-size: 20px;
    }

}

@media (max-width:1080px) {
    .subject_content_mgift_row {
        padding: 0px 100px;
        flex-wrap: wrap;
    }

    .subject_content_mgift_item {
        width: calc(50% - 100px);
        margin: 30px 50px;
    }

}

@media (max-width:960px) {
    .subject_content_mgift_row {
        padding: 0px 0px;
        flex-wrap: wrap;
    }

    .subject_content_mgift_item {
        width: 230px;
        margin: 30px 30px;
    }
}

@media (max-width:768px) {
    .subject_content_gift_bg_2 {
        background-image: none;
    }
}

@media (max-width:720px) {
    .subject_content_mgift_item {
        width: calc(50% - 60px);
        margin: 30px 30px;
    }
}

@media (max-width:640px) {
    .subject_content_mgift_item {
        width: calc(50% - 30px);
        margin: 20px 15px;
    }
}

@media (max-width:580px) {
    .subject_content_mgift_item {
        width: 250px;
    }
}

@media (max-width:480px) {
    .subject_content_mgift_item {
        width: 220px;
    }
}

.subject_content_window_row {
    display: flex;
}

.subject_content_window {
    width: calc(33.333% - 20px);
    background-color: #fef3e7;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 30px;
    position: relative;
}

.gift_window .subject_content_window:nth-child(1) {
    margin-right: 20px;
}

.gift_window .subject_content_window:nth-child(2) {
    margin-right: 10px;
    margin-left: 10px;
}

.gift_window .subject_content_window:nth-child(3) {
    margin-left: 20px;
}

.subject_content_window_title {
    width: 100%;
    background-color: #cc1b35;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    padding: 10px 20px;
}

.subject_content_window_content {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    color: #3c3c3c;
    padding: 15px 20px 20px 20px;
}

.pd_b_80 {
    padding-bottom: 80px;
}

.subject_content_btn_container {
    margin-top: 30px;
}

.subject_content_btn {
    width: 280px;
    background-color: #fef3e7;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #cc1b35;
    border: 3px solid #cc1b35;
    border-radius: 99px;
    margin: 0 auto;
    padding: 15px 30px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.subject_content_window_img {
    text-align: center;
}

.subject_content_window_list {
    margin-top: 10px;
}

.subject_content_window_list ul {
    padding-left: 20px
}

.subject_content_window_list li {
    list-style: disc;
    line-height: 1.4;
    margin-bottom: 5px;
}

.subject_content_window_btn {
    width: 86%;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #cc1b35;
    border: 3px solid #cc1b35;
    border-radius: 99px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px 20px;
    cursor: pointer;
    position: absolute;
    left: 7%;
    bottom: 20px;
}

.insure_window {
    flex-wrap: wrap;
    justify-content: center;
}

.insure_window .subject_content_window {
    width: calc(33.333% - 40px);
    margin: 40px 20px 0px 20px;
}

@media (max-width:1280px) {
    .insure_window .subject_content_window {
        width: calc(33.333% - 20px);
        margin: 20px 10px 0px 10px;
    }
}

@media (max-width:960px) {
    .subject_content_window_row {
        flex-wrap: wrap;
        justify-content: center;
    }

    .subject_content_window {
        width: calc(50% - 20px);
    }

    .gift_window .subject_content_window:nth-child(1) {
        margin-right: 10px;
        margin-left: 10px;
    }

    .gift_window .subject_content_window:nth-child(2) {
        margin-right: 10px;
        margin-left: 10px;
    }

    .gift_window .subject_content_window:nth-child(3) {
        margin-right: 10px;
        margin-left: 10px;
    }

    .subject_content_btn {
        width: calc(50% - 20px);
    }

    .insure_window .subject_content_window {
        width: calc(50% - 40px);
        margin: 40px 20px 0px 20px;
    }
}

@media (max-width:768px) {
    .subject_content_window {
        width: 100%;
    }

    .subject_content_btn {
        width: 90%;
        font-size: 20px;
    }

    .insure_window .subject_content_window {
        width: calc(50% - 20px);
        margin: 20px 10px 0px 10px;
    }
}

@media (max-width:640px) {

    .insure_window .subject_content_window {
        width: 100%;
        margin: 20px auto 0px auto;
    }
}

@media (max-width:420px) {
    .gift_window .subject_content_window:nth-child(1) {
        margin-right: 0px;
        margin-left: 0px;
    }

    .gift_window .subject_content_window:nth-child(2) {
        margin-right: 0px;
        margin-left: 0px;
    }

    .gift_window .subject_content_window:nth-child(3) {
        margin-right: 0px;
        margin-left: 0px;
    }
}

.subject_container_list {}

.subject_container_list ul {
    font-size: 18px;
    color: #ffffff;
    padding-left: 25px;
}

.subject_container_list li {
    list-style: decimal;
    line-height: 1.4;
    margin-bottom: 10px;
}

.subject_container_list_btn {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
}

.subject_container_list_btn span {
    cursor: pointer;
}

@media (max-width:1024px) {
    .subject_container_list ul {
        font-size: 16px;
    }

    .subject_container_list_btn {
        font-size: 20px;
    }
}

.footer {
    color: #ffffff;
    text-align: center;
    position: relative;
    top: -25px;
}

.pup_bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 299;
}

.hvr-top {
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-top:hover,
.hvr-top:focus,
.hvr-top:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
