@charset "utf-8";

/* 搜尋視窗 */
.search-window-black{width:100%;height:100%;background-color:rgba(0,0,0,0.6);position:fixed;top:0px;left:0px;z-index:20;}
.search-window-container{width:1023px;height:auto;background-image:url(../image/search-window-bg.jpg);background-color:#f5f5f5;background-repeat:repeat-x;background-position:top center;border-radius:20px;position:absolute;top:100px;left:50%;margin-left:-512px;z-index:30;}
.search-window-container ul:after{content:" ";display:block;clear:both;}
.search-window-container li{width:341px;height:58px;font-size:25px;color:#4c2400;text-align:center;border-left:1px solid #fdde7f;border-right:2px solid #4c2400;padding-top:12px;cursor:pointer;float:left;}
.search-window-container li:first-child{border-top-left-radius:20px;border-left:0px;}
.search-window-container li:last-child{border-top-right-radius:20px;border-right:0px;}
.search-window-container li.active{color:#ffffff;background-image:url(../image/search-window-bg-hover.jpg);background-position:bottom center;background-repeat:repeat-x;}
.search-window-container li i{margin-right:1px;}
.fa-search-plus{font-size:23px !important;position:relative;top:-2px;}
.fa-compass{font-size:26px !important;}
.fa-tag{font-size:23px !important;}
.search-input-container{width:100%;padding:0 14px;position:relative;}
.search-input-container:after{content:" ";display:block;clear:both;}
.search-input-container > .w33{width:33.333%;float:left;padding:0 14px;}
.search-input-container > .w100{width:100%;padding:0 14px;}
.search-input{
width:100%;height:58px;
background-color:#f5f5f5;
font-size:22px;color:#4e4e4e;letter-spacing:1px;
border:none;border:2px solid #a1a1a1;border-radius:10px;
margin-top:28px;padding-left:15px;
}
.search-input-container > .w33 div{padding-top:12px;}
.search-input-container > .w33 > .select-arrow {background-image:url(../image/select-arrow.png);background-repeat:no-repeat;background-position:94% 24px;cursor:pointer;}
.search-bu-container{margin-top:42px;margin-bottom:42px;text-align:center;}
.search-bu{width:170px;height:62px;font-size:29px;text-shadow: 0 2px 2px rgba(0,0,0,0.6);letter-spacing:1px;border-bottom:3px solid #003380;margin:0 20px;padding-top:10px;display:inline-block;}
.search-pup-window-container{width:100%;position:absolute;top:-58px;left:0px;}
.search-pup-white{width:100%;background-color:rgba(255,255,255,0.5);border-radius:20px;position:relative;}
.white-big{height:379px;}
.white-small-1{height:390px;}
.white-small-2{height:435px;}
.search-pup-window{width:400px;height:auto;background-color:#ffffff;color:#4e4e4e;border:3px solid #ff8a00;border-radius:20px;margin:0 auto;padding:10px 15px;position:absolute;left:50%;margin-left:-200px;top:0px;}
.search-pup-title{font-size:22px;position:relative;}
.search-pup-tip{font-size:20px;}
.search-pup-line{height:1px;background-color:#c9c9c9;margin:10px 0px;}
.search-pup-choice{margin:6px 0px;}
.search-pup-choice:after{content:" ";display:block;clear:both;}
.search-pup-choice > .w50{width:50%;font-size:20px;float:left;margin:4px 0px;}
.search-pup-choice > .w33{width:33.333%;font-size:20px;float:left;margin:4px 0px;}
.search-pup-choice input{transform:scale(1.6);margin-right:5px;}
.search-pup-bu-container{text-align:center;margin-top:18px;margin-bottom:10px;}
.search-pup-bu{width:110px;height:48px;font-size:24px;text-shadow: 0 2px 2px rgba(0,0,0,0.6);letter-spacing:1px;border-bottom:3px solid #003380;padding-top:6px;display:inline-block;}
.search-pup-bu:nth-child(1){margin-right:6px;}
.search-pup-bu:nth-child(2){margin-left:6px;}
/* 搜尋視窗 end */
/* 搜尋視窗 RWD*/
@media (max-width:1024px){
.search-window-container{width:94%;margin:0 3%;top:50px;left:0%;}
.search-window-container li{width:34%;}
.search-window-container li:first-child{width:33%;}
.search-window-container li:last-child{width:33%;}
}
@media (max-width:870px){
.search-window-container{background-size:auto 56px;}
.search-window-container li.active{background-size:auto 56px;}
.search-window-container li{height:49px;font-size:22px;padding-top:10px;}
.fa-search-plus{font-size:20px !important;}
.fa-compass{font-size:23px !important;}
.fa-tag{font-size:20px !important;}
.search-input-container{padding:0 8px;}
.search-input{height:52px;font-size:20px;padding-left:10px;margin-top:22px;}
.search-input-container > .w33,.search-input-container > .w100{padding:0px 8px;}
.search-input-container > .w33 div{padding-top:11px;}
.search-bu-container{margin-top:33px;margin-bottom:33px;}
.search-bu{width:160px;height:58px;font-size:26px;}
.search-pup-window-container{top:-49px;}
.white-big{height:321px;}
.white-small-1{height:370px;}
.white-small-2{height:410px;}
.search-pup-title{font-size:20px;}
.search-pup-tip{font-size:18px;}
.search-pup-choice > .w50{font-size:18px;}
.search-pup-choice > .w33{font-size:18px;}
.search-pup-choice input{transform:scale(1.4);}
.search-pup-bu{width:100px;height:45px;font-size:22px;}
}
@media (max-width:700px){
.search-input-container > .w33{width:50%;}
.white-big{height:395px;}	
}
@media (max-width:500px){
.search-window-container li{font-size:20px;padding-top:11px;}
.fa-search-plus{font-size:18px !important;}
.fa-compass{font-size:21px !important;}
.fa-tag{font-size:18px !important;}
.search-input {height:48px;font-size:19px;border:none;border:1px solid #a1a1a1;padding-left:6px;margin-top:18px;}
.search-input-container > .w33 > .select-arrow {background-position:94% 20px;background-size:14px 8px;}
.search-bu{width:140px;height:52px;font-size:24px;margin:0px 12px;padding-top:8px;}
.white-big{height:365px;}
.white-small-1{height:350px;}
.white-small-2{height:395px;}
.search-pup-title{font-size:19px;}
.search-pup-tip{font-size:17px;}
.search-pup-choice > .w50{font-size:17px;}
.search-pup-choice > .w33{font-size:17px;}
.search-pup-choice input{transform:scale(1.2);}
.search-pup-bu{width:94px;height:42px;font-size:21px;padding-top:5px;}
.search-pup-bu:nth-child(1){margin-right:10px;}
.search-pup-bu:nth-child(2){margin-left:10px;}
.search-pup-window{width:330px;margin-left:-165px;}	
}
@media (max-width:420px){
.search-window-container li i{display:none;}
.search-input-container > .w33{width:100%;}
.search-input{margin-top:14px;}
.search-input-container {padding-top:8px;}
.search-bu-container{margin-top:22px;margin-bottom:22px;}
.search-bu{width:130px;height:48px;font-size:22px;margin:0px 10px;padding-top:7px;}
.white-big{height:521px;}	
}
/* 搜尋視窗 RWD end*/

/* 視窗 */
.window-black{width:100%;height:100%;background-color:rgba(0,0,0,0.6);position:fixed;top:0px;left:0px;z-index:20;}
.window-title{padding-top:18px;padding-left:20px;}
.window-close{position:absolute;top:-47px;right:0px;cursor:pointer;}
.window-container{width:100%;height:100%;position:relative;padding-top:42px;}
.window-input-row{width:100%;padding:0 19px;margin-bottom:19px;}
.window-input-row input{width:100%;height:54px;background-color:#f5f5f5;font-size:22px;color:#4e4e4e;letter-spacing:1px;;border:none;border:1px solid #a1a1a1;border-radius:10px;padding-left:15px;}
/* 視窗 */
/* 視窗 RWD */
@media (max-width:670px){
.window-container{padding-top:38px;}
.window-title{padding-top:16px;padding-left:12px;}
.window-title img{height:22px;}
.window-close{width:98px;top:-42px;}
.window-input-row input{height:50px;font-size:20px;}
}
@media (max-width:400px){
.window-container{padding-top:24px;}
.window-title{padding-top:16px;padding-left:12px;}
.window-title img{height:20px;}
.window-close{width:90px;top:-40px;}
.window-input-row input{height:45px;font-size:18px;}
}
/* 視窗 RWD end*/

/* 左側視窗 */
.left-window-area{
width:342px;height:100%;color:#4e4e4e;
background-image:url(../image/window-bar-bg.jpg);background-color:#f5f5f5;background-repeat:repeat-x;background-position:top center;
border-top-left-radius:0px;border-top-right-radius:20px;border-bottom-right-radius:0px;border-bottom-left-radius:0px;
position:fixed;top:0px;left:-342px;z-index:30;
transition-duration:0.6s;
}
.left-mem-window-area{
width:600px;height:100%;color:#4e4e4e;
background-image:url(../image/window-bar-bg.jpg);background-color:#f5f5f5;background-repeat:repeat-x;background-position:top center;
border-top-left-radius:0px;border-top-right-radius:20px;border-bottom-right-radius:0px;border-bottom-left-radius:0px;
position:fixed;top:0px;left:-600px;z-index:30;
transition-duration:0.6s;
}
.left-move{left:0px;transition-duration:0.5s;}
/* 左側視窗 end */
/* 左側視窗 RWD */
@media (max-width:670px){.left-window-area{width:300px;left:-300px;background-size:100% 62px;}.left-mem-window-area{width:550px;left:-550px;background-size:100% 62px;}.left-move{left:0px;}}
@media (max-width:550px){.left-mem-window-area{width:400px;}.left-move{left:0px;}}
@media (max-width:400px){.left-window-area{width:260px;left:-260px;background-size:100% 58px;}.left-mem-window-area{width:350px;left:-380px;background-size:100% 58px;}.left-move{left:0px;}}
/* 左側視窗 RWD end*/
/* 左側視窗-登入 */
.login-input{padding-left:41px !important;}
.icon-member{background-image:url(../image/input-icon-member.jpg);background-repeat:no-repeat;background-position:center left;}
.icon-password{background-image:url(../image/input-icon-password.jpg);background-repeat:no-repeat;background-position:center left;}
.bu-login{width:142px;height:59px;font-size:28px;letter-spacing:2px;border-bottom:4px solid #003380;margin:0 auto;margin-top:38px;padding-top:9px;}
.login-tip{font-size:18px;text-align:center;color:#0063cc;margin-top:53px;}
.login-tip span{cursor:pointer;}
/* 左側視窗-登入 end */
/* 左側視窗-登入 RWD */
@media (max-width:670px){
.login-input{background-size:32px 17px;padding-left:37px !important;}
.bu-login{width:132px;height:55px;font-size:26px;padding-top:9px;margin-top:34px;}
.login-tip{margin-top:45px;font-size:17px;}
}
@media (max-width:400px){
.login-input{background-size:30px 16px;padding-left:35px !important;}
.bu-login{width:110px;height:46px;font-size:22px;padding-top:6px;margin-top:32px;}
.login-tip{margin-top:35px;font-size:16px;}
}
/* 左側視窗 RWD end*/

/* 左側視窗-會員功能 */
.mem-infor-container{padding:0 25px;position:relative;border-bottom:1px solid #c5c5c5;padding-bottom:26px;}
.mem-infor-container img{border-radius:50%;-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.5);-moz-box-shadow:0 2px 5px rgba(0,0,0,0.5);box-shadow:0 2px 5px rgba(0,0,0,0.5);position:absolute;top:0px;left:25px;}
.mem-infor{padding-top:10px;padding-left:85px;letter-spacing:1px;}
.mem-name{font-size:28px;font-weight:bold;}
.mem-name span{font-size:24px;font-weight:normal;}
.mem-point{font-size:20px;margin-top:-2px;}
.mem-point i{font-size:17px !important;position:relative;top:-1px;left:2px;}
.mem-choice-area{height:auto;max-height:calc(100vh - 200px);overflow:scroll;}
.mem-choice{font-size:24px;padding:25px 32px;padding-left:48px;border-bottom:1px solid #c5c5c5;cursor:pointer;}
.mem-choice i{margin-right:5px;position:relative;}
.mem-choice > span{font-size:20px;float:right;}
.mem-choice > span .fa-chevron-right{top:4px;right:0px;position:relative;-webkit-transition-duration:0.5s;transition-duration:0.5s;}
.mem-choice:hover .fa-chevron-right{right:-10px;}
.mem-choice .fa-product-hunt{font-size:21px !important;top:-2px;}
.mem-choice .fa-bookmark{font-size:22px !important;top:-1px;left:1px;}
.mem-choice .fa-book{font-size:25px !important;}
.mem-choice .fa-calendar-plus-o , .mem-choice .fa-calendar{font-size:21px !important;top:-2px;}
/* 左側視窗-會員功能 end */
/* 左側視窗-會員功能 RWD */
@media (max-width:670px){
.mem-infor-container{padding:0 21px;padding-bottom:22px;}
.mem-infor-container img{width:68px;left:20px;}
.mem-infor{padding-left:80px;}
.mem-name{font-size:26px;}
.mem-name span{font-size:22px;}
.mem-point{font-size:18px;}
.mem-point i{font-size:15px !important;}
.mem-choice-area{max-height:calc(100vh - 180px);}
.mem-choice{font-size:22px;padding:20px 28px;padding-left:42px;}
.mem-choice > span{font-size:18px;}
.mem-choice .fa-product-hunt{font-size:18px !important;}
.mem-choice .fa-bookmark{font-size:20px !important;}
.mem-choice .fa-book{font-size:22px !important;}
.mem-choice .fa-calendar-plus-o , .mem-choice .fa-calendar{font-size:18px !important;}
}
@media (max-width:400px){
.mem-infor-container{padding:0 12px;padding-bottom:18px;}
.mem-infor-container img{width:60px;left:15px;}
.mem-infor{padding-left:70px;}
.mem-name{font-size:24px;}
.mem-name span{font-size:20px;}
.mem-point{font-size:17px;}
.mem-point i{font-size:14px !important;}
.mem-choice-area{max-height:calc(100vh - 165px);}
.mem-choice{font-size:20px;padding:16px 24px;padding-left:34px;}
.mem-choice > span{font-size:17px;}
.mem-choice .fa-product-hunt{font-size:16px !important;}
.mem-choice .fa-bookmark{font-size:18px !important;}
.mem-choice .fa-book{font-size:20px !important;}
.mem-choice .fa-calendar-plus-o , .mem-choice .fa-calendar{font-size:16px !important;}
}
/* 左側視窗-會員功能 RWD end */

/* 左側視窗-會員功能-候選教師 */
.match-input-area{width:100%;padding:0 25px;}
.match-input-area:after{content:" ";display:block;clear:both;}
.match-input-container{width:230px;float:left;}
.match-input-area > .match-input-container:nth-child(2){margin-left:12px;}
.match-input{width:100%;height:40px;background-color:#f5f5f5;font-size:20px;color:#0063cc;letter-spacing:1px;border:1px solid #0063cc;padding-left:12px;}
.match-input-container > .select-arrow {background-image:url(../image/select-arrow-blue.png);background-repeat:no-repeat;background-position:94% 17px;}
.match-clear{font-size:20px;color:#0063cc;margin-top:20px;padding:0 25px;}
.match-clear i{margin-right:2px;}
.match-clear span{cursor:pointer;}
.match-time-container{width:100%;padding:0 25px;margin:16px 0;}
.match-time{width:116px;font-size:18px;font-family:'arial';color:#4e4e4e;letter-spacing:1px;text-align:center;margin:0 10px;display:inline-block;}
.match-time-line{width:calc(50% - 72px);height:1px;background-color:#c9c9c9;position:relative;top:-7px;display:inline-block;}
.match-teacher-area{width:100%;height:auto;max-height:calc(100vh - 250px);padding:0 25px;overflow:scroll;}
.match-teacher{
width:48.5%;height:211px;
background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
border:1px solid #e5e5e5;border-radius:10px;
-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.5);-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.5);box-shadow: 0 2px 4px rgba(0,0,0,0.5);
margin-bottom:20px;position:relative;float:left;
}
.match-teacher:nth-child(odd){margin-right:1.5%;}
.match-teacher:nth-child(even){margin-left:1.5%;}
.match-teacher-left{width:120px;height:auto;position:relative;left:-1px;float:left;}
.match-teacher-pic{width:100%;height:210px;background-image:url(../image/t-headpic.jpg);background-position:top center;background-repeat:no-repeat;border:3px solid #ffae00;border-radius:10px;}
.match-teacher-name{width:100%;height:42px;background-image:url(../image/match-teacher-bg.jpg);font-size:22px;color:#380d00;text-align:center;bottom:0px;border-top-left-radius:0px;border-top-right-radius:0px;border-bottom-right-radius:10px;border-bottom-left-radius:10px;position:absolute;padding-top:6px;}
.match-teacher-right{width:calc(100% - 120px);font-size:20px;letter-spacing:1px;float:left;}
.match-clear-this{color:#0063cc;text-align:right;border-bottom:1px solid #e5e5e5;padding:6px 10px;}
.match-clear-this span{cursor:pointer;}
.match-teacher-text{padding:10px 10px;}
.match-teacher-text img{width:20px;margin-left:2px;}
.match-text-price{margin-bottom:5px;}
.match-text-star{margin-bottom:10px;}
.match-bu-other{color:#0063cc;text-align:right;}
.match-bu-other i{margin-right:2px;}
.match-bu-other span{border-bottom:1px solid #0063cc;cursor:pointer;}
.match-get-class{
width:100%;height:42px;
font-size:22px;color:#ffffff;text-align:right;
border-top-left-radius:0px;border-top-right-radius:0px;border-bottom-right-radius:10px;border-bottom-left-radius:10px;
background: #0090ff;
background: -moz-linear-gradient(top, #0090ff 0%, #0043a8 100%);
background: -webkit-linear-gradient(top, #0090ff 0%,#0043a8 100%);
background: linear-gradient(to bottom, #0090ff 0%,#0043a8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0090ff', endColorstr='#0043a8',GradientType=0 );
padding-top:6px;padding-right:17px;
position:absolute;bottom:-1px;right:-1px;
cursor:pointer;
}
.match-get-class i{margin-right:3px;}
.match-text-other-window{width:calc(100% + 1px);height:210px;background-color:#f5f5f5;font-size:18px;line-height:24px;border:3px solid #ffae00;border-radius:10px;position:absolute;top:0px;left:0px;padding:7px 8px;}
.match-text-close{font-size:22px;font-family:'arial';color:#0063cc;font-weight:bold;cursor:pointer;position:absolute;top:0px;right:0px;}
.match-text-other{width:100%;height:100%;position:relative;}
.match-text-other div{margin-bottom:4px;}
.match-text-day span{font-size:16px;}
.match-bu-page{width:100%;color:#0063cc;text-align:right;position:absolute;left:0px;bottom:2px;}
.match-bu-page i{margin-right:2px;}
.match-bu-page span{border-bottom:1px solid #0063cc;cursor:pointer;}
/* 左側視窗-會員功能-候選教師 end */
/* 左側視窗-會員功能-候選教師 RWD */
@media (max-width:670px){
.match-input{height:36px;font-size:19px;padding-left:10px;}
.match-input-container > .select-arrow {background-size:15px auto;background-position:94% 14px;}
.match-input-area{padding:0 15px;}
.match-clear{font-size:19px;margin-top:16px;padding:0 15px;}
.match-time-container{padding:0 15px;margin:12px 0;}
.match-time{width:92px;font-size:17px;}
.match-time-line{width:calc(50% - 60px);}
.match-teacher-area{padding:0 15px;max-height:calc(100vh - 223px);}
.match-teacher-name{font-size:21px;padding-top:7px;}
.match-get-class{font-size:20px;padding-top:7px;padding-right:11px;}
.match-teacher-right{font-size:19px;letter-spacing:0px;}
.match-text-star{margin-bottom:16px;}
.match-text-other-window{font-size:17px;line-height:22px;}
.match-text-close{font-size:21px;}
.match-text-day span{font-size:15px;}	
}
@media (max-width:550px){
.match-input-container{width:179px;}
.match-input{height:34px;font-size:18px;letter-spacing:0px;}
.match-clear{font-size:18px;}
.match-teacher-area{max-height:calc(100vh - 220px);padding:0 25px;}
.match-teacher-left{width:140px;}
.match-teacher-right{width:calc(100% - 140px);}
.match-teacher{width:100%;height:191px;}
.match-teacher:nth-child(odd){margin-right:0%;}
.match-teacher:nth-child(even){margin-left:0%;}
.match-teacher-pic{height:190px;}
.match-get-class{padding-right:63px;}
.match-text-other-window{height:192px;font-size:18px;line-height:24px;padding:10px 10px;}
.match-text-close{font-size:22px;}
.match-text-star {margin-bottom:2px;}
.match-text-day span{font-size:16px;}	
}
@media (max-width:400px){
.match-input-container{width:150px;}
.match-input-container > .select-arrow {background-size:12px auto;}
.match-input{font-size:17px;padding-left:8px;}
.match-clear{font-size:17px;margin-top:14px;}
.match-time{font-size:16px;}
.match-teacher-area{max-height:calc(100vh - 210px);}
.match-teacher-left{width:130px;}
.match-teacher-pic{height:180px;}
.match-teacher{height:181px;}
.match-teacher-right{width:calc(100% - 130px);font-size:18px;}
.match-text-price{margin-bottom:2px;}
.match-text-star{margin-bottom:3px;}
.match-teacher-name{font-size:21px;padding-top:7px;}
.match-get-class{font-size:19px;padding-top:8px;padding-right:41px;}
.match-text-other-window{height:182px;font-size:17px;line-height:20.5px;padding:7px 8px;}
.match-text-close{font-size:21px;}
.match-text-day span{font-size:15px;}
}
/* 左側視窗-會員功能-候選教師 RWD end*/

/* 左側視窗-會員功能-課程表單 */
.form-get-class-area{width:100%;height:auto;max-height:calc(100vh - 160px);padding:0 25px;overflow:scroll;}
.form-title-container{width:100%;margin-top:10px;margin-bottom:15px;}
.form-title{width:110px;display:inline-block;}
.form-title i{font-size:24px !important;}
.form-title span{font-size:22px;letter-spacing:1px;margin-left:3px;}
.form-line-1{width:calc(100% - 265px);height:1px;background-color:#c9c9c9;position:relative;top:-7px;margin:0px 10px;display:inline-block;}
.form-line-2{width:calc(100% - 120px);height:1px;background-color:#c9c9c9;position:relative;top:-7px;margin-left:10px;display:inline-block;}
.form-title-tip{font-size:22px;letter-spacing:1px;}
.form-title-tip input[type="checkbox"]{transform:scale(1.6,1.6);position:relative;top:-1px;}
.form-input-row{width:100%;}
.form-input-row:after{content:" ";display:block;clear:both;}
.form-input-row input,.form-input-row select,.form-input-row textarea,.form-input-row .form-open-pup{width:100%;height:54px;background-color:#f5f5f5;font-size:22px;color:#4e4e4e;letter-spacing:1px;border:none;border:1px solid #a1a1a1;border-radius:10px;}
.form-input-row > .w100{width:100%;}
.form-input-row > .w66{width:66.666%;float:left;padding-right:9px;}
.form-input-row > .w50{width:50%;float:left;}
.form-input-row > .w50:nth-child(1){padding-right:4px;}
.form-input-row > .w50:nth-child(2){padding-left:4px;}
.form-input-row > .w33{width:33.333%;float:left;}
.form-input-row > .w25{width:25%;float:left;}
.form-input-row > .w33:nth-child(1){padding-right:9px;}
.form-input-row > .w33:nth-child(2){padding:0px 5px;}
.form-input-row > .w33:nth-child(3){padding-left:9px;}
.form-input-row > .w25:nth-child(1){padding-right:9px;}
.form-input-row > .w25:nth-child(2){padding-left:3px;padding-right:6px;}
.form-input-row > .w25:nth-child(3){padding-right:3px;padding-left:6px;}
.form-input-row > .w25:nth-child(4){padding-left:9px;}
.form-input{padding-left:12px;margin-bottom:19px;}
.form-open-pup{padding-left:12px;padding-top:11px;margin-bottom:19px;}
.form-input-row .select-arrow {background-image:url(../image/select-arrow.png);background-repeat:no-repeat;background-position:94% 24px;}
.form-input::-webkit-input-placeholder{color:#4e4e4e;}
.form-input::-moz-placeholder{color:#4e4e4e;}
.form-input:-ms-input-placeholder{color:#4e4e4e;}
.form-input:-moz-placeholder{color:#4e4e4e;}
.form-tip-1{font-size:19px;letter-spacing:0.5px;}
.form-tip-2{font-size:19px;letter-spacing:0.5px;position:relative;top:-16px;}
.form-tip-1 a{color:#0063cc;}
.form-tip-2 a{color:#0063cc;}
.form-textarea{height:110px !important;padding:14px;padding-top:8px;}
.bu-sent{width:180px;height:70px;font-size:30px;letter-spacing:2px;text-shadow: 0 2px 2px rgba(0,0,0,0.6);border-bottom:4px solid #003380;margin:0 auto;margin-top:38px;padding-top:12px;}
.form-add-class-1{text-align:center;}
.form-add-class-2{margin-bottom:9px;}
.form-add-class-3{border-bottom:1px solid #c9c9c9;margin-bottom:9px;}
.form-add-class-4{padding:0 25px;margin-bottom:10px;}
/* 左側視窗-會員功能-課程表單 end*/
/* 左側視窗-會員功能-課程表單 RWD*/
@media (max-width:670px){
.form-get-class-area{max-height:calc(100vh - 150px);padding:0 15px;padding-bottom:30px;}
.form-title-container{margin-bottom:12px;}
.form-title{width:105px;}
.form-title i{font-size:23px !important;}
.form-title span{font-size:21px;letter-spacing:1px;margin-left:3px;}
.form-title-tip input[type="checkbox"]{transform:scale(1.5,1.5);}
.form-line-1{width:calc(100% - 255px);}
.form-line-2{width:calc(100% - 115px);}
.form-title-tip{font-size:21px;letter-spacing:1px;}
.form-input-row input,.form-input-row select,.form-input-row textarea,.form-input-row .form-open-pup{height:50px;font-size:21px;}
.form-input-row .select-arrow {background-size:15px auto;background-position:94% 22px;}
.form-tip-1{font-size:18px;}
.form-tip-2{font-size:18px;top:-12px;}
.form-input{padding-left:10px;margin-bottom:16px;}
.form-open-pup{padding-top:10px;margin-bottom:16px;}
.form-textarea{height:100px !important;line-height:26px;padding:12px;padding-top:6px;}
.bu-sent {width:160px;height:62px;font-size:27px;letter-spacing:1px;margin-top:25px;padding-top:11px;}
.form-add-class-4{padding:0 15px;}
}
@media (max-width:550px){
.form-get-class-area{max-height:calc(100vh - 130px);}
.form-title-container{margin-top:10px;margin-bottom:10px;}
.form-title{width:98px;}
.form-title i{font-size:22px !important;}
.form-title span{font-size:20px;letter-spacing:0.5px;}
.form-title-tip input[type="checkbox"]{transform:scale(1.4,1.4);top:0px;}
.form-line-1{width:calc(100% - 242px);}
.form-line-2{width:calc(100% - 113px);}
.form-title-tip{font-size:20px;letter-spacing:0.5px;}
.form-input-row input,.form-input-row select,.form-input-row textarea,.form-input-row .form-open-pup{height:48px;font-size:20px;}
.form-input-row > .w66{width:100%;padding-right:0px;}
.form-input-row > .w50{width:100%;}
.form-input-row > .w50:nth-child(1){padding-right:0px;}
.form-input-row > .w50:nth-child(2){padding-left:0px;}
.form-input-row > .w33{width:100%;}
.form-input-row > .w25{width:50%;}
.form-input-row > .w33:nth-child(1){padding-right:0px;}
.form-input-row > .w33:nth-child(2){padding:0px 0px;}
.form-input-row > .w33:nth-child(3){padding-left:0px;}
.form-input-row > .w25:nth-child(1){padding-right:6px;}
.form-input-row > .w25:nth-child(2){padding-left:6px;padding-right:0px;}
.form-input-row > .w25:nth-child(3){padding-right:6px;padding-left:0px;}
.form-input-row > .w25:nth-child(4){padding-left:6px;}
.form-input{padding-left:8px;margin-bottom:12px;}
.form-tip-1{font-size:17px;position:relative;top:-8px;}
.form-tip-2 {font-size:17px;top:-10px;margin-bottom:0px;}
.form-open-pup{padding-top:9px;padding-left:8px;margin-bottom:12px;}
.form-textarea{height:90px !important;line-height:24px;padding:10px;padding-top:7px;}
.form-add-class-4{margin-bottom:0px;}
}
@media (max-width:400px){
.form-get-class-area{max-height:calc(100vh - 126px);}
.form-title{width:93px;}
.form-title i{font-size:21px !important;}
.form-title span{font-size:19px;}
.form-line-1{width:calc(100% - 234px);}
.form-line-2{width:calc(100% - 113px);}
.form-title-tip{font-size:19px;}
.form-input-row input,.form-input-row select,.form-input-row textarea,.form-input-row .form-open-pup{height:44px;font-size:19px;}
.form-tip-1{font-size:16px;}
.form-tip-2 {font-size:16px;}
.form-textarea{height:82px !important;line-height:23px;padding:8px;padding-top:4px;}
.bu-sent {width:140px;height:54px;font-size:24px;margin-top:20px;padding-top:9px;}
}
/* 左側視窗-會員功能-課程表單 RWD end*/

/* 左側視窗-會員功能-申請中課程 */
.apply-input-area{width:100%;padding:0 25px;margin-bottom:25px;}
.apply-input-area:after{content:" ";display:block;clear:both;}
.apply-input-container{width:230px;float:left;}
.apply-input-area > .apply-input-container:nth-child(2){margin-left:12px;}
.apply-input{width:100%;height:40px;background-color:#f5f5f5;font-size:20px;color:#0063cc;letter-spacing:1px;border:1px solid #0063cc;padding-left:12px;}
.apply-input-container > .select-arrow {background-image:url(../image/select-arrow-blue.png);background-repeat:no-repeat;background-position:94% 17px;}
.apply-class-area{width:100%;height:auto;max-height:calc(100vh - 165px);padding:0 25px;overflow:scroll;}
.apply-class-container{width:100%;height:100px;margin-bottom:15px;position:relative;}
.apply-class-container:after{content:" ";display:block;clear:both;}
.apply-class-main{
width:calc(100% - 106px);height:100%;
background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
background: -webkit-linear-gradient(top, #ffffff 0%,#f0f0f0 100%);
background: linear-gradient(to bottom, #ffffff 0%,#f0f0f0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );
border-radius:10px;
-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.4);
-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.4);
box-shadow: 0 2px 5px rgba(0,0,0,0.4);
float:left;
}
.apply-class-main:after{content:" ";display:block;clear:both;}
.apply-day-number{
width:98px;height:100%;text-align:center;color:#ffffff;
background: #0090ff;
background: -moz-linear-gradient(top, #0090ff 1%, #0043a8 100%);
background: -webkit-linear-gradient(top, #0090ff 1%,#0043a8 100%);
background: linear-gradient(to bottom, #0090ff 1%,#0043a8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0090ff', endColorstr='#0043a8',GradientType=0 );
border-top-left-radius:10px;border-top-right-radius:0px;border-bottom-right-radius:0px;border-bottom-left-radius:10px;
float:left;
}
.apply-day-number .apply-day{font-size:60px;font-family:'arial';font-weight:bold;padding-top:3px;}
.apply-day-number .apply-number{font-size:24px;margin-top:-12px;}
.apply-text-infor{width:calc(100% - 98px);font-size:19px;float:left;padding:9px 12px;}
.apply-text-infor div{margin-bottom:3px;}
.apply-text-infor span{width:50%;display:inline-block;}
.apply-class-cancel{
width:98px;height:100%;
font-size:17px;color:#ffffff;text-align:center;letter-spacing:1px;
background: #0090ff;
background: -moz-linear-gradient(top, #0090ff 1%, #0043a8 100%);
background: -webkit-linear-gradient(top, #0090ff 1%,#0043a8 100%);
background: linear-gradient(to bottom, #0090ff 1%,#0043a8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0090ff', endColorstr='#0043a8',GradientType=0 );
border-bottom:4px solid #003380;
margin-left:8px;
display:inline-block;
-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.4);
-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.4);
box-shadow: 0 2px 5px rgba(0,0,0,0.4);
padding-top:14px;
float:left;
}
.apply-class-cancel i{font-size:50px !important;}
.apply-class-cancel div{margin-bottom:3px;}
.apply-other-infor{color:#0063cc;letter-spacing:3px;cursor:pointer;display:inline !important;}
.apply-other-infor a{color:#0063cc;letter-spacing:0.5px;}
.apply-other-window-container{width:100%;height:calc(100% + 2px);font-size:19px;background-color:#ffffff;border:3px solid #ffae00;position:absolute;top:0px;left:0px;padding:7px 9px;}
.apply-other-window{width:100%;position:relative;}
.apply-other-window div{margin-bottom:3px;}
.apply-other-window span{width:50%;display:inline-block;}
.apply-window-close{font-size:22px;font-family:'arial';color:#0063cc;font-weight:bold;cursor:pointer;position:absolute;top:-3px;right:0px;}
/* 左側視窗-會員功能-申請中課程 end*/
/* 左側視窗-會員功能-申請中課程 RWD */
@media (max-width:670px){
.apply-input{height:36px;font-size:19px;padding-left:10px;}
.apply-class-container{height:95px;}
.apply-input-container > .select-arrow {background-size:15px auto;background-position:94% 14px;}
.apply-input-area{padding:0 15px;}
.apply-class-area{max-height:calc(100vh - 150px);padding:0px 15px;}
.apply-class-main{width:calc(100% - 96px);}
.apply-day-number{width:88px;}
.apply-day-number .apply-day{font-size:55px;}
.apply-day-number .apply-number{font-size:22px;}
.apply-text-infor{width:calc(100% - 88px);font-size:18px;padding:9px 9px;}
.apply-class-cancel{width:88px;font-size:16px;padding-top:12px;}
.apply-class-cancel i{font-size:46px !important;}
.apply-class-cancel div{margin-bottom:5px;}
.apply-other-window-container{font-size:18px;}
}
@media (max-width:550px){
.apply-input-area{margin-bottom:15px;}
.apply-input-container{width:179px;}
.apply-input{height:34px;font-size:18px;letter-spacing:0px;}
.apply-class-area{max-height:calc(100vh - 140px);}
.apply-class-container{height:auto;}
.apply-day-number{
width:100%;height:40px;text-align:left;
border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-right-radius:0px;border-bottom-left-radius:0px;
padding-top:5px;padding-left:10px;
float:none;}
.apply-day-number .apply-day{font-size:26px;margin-right:2px;display:inline;position:relative;top:1px;}
.apply-day-number .apply-number{font-size:22px;margin-top:0px;display:inline;}
.apply-text-infor{width:100%;}
.apply-text-infor{padding:6px 9px;}
.apply-text-infor div{margin-bottom:3px;}
.apply-class-main{width:100%;}
.apply-class-cancel{width:auto;height:40px;background:none;font-size:18px;position:absolute;top:10px;right:0px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border-bottom:0px solid #003380;padding-top:0px;padding-right:10px;}
.apply-class-cancel i{display:none;}
.apply-class-cancel div{margin-bottom:0px;display:inline;}
.apply-other-window-container{padding:9px;line-height:24px;}
.apply-other-window div{margin-bottom:5px;}
}
@media (max-width:400px){
.apply-input-container{width:150px;}
.apply-input-container > .select-arrow {background-size:12px auto;}
.apply-input{font-size:17px;padding-left:8px;}
.apply-class-area{max-height:calc(100vh - 133px);}
.apply-day-number{height:36px;padding-top:3px;}
.apply-day-number .apply-day{font-size:25px;}
.apply-day-number .apply-number{font-size:21px;}
.apply-class-cancel{font-size:17px;top:7px;}
.apply-text-infor{font-size:17px;}
.apply-text-infor div{margin-bottom:4px;}
.apply-other-window-container{font-size:17px;line-height:23px;}
}
/* 左側視窗-會員功能-申請中課程 RWD end*/

/* 彈跳視窗 */
.pup-window-black{width:100%;height:100%;background-color:rgba(0,0,0,0.6);position:fixed;top:0px;left:0px;z-index:20;}
.pup-window-black-2{width:100%;height:100%;background-color:rgba(0,0,0,0.6);position:fixed;top:0px;left:0px;z-index:20;}
.pup-window-area{width:792px;height:auto;background-image:url(../image/window-bar-bg.jpg);background-color:#f5f5f5;background-repeat:repeat-x;background-position:top center;color:#4e4e4e;border-radius:20px;position:absolute;top:20px;left:50%;z-index:30;margin-left:-396px;padding-bottom:38px;}
.pup-window-close{position:absolute;top:-47px;right:0px;cursor:pointer;}
.pup-window-close-2{position:absolute;top:10px;right:20px;cursor:pointer;}
/* 彈跳視窗 */
/* 彈跳視窗 RWD */
@media (max-width:800px){.pup-window-area{width:96%;left:0%;margin-left:0px;margin:0 2%;}}
@media (max-width:670px){
.pup-window-area{background-size:100% 62px;}
.pup-window-close{width:98px;top:-42px;}
}
@media (max-width:400px){
.pup-window-area{background-size:100% 58px;}
.pup-window-close{width:90px;top:-40px;}
}
/* 彈跳視窗 RWD end */
/* 彈跳視窗 註冊&信箱 */
.pup-title-container{width:100%;padding:0 38px;margin-top:15px;margin-bottom:15px;}
.pup-title{width:114px;display:inline-block;}
.pup-title i{font-size:24px !important;}
.pup-title span{font-size:22px;letter-spacing:1px;margin-left:3px;}
.pup-line-1{width:calc(100% - 124px);height:1px;background-color:#c9c9c9;position:relative;top:-7px;margin-left:10px;display:inline-block;}
.pup-line-2{width:calc(100% - 191px);height:1px;background-color:#c9c9c9;position:relative;top:-7px;margin:0 10px;display:inline-block;}
.pup-input-tip{font-size:22px;letter-spacing:1px;}
.pup-input-container{height:auto;max-height:calc(100vh - 370px);overflow:scroll;}
.pup-input-row{width:100%;padding:0 38px;}
.pup-input-row:after{content:" ";display:block;clear:both;}
.pup-input-row input,.pup-input-row select,.pup-input-row textarea{width:100%;height:54px;background-color:#f5f5f5;font-size:22px;color:#4e4e4e;letter-spacing:1px;border:none;border:1px solid #a1a1a1;border-radius:10px;}
.pup-textarea{height:110px !important;padding:14px;padding-top:8px;}
.pup-input-row > .w100{width:100%;}
.pup-input-row > .w66{width:66.666%;float:left;padding-right:3px;}
.pup-input-row > .w50{width:50%;float:left;}
.pup-input-row > .w50:nth-child(1){padding-right:4px;}
.pup-input-row > .w50:nth-child(2){padding-left:4px;}
.pup-input-row > .w33{width:33.333%;float:left;}
.pup-input-row > .w25{width:25%;float:left;}
.pup-input-row > .w33:nth-child(1){padding-right:9px;}
.pup-input-row > .w33:nth-child(2){padding:0px 5px;}
.pup-input-row > .w33:nth-child(3){padding-left:9px;}
.pup-input-row > .w25:nth-child(1){padding-right:9px;}
.pup-input-row > .w25:nth-child(2){padding-left:3px;padding-right:6px;}
.pup-input-row > .w25:nth-child(3){padding-right:3px;padding-left:6px;}
.pup-input-row > .w25:nth-child(4){padding-left:9px;}
.pup-input{padding-left:12px;margin-bottom:19px;}
.pup-input-row .select-arrow {background-image:url(../image/select-arrow.png);background-repeat:no-repeat;background-position:94% 24px;}
.pup-input::-webkit-input-placeholder{color:#4e4e4e;}
.pup-input::-moz-placeholder{color:#4e4e4e;}
.pup-input:-ms-input-placeholder{color:#4e4e4e;}
.pup-input:-moz-placeholder{color:#4e4e4e;}
.captcha-title{width:96px;font-size:22px;letter-spacing:2px;display:inline-block;margin:0 10px;margin-top:14px;}
.captcha-line{width:calc(50% - 62px);height:1px;background-color:#c9c9c9;position:relative;top:-7px;;display:inline-block;}
.captcha-container{width:100%;}
.pup-tip{width:100%;font-size:18px;text-align:center;text-decoration:underline;margin-top:32px;position:relative;}
.pup-tip span{cursor:pointer;}
.tip-window{width:480px;height:auto;background-color:#f5f5f5;text-align:left;border-radius:20px;border:3px solid #ff8a00;position:absolute;bottom:-10px;left:50%;margin-left:-240px;font-size:18px;padding:10px 20px;}
.tip-container{height:420px;overflow:scroll;overflow-x:hidden;}
.tip-title{font-size:24px;margin-bottom:10px;}
.tip-window li{font-size:16px;margin-bottom:5px;}
.bu-tip-close{width:120px;height:50px;font-size:24px;border-bottom:3px solid #003380;padding-top:10px;margin:0 auto;margin-top:20px;margin-bottom:10px;}
/* 彈跳視窗 註冊&信箱 end */
/* 彈跳視窗 註冊&信箱 RWD */
@media (max-width:800px){.pup-window-area{width:96%;left:0%;margin-left:0px;margin:0 2%;}}
@media (max-width:720px){.pup-input{padding-left:8px;}}
@media (max-width:670px){
.pup-window-area{background-size:100% 62px;}
.pup-title-container{padding:0 15px;margin-top:20px;margin-bottom:12px;}
.pup-title{width:100px;}
.pup-title span{font-size:20px;letter-spacing:0.5px;}
.pup-input-container{max-height:calc(100vh - 350px);}
.pup-input-tip{font-size:20px;letter-spacing:0.5px;}
.pup-title i{font-size:22px !important;}
.pup-line-1{width:calc(100% - 112px);}
.pup-line-2{width:calc(100% - 175px);}
.pup-input-row{padding:0 15px;}
.pup-input-row input,.pup-input-row select,.pup-input-row textarea{height:50px;font-size:20px;letter-spacing:0px;}
.pup-textarea {height:110px !important;padding:10px;padding-top:8px;}
.pup-input-row > .w33 > .select-arrow {background-position:94% 22px;}
.pup-window-close{width:98px;top:-42px;}
.pup-input{margin-bottom:15px;}
.pup-tip{font-size:17px;}
.captcha-title{width:84px;font-size:20px;letter-spacing:1px;}
.captcha-line {width:calc(50% - 56px);}
}
@media (max-width:600px){
.pup-input-row > .w66{width:100%;float:left;padding-right:3px;}
.pup-input-row > .w50{width:100%;padding-left:0px;}
.pup-input-row > .w33{width:100%;}
.pup-input-row > .w25{width:100%;}
.pup-input-row > .w33:nth-child(1){padding-right:0px;}
.pup-input-row > .w33:nth-child(2){padding:0px 0px;}
.pup-input-row > .w33:nth-child(3){padding-left:0px;}
.pup-input-row > .w25:nth-child(1){padding-right:0px;}
.pup-input-row > .w25:nth-child(2){padding-left:0px;padding-right:0px;}
.pup-input-row > .w25:nth-child(3){padding-right:0px;padding-left:0px;}
.pup-input-row > .w25:nth-child(4){padding-left:0px;}
.pup-input{padding-left:15px;}
.pup-input-row > .w33 > .select-arrow {background-position:96% 22px;}
}
@media (max-width:500px){
.tip-window{width:94%;font-size:16px;left:0%;margin-left:0px;margin:0 3%;}
.tip-container{height:300px;}
.tip-title{font-size:22px;}
.tip-window li{font-size:14px;line-height:18px;}
.bu-tip-close{width:110px;height:46px;font-size:22px;padding-top:8px;}
}
@media (max-width:400px){
.pup-window-area{background-size:100% 58px;}
.pup-window-close{width:90px;top:-40px;}
.pup-title-container {margin-top:16px;margin-bottom:8px;}
.pup-title{width:92px;}
.pup-title span{font-size:18px;}
.pup-input-tip{font-size:18px;}
.pup-title i{font-size:20px !important;}
.pup-line-1{width:calc(100% - 106px);}
.pup-line-2{width:calc(100% - 158px);}
.pup-input-container{max-height:calc(100vh - 300px);}
.pup-input-row input,.reg-input-row select,.pup-input-row textarea{height:45px;font-size:18px;}
.pup-input{padding-left:10px;margin-bottom:10px;}
.pup-input-row > .w33 > .select-arrow{background-position:96% 20px;background-size:14px 8px;}
.pup-tip{font-size:16px;}
.captcha-title{width:76px;font-size:18px;}
.captcha-line {width:calc(50% - 52px);}
}
/* 彈跳視窗 註冊&信箱 RWD end*/
/* 彈跳視窗 訊息 */
.infor-all{padding:0 25px;}
.infor-tip{font-size:20px;letter-spacing:0.5px;margin-bottom:16px;padding:0 25px;}
.infor-tip .infor-clear{color:#0063cc;float:right;}
.infor-time-container{width:100%;margin:16px 0;margin-top:32px;}
.infor-time-container:first-child{margin-top:0px;}
.infor-time{width:116px;font-size:18px;font-family:'arial';color:#4e4e4e;letter-spacing:1px;text-align:center;margin:0 10px;display:inline-block;}
.infor-time-line{width:calc(50% - 72px);height:1px;background-color:#c9c9c9;position:relative;top:-7px;display:inline-block;}
.infor-area{width:100%;height:auto;max-height:calc(92vh - 165px);overflow:scroll;padding:0 25px;}
.infor-container{
width:100%;height:110px;
background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
background: -webkit-linear-gradient(top, #ffffff 0%,#f0f0f0 100%);
background: linear-gradient(to bottom, #ffffff 0%,#f0f0f0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );
border-radius:10px;
-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.4);
-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.4);
box-shadow: 0 2px 5px rgba(0,0,0,0.4);
margin-bottom:15px;
position:relative;
}
.infor-container:after{content:" ";display:block;clear:both;}
.infor-icon{
width:108px;height:100%;
color:#ffffff;text-align:center;text-shadow: 0 2px 2px rgba(0,0,0,0.6);
background: #0090ff;
background: -moz-linear-gradient(top, #0090ff 1%, #0043a8 100%);
background: -webkit-linear-gradient(top, #0090ff 1%,#0043a8 100%);
background: linear-gradient(to bottom, #0090ff 1%,#0043a8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0090ff', endColorstr='#0043a8',GradientType=0 );
border-top-left-radius:10px;border-top-right-radius:0px;border-bottom-right-radius:0px;border-bottom-left-radius:10px;
padding-top:25px;
float:left;
}
.infor-icon i{font-size:59px !important;}
.fa-calendar-check-o,.fa-calendar-plus-o{position:relative;left:2px;}
.infor-text{width:calc(100% - 108px);height:100%;padding:10px 15px;float:left;}
.infor-title{font-size:24px;margin-bottom:3px;}
.infor-view-all{font-size:18px;letter-spacing:3px;margin-left:3px;}
.infor-view-all a{color:#0063cc;letter-spacing:0.5px;}
.infor-detail{font-size:19px;margin-bottom:3px;}
.infor-detail > .w100{width:100%;display:inline-block;}
.infor-detail > .w50{width:50%;display:inline-block;}
.infor-detail > .w25{width:25%;display:inline-block;}
.infor-clear-this{font-size:22px;font-family:'arial';color:#0063cc;font-weight:bold;cursor:pointer;position:absolute;top:8px;right:10px;}

.infor-pup-window{width:94%;height:100%;background-color:#ffffff;border:3px solid #ffae00;border-radius:10px;position:absolute;top:15px;left:50%;margin-left:-47%;padding:15px 20px;}
.infor-pup-title{font-size:24px;margin-bottom:12px;}
.infor-pup-title i{font-size:20px !important;position:relative;top:-2px;}
.infor-pup-title span{margin-left:3px;}
.infor-pup-text{font-size:20px;margin-bottom:8px;}
.infor-pup-container{height:100%;position:relative;}
.infor-pup-bu-close{width:160px;height:60px;font-size:27px;letter-spacing:2px;text-shadow:0 2px 2px rgba(0,0,0,0.6);border-bottom:3px solid #003380;padding-top:10px;position:absolute;left:50%;bottom:20px;margin-left:-65px;}
/* 彈跳視窗 訊息 end */
/* 彈跳視窗 訊息 RWD */
@media (max-width:720px){.infor-icon{width:90px;}.infor-text{width:calc(100% - 90px);padding:10px 10px;}}
@media (max-width:670px){
.infor-tip{font-size:19px;}
.infor-area{width:100%;height:auto;max-height:calc(92vh - 155px);overflow:scroll;padding:0 25px;}
.infor-title{font-size:21px;color:#ffffff;position:absolute;top:4px;left:38px;}
.infor-view-all a{font-size:17px;color:#ffffff;letter-spacing:0px;}
.infor-detail{font-size:18px;margin-bottom:4px;}
.infor-container{height:auto;}
.infor-icon{width:100%;height:37px;text-align:left;text-shadow:none;border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-right-radius:0px;border-bottom-left-radius:0px;padding-top:8px;padding-left:12px;}
.infor-icon i{font-size:20px !important;}
.infor-text{width:100%;padding:0px 10px;padding-top:9px;padding-bottom:6px;}
.infor-clear-this{color:#ffffff;top:6px;}
.infor-pup-window{padding:10px 15px;}
.infor-pup-title{font-size:22px;margin-bottom:10px;}
.infor-pup-title i{font-size:18px !important;position:relative;top:-2px;}
.infor-pup-title span{margin-left:3px;}
.infor-pup-text{font-size:18px;}
.infor-pup-bu-close{width:150px;height:58px;font-size:25px;letter-spacing:1px;padding-top:10px;margin-left:-75px;}
}
@media (max-width:550px){
.infor-tip{letter-spacing:0px;}
.infor-detail > .w100{margin-bottom:3px;}
.infor-detail > .w50{width:100%;margin-bottom:3px;}
.infor-detail > .w25{width:50%;margin-bottom:3px;}
.infor-detail{margin-bottom:0px;}
.infor-text{padding:0px 12px;padding-top:7px;padding-bottom:5px;}
}
@media (max-width:400px){
.infor-tip{font-size:18px;}
.infor-title{font-size:20px;left:36px;}
.infor-view-all{letter-spacing:0px;}
.infor-view-all a{font-size:16px;margin-left:3px;}
.infor-icon i{font-size:18px !important;}
.infor-detail{font-size:16px;line-height:22px;}
.infor-clear-this{font-size:21px;}

.infor-pup-window{padding:6px 12px;}
.infor-pup-title{font-size:21px;margin-bottom:10px;}
.infor-pup-title i{font-size:17px !important;position:relative;top:-2px;}
.infor-pup-title span{margin-left:3px;}
.infor-pup-text{font-size:17px;}
.infor-pup-bu-close{width:140px;height:52px;font-size:23px;margin-left:-70px;}
}
/* 彈跳視窗 訊息 RWD end*/

/* 彈跳視窗 操作提示 */
.tip-get-window{width:340px;height:auto;background-color:#ffffff;font-size:18px;color:#4e4e4e;line-height:28px;letter-spacing:0.5px;border:2px solid #ff9000;border-radius:5px;padding:15px;margin-left:-170px;position:fixed;top:20%;left:50%;z-index:30;}
.tip-font-style{font-size:28px;text-align:center;margin-top:10px;margin-bottom:10px;}
.tip-get-window span{font-size:19px;text-decoration:underline;}
/* 彈跳視窗 操作提示 */
/* 彈跳視窗 操作提示 RWD */
@media (max-width:670px){
.tip-get-window{font-size:17px;line-height:28px;}
.tip-font-style{font-size:26px;}
.tip-get-window span{font-size:18px;}
}
/* 彈跳視窗 操作提示 RWD end*/