@charset "utf-8";

*{font-family:\5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{margin:0px;padding:0px;font-family:\5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4;}
input:focus{outline: -webkit-focus-ring-color auto 0;}
select:focus{outline: -webkit-focus-ring-color auto 0;}
textarea:focus{outline: -webkit-focus-ring-color auto 0;}
select { -webkit-appearance: none; /*Chrome*/-moz-appearance: none; /*FF*/appearance: none;/*CSS3*/}
select::-ms-expand {display: none; /*IE*/}
ul{padding:0px;margin:0px;list-style:none;}
li{padding:0px;margin:0px;}
.trans{transform:rotateY(180deg);}
a{text-decoration:none;}

/* top */
.top-line{width:100%;height:46px;background-image:url(../image/top-line-bg.jpg);background-position:bottom center;background-repeat:repeat-x;-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.3);
-moz-box-shadow: 0 2px 3px rgba(0,0,0,0.3);box-shadow: 0 2px 3px rgba(0,0,0,0.3);position:relative;z-index:5}
.top-line-container{width:1280px;height:48px;margin-left:auto;margin-right:auto;padding:0px 20px;padding-top:10px;}
.top-text{font-size:18px;color:#ffffff;letter-spacing:1px;}
.top-arial{font-family:Arial;}
.f-right{float:right;}
/* top end*/
@media (max-width:1024px) {.top-text{font-size:16px;letter-spacing:0.5px;}.top-line-container{padding-top:12px;}}
@media (max-width:600px) {.top-line-container{padding:0 10px;padding-top:10px;}}
@media (max-width:420px) {.top-text{font-size:14px;}}

/* main banner */
.main-banner{width:100%;height:741px;background-image:url(../image/banner1920.jpg);background-position:top center;background-repeat:no-repeat;position:relative;z-index:0;}
.banner-dis1{display:none;}
.banner-dis2{display:none;}
.banner-dis2-2{display:none;}
.banner-dis3{display:none;}
/* main banner end*/

/* main container */
.main-container{width:100%;height:auto;padding-bottom:100px;background-image:url(../image/main-container-bg.jpg);background-position:top center;background-repeat:no-repeat;}
.main{
width:1280px;height:auto;
margin-left:auto;margin-right:auto;
padding-top:14px;
padding-bottom:25px;
background-image:url(../image/main-bg.jpg);
background-repeat:repeat-y;
-webkit-box-shadow: 0 2px 10px #da5700;-moz-box-shadow: 0 2px 10px #da5700;box-shadow: 0 2px 10px #da5700;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-right-radius:10px;
border-bottom-left-radius:10px;
}
.blue-ribbon{
width:1310px;height:80px;
margin-left:-15px;
background: #00a0e9;
background: -moz-linear-gradient(top, #00a0e9 0%, #0044ce 100%);
background: -webkit-linear-gradient(top, #00a0e9 0%,#0044ce 100%);
background: linear-gradient(to bottom, #00a0e9 0%,#0044ce 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a0e9', endColorstr='#0044ce',GradientType=0 );
position:relative;
padding-top:2px;
text-align:center;
color:#ffffff;
}
.blue-ribbon-left{position:absolute;top:-5px;left:0px;}
.blue-ribbon-right{position:absolute;top:-5px;right:0px;}
.blue-ribbon-line1{width:100%;height:2px;background-color:#4ccbff;}
.blue-ribbon-line2{width:100%;height:2px;background-color:#018eeb;position:relative;top:14px;}

.blue-ribbon-text .blue-ribbon-text_s{font-size:34px;letter-spacing:10px;margin-right:10px;font-weight:bold;position:relative;top:10px;}
.blue-ribbon-text i{margin-right:20px;font-size:36px;position:relative;top:10px;}

.bu-log-reg{
display:inline-block;width:220px;height:52px;
position:relative;
top:5px;
border-radius:8px;
-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.6);
-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.6);
box-shadow: 0 2px 4px rgba(0,0,0,0.6);
background: #efc636;
background: -moz-linear-gradient(top, #efc636 0%, #ffa101 2%, #ed9637 50%, #e97800 52%, #d24f01 98%, #9a5400 100%);
background: -webkit-linear-gradient(top, #efc636 0%,#ffa101 2%,#ed9637 50%,#e97800 52%,#d24f01 98%,#9a5400 100%);
background: linear-gradient(to bottom, #efc636 0%,#ffa101 2%,#ed9637 50%,#e97800 52%,#d24f01 98%,#9a5400 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc636', endColorstr='#9a5400',GradientType=0 );
color:#2d0000;font-size:26px;font-weight:bold;letter-spacing:1px;
text-align:center;
padding-top:7px;
cursor:pointer;
}
.bu-log-reg .text-img{max-width:100%;position:relative;top:3px;}
.bu-log-reg .pointer{
position:absolute;top:38px;right:50%;margin-right:-16px;
animation:pointer-move 1s infinite;
-webkit-animation:pointer-move 1s infinite;
z-index:30;
}
@keyframes pointer-move
{from{top:38px;}to{top:42px;}}
@-webkit-keyframes pointer-move
{from{top:38px;}to {top:42px;}}

.main-content{
width:96%;height:auto;
background-image:url(../image/main-content-bg.jpg);
background-repeat:repeat-y;
margin-left:auto;margin-right:auto;
padding-bottom:50px;
border:8px solid #874300;
border-top:0px;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-right-radius:0px;
border-bottom-left-radius:0px;
}
.main-line{width:95%;height:1px;background-color:#ffffff;margin-top:40px;margin-left:auto;margin-right:auto;}

.title1{width:92%;margin-left:auto;margin-right:auto;padding-top:45px;position:relative;}
.title1-img{max-width:100%;height:auto;-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.75);-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.75);
box-shadow: 0 2px 4px rgba(0,0,0,0.75);}
.magnet-left{position:absolute;top:30px;left:-15px;}
.magnet-right{position:absolute;top:30px;right:-15px;}
.dis5{display:none;}
.dis6{display:none;}
.dis6-1{display:none;}
.dis7{display:none;}

.title2{width:92%;margin-left:auto;margin-right:auto;margin-top:-4px;}
.title2 img{width:180px;float:left;margin-right:30px;}
.title2-text-container{width:100%;padding-top:30px;}
.title2-text-title{font-size:28px;color:#ffc63b;font-weight:bold;letter-spacing:1px;text-shadow:0 2px 2px rgba(0,0,0,0.4);margin-bottom:5px;}
.title2-text{font-size:22px;color:#ffffff;line-height:36px;letter-spacing:1px;}
.title2-text span{color:#ffc63b;}

.dis9{display:none;}

.title3-img{text-align:center;margin-top:30px;}
.title3-img img{width:240px;-webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.5);-moz-box-shadow: 0 5px 5px rgba(0,0,0,0.5);box-shadow: 0 5px 5px rgba(0,0,0,0.5);}
.title3-text{color:#ffffff;font-size:24px;text-align:center;margin-top:20px;letter-spacing:2px;padding:0px 30px;}
.title3-icon-area{text-align:center;margin-top:30px;}
.title3-icon{width:20%;float:left;padding:0px 15px;}
.title3-icon img{max-width:100%;height:auto;}
.dis11{display:none;}

.title4{width:92%;margin-left:auto;margin-right:auto;margin-top:30px;}
.title4-img{text-align:center;}
.title4-img img{width:580px;}
.dis14{display:none;}
.title4-text{color:#ffffff;text-align:center;font-size:22px;letter-spacing:1px;line-height:32px;}
.title4-text span{color:#ffe220;}
.dis16{display:none;}
/* main container end*/

/* login reg */
.board-login{width:100%;margin-top:30px;margin-left:auto;margin-right:auto;position:relative;}
.input-container{width:400px;position:relative;float:left;}
.input-container:nth-child(1){padding-right:10px;}
.input-container:nth-child(2){padding-left:10px;}
.input-bu-container{position:absolute;top:0px;right:0px;}
.input-bu-container input{width:230px;height:auto;margin:0 20px;}
.log-input{width:100%;height:58px;padding-left:48px;border:none;border-radius:6px;color:#4e4e4e;font-size:22px;background-image:url(../image/input-bg.jpg);background-repeat:no-repeat;background-position:top left;}
.arrow{float:left;margin-left:20px;margin-right:8px;padding-top:22px;}
.board-tip{width:100%;font-size:18px;color:#ffffff;line-height:28px;letter-spacing:1px;margin:10px auto 20px auto;}
.board-tip span{color:#ffe220;}
.select-arrow{background-image:url(../image/select-arrow.png);background-repeat:no-repeat;background-position:96% 20px;}

.reg-container{text-align:center;margin-top:50px;}
.reg-container img{width:255px;height:auto;cursor:pointer;}
.reg-tip{color:#ffffff;font-size:19px;padding:0px 10px;line-height:28px;}

.dis18{display:none;}
.dis20{display:none;}
/* login reg end*/

.footer,.footer2,.footer3{
width:100%;height:100px;
background-image:url(../image/footer-bg.jpg);background-repeat:repeat-x;
text-align:center;color:#ffffff;font-size:16px;line-height:30px;
padding:0px 10px;padding-top:20px;
}
.footer a,.footer2 a,.footer3 a{color:#ffffff;}

/* 彈跳視窗 影片 */
.video-area{width:100%;height:100%;position:fixed;background-color:rgba(0,0,0,0.5);top:0;z-index:100;}
.video-window-area{width:100%;height:100%;z-index:122;position:absolute;top:0px;}
.video-window{width:1024px;height:650px;background-color:#ffffff;border-radius:10px;position:fixed;top:2%;right:50%;margin-right:-512px;padding:10px;padding-bottom:70px;text-align:center;color:#4e4e4e;}
.video-window span{font-size:32px;display:block;margin-top:10px;font-weight:bold;cursor:pointer;}
.video-window i{font-size:40px !important;position:relative;top:1px;}
/* 彈跳視窗 影片 end */

/* 彈跳視窗 註冊 */
.reg-area{width:100%;height:100%;position:fixed;background-color:rgba(0,0,0,0.5);top:0;z-index:100;}
.bu-close{width:25px;position:absolute;top:15px;right:20px;cursor:pointer;}
.reg-window{max-width:600px;width:100%;height:auto;background-color:#ffffff;position:fixed;top:10px;border:5px solid #006eda;border-radius:15px;padding:20px 20px;right:50%;margin-right:-300px;z-index:120;}
.pup-title{font-size:22px;padding:0px 5px;color:#006eda;}
.pup-title i{font-size:26px;margin-right:3px;position:relative;top:2px;}
.reg-scroll{height:calc(100vh - 250px);max-height:615px;overflow:scroll;overflow-x:hidden;}
.input-area{width:100%;margin-top:20px;}
.input-area td{padding-bottom:25px;vertical-align:middle;position:relative;}
.input-title{width:100px;font-size:20px;color:#006eda;}
.input-tip{font-size:14px;text-align:right;color:red;width:100%;padding-right:7px;position:absolute;}
.log-input2{width:100%;height:46px;padding-left:14px;padding-top:1px;border:none;border:2px solid #006eda;border-radius:10px;color:#006eda;font-size:20px;letter-spacing:1.2px;background-color:#ffffff;}
.log-input2::-webkit-input-placeholder {color:#006eda;}
.log-input2::-moz-placeholder {color:#006eda;}
.log-input2:-ms-input-placeholder {color:#006eda;}
.log-input2:-moz-placeholder {color:#006eda;}
.bu-sent{text-align:center;margin-bottom:10px;}
.bu-sent img{width:190px;height:auto;cursor:pointer;}
.bu-sent img:nth-child(1){margin-right:10px;}
.bu-sent img:nth-child(2){margin-left:10px;}
/* 彈跳視窗 註冊 end*/

/* rwd */
@media (max-width:1280px) {
.top-line-container{width:100%;}
.main-banner{background-image:none;height:auto;}
.banner-dis1{display:block;max-width:100%;height:auto;}
.main{width:100%;}
.blue-ribbon-line1{height:1px;}
.blue-ribbon-line2{height:1px;top:17px;}
.blue-ribbon{width:100%;height:76px;margin-left:0px;}
.blue-ribbon-left{display:none;}
.blue-ribbon-right{display:none;}
.blue-ribbon-text .blue-ribbon-text_s{font-size:32px;letter-spacing:10px;top:12px;}
.blue-ribbon-text i{top:12px;}
.bu-log-reg{top:8px;}
.magnet-left{width:35px;}
.magnet-right{width:35px;}
.arrow{display:none;}
.input-container{width:37%;}
.video-window{width:95%;border-radius:10px;right:0%;margin-right:2.5%;}
}
@media (max-width:1200px) {
.title2-text-container{padding-top:40px;padding-bottom:20px;}
.title2-text-title{font-size:24px;text-shadow:none;}
.title2-text{font-size:20px;line-height:34px;}
.title2 img{width:170px;}
.main-container{background-image:none;background-color:#fdd413;}
.main-line{margin-top:30px;}
.title3-icon{width:33.3333%;padding:0px 60px;}
.title3-icon:nth-child(4){margin-top:30px;}
.title3-icon:nth-child(5){margin-top:30px;}
.input-container{width:35%;}
}
@media (max-width:1050px) {
.title3-icon{width:33.3333%;padding:0px 40px;}
}
@media (max-width:1024px) {
.title1 {padding-top:25px;}
.title2-text-container{padding-top:30px;padding-bottom:10px;}
.magnet-left{width:30px;top:20px;}
.magnet-right{width:30px;top:20px;}
.title3-icon{padding:0px 40px;}
.title4-img img{width:530px;height:auto;}
.title4-text{text-align:center;font-size:22px;color:#ffffff;}
.input-container{width:33%;}
.video-window{height:550px;top:2%;}
.video-window span{font-size:28px;}
.video-window i{font-size:34px !important;}
.log-input{font-size:20px;}
}
@media (max-width:950px) {
.title3-icon{padding:0px 30px;}
.input-container{width:650px;float:none;margin-left:auto;margin-right:auto;}
.input-container:nth-child(1){padding-right:0px;}
.input-container:nth-child(2){padding-left:0px;margin-top:20px;}
.input-bu-container {width:100%;top:170px;text-align:center;}
.board-tip {margin-top:120px;}
.dis19{display:none;}
.dis20{display:inline;}
}
@media (max-width:900px) {
.banner-dis1{display:none;}
.banner-dis2{display:block;max-width:100%;height:auto;}
.banner-dis2-2{display:block;max-width:100%;height:auto;}
.dis4{display:none;}
.dis5{display:block;}
.dis6{display:block;}
.main-line{margin-top:20px;}
.dis10{display:none;}
.dis11{display:block;}
.title3-icon{padding:0px 20px;}
.footer,.footer2,.footer3{font-size:14px;line-height:22px;}
.footer{height:80px;padding-top:18px;}
.footer2{height:210px;}
.footer3{height:170px;}
}
@media (max-width:850px) {
.dis8{display:none;}
.dis9{line-height:32px;display:block;padding-top:20px;}
}
@media (max-width:800px) {
.main-line{margin-top:30px;}
.title3-img img{width:220px;}
.title3-text{font-size:22px;line-height:32px;margin-top:10px;}
.title2 img{width:160px;height:auto;margin-right:20px;}
.title2-text{font-size:18px;line-height:30px;padding-top:30px;}
.title3-icon{width:50%;padding:0px 60px;}
.title3-icon:nth-child(3){margin-top:30px;}
.dis15{display:none;}
.title4-text{font-size:20px;line-height:28px;}
.dis16{display:block;}
.input-container {width:100%;}
.dis17{display:none;}
.dis18{display:block;}
.reg-container img{width:240px;}
.video-window{height:500px;}
}
@media (max-width:750px) {.main{padding-bottom:20px;}}
@media (max-width:700px) {
.banner-dis1{display:none;}
.bu-log-reg{width:210px;height:50px;}
.bu-log-reg .text-img{width:170px;}
.blue-ribbon-text .blue-ribbon-text_s{font-size:28px;font-weight:normal;letter-spacing:6px;top:10px;}
.blue-ribbon-text i{display:none;}
.title3-icon{padding:0px 40px;}
.dis12{display:none;}
.dis14{display:inline;}
.title4-img img{width:410px;}
.input-bu-container input{width:230px;}
.video-window{height:450px;top:2%;}
}
@media (max-width:650px) {
.blue-ribbon-text .blue-ribbon-text_s{font-size:28px;letter-spacing:6px;top:10px;}
.main-line{margin-top:30px;}
.title3-icon{padding:0px 30px;}
.main{padding-bottom:15px;}
.input-bu-container input{width:220px;margin:0 10px;}
}
@media (max-width:600px) {
.magnet-left{width:25px;left:-10px;}
.magnet-right{width:25px;right:-10px;}
.title3-icon{padding:0px 40px;}
.title3-img img{width:210px;}
.title4-img img{width:400px;}
.log-input{height:55px;font-size:20px;background-image:url(../image/input-bg.jpg);background-position:0px -3px;}
.input-bu-container{top:160px;}
.input-bu-container input{width:210px;margin:0 5px;}
.board-tip {margin-top:110px;}
.video-window{height:400px;}
.reg-window{right:0%;margin-right:0px;padding:20px 10px;}
.dis6{display:none;}
.dis6-1{display:block;}
}

@media (max-width:550px) {
.blue-ribbon-text .blue-ribbon-text_s{font-size:24px;letter-spacing:4px;top:6px;}
.blue-ribbon{height:70px;}
.bu-log-reg{width:200px;height:46px;}
.bu-log-reg .text-img{width:155px;top:0px;}
.title2 img{width:160px;}
.main-line{margin-top:20px;}
.reg-container img{width:220px;}
.input-bu-container{width:220px;left:50%;margin-left:-110px;top:150px;}
.input-bu-container input{margin:0 5px;margin-bottom:10px;}
.board-tip {margin-top:170px;}
.video-window span{font-size:25px;}
.video-window i{font-size:30px !important;}
.input-title{font-size:18px;width:45px;}
.log-input2{font-size:18px;letter-spacing:1px;}
.bu-sent img{width:170px;}
}
@media (max-width:500px) {
.main-content{padding-bottom:20px;}
.bu-log-reg{width:180px;top:6px;}
.bu-log-reg .text-img{width:150px;top:0px;}
.top-line{height:60px;background-image:url(../image/top-line-bg2.jpg);}
.blue-ribbon-text .blue-ribbon-text_s{font-size:22px;letter-spacing:2px;top:4px;}
.blue-ribbon{height:65px;}
.blue-ribbon-line2{height:1px;top:12px;}
.top-line-container{height:60px;padding-top:6px;}
.top-text{display:block;width:100%;text-align:center;}
.top-text.f-right{float:none;margin-top:3px;}
.banner-dis2{display:none;}
.banner-dis3{display:block;max-width:100%;height:auto;}
.title3-text{font-size:20px;line-height:30px;}
.title4-img img{width:350px;}
.title4-text{font-size:18px;line-height:26px;}
.board-tip {font-size:16px;line-height:26px;}
.video-window{height:350px;padding-bottom:60px;}
.bu-sent img{width:150px;}
.pup-title{font-weight:normal;}
.input-title{font-weight:normal;}
}
@media (max-width:450px) {
.dis7{display:block;}
.title2 img{width:150px;}
.title3-icon{margin-top:15px !important;}
.title3-icon-area{margin-top:0px;padding:0px 10px;}
.title3-img {margin-top:20px;}
.title3-img img{width:200px;}
.dis10{display:block;}
.dis11{display:none;}
.title4-img img{width:auto;max-width:100%;padding:0px 5px;}
.bu-log-reg .pointer{width:20px;margin-right:-12px;}
.footer,.footer2,.footer3{font-size:12px;line-height:18px;}
}
@media (max-width:420px) {
.bu-log-reg .text-img{width:145px;top:-2px;}
.top-line{height:52px;}
.top-line-container{height:52px;padding-top:5px;}
.top-text.f-right{margin-top:1px;}
.blue-ribbon-text .blue-ribbon-text_s {font-size:22px;top:4px;}
.dis21{display:none;}
.bu-log-reg{margin-top:2px;margin-bottom:2px;height:46px;}
.blue-ribbon{height:69px;}
.title2 img{width:130px;margin-right:10px;}
.title2-text{font-size:16px;line-height:27px;padding-top:10px;}
.title3-img img{width:180px;}
.title3-icon{margin-top:10px !important;padding:0px 10px;}
.title3-text{font-size:18px;line-height:28px;}
.title4-text{font-size:16px;line-height:24px;}
.video-window{height:300px;}
.bu-sent img{width:160px;}
.log-input2{padding-left:7px;}
}
@media (max-width:420px) {
.blue-ribbon-text .blue-ribbon-text_s {margin-right:5px;}
.title3-text{font-size:17px;line-height:26px;}
.board-tip {font-size:14px;line-height:22px;}
}
/* rwd end*/