@charset "utf-8";
/* CSS Document */

.page-banner{width:100%;height:594px;background-image:url(../image/page-banner1920.jpg);background-position:top center;background-repeat:no-repeat;position:relative;z-index:0;}
.page-container{width:100%;height:auto;padding-bottom:70px;background-image:url(../image/page-container-bg.jpg);background-position:top center;background-repeat:repeat-y;}
.page{width:1280px;margin-left:auto;margin-right:auto;}

.take200img{position:relative;width:430px;margin-left:auto;margin-right:auto;top:-110px;}
.take200img img{position:absolute;top:-10px;max-width:100%;height:auto;cursor:pointer;}

.bu-subject{
width:100%;height:80px;
position:relative;
top:40px;
background: #ebebeb;
background: -moz-linear-gradient(top, #ebebeb 0%, #ebebeb 40%, #cdcdcd 60%, #9f9f9f 100%);
background: -webkit-linear-gradient(top, #ebebeb 0%,#ebebeb 40%,#cdcdcd 60%,#9f9f9f 100%);
background: linear-gradient(to bottom, #ebebeb 0%,#ebebeb 40%,#cdcdcd 60%,#9f9f9f 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#9f9f9f',GradientType=0 );
-webkit-box-shadow: 0 2px 6px rgba(44,17,0,0.5);
-moz-box-shadow: 0 2px 6px rgba(44,17,0,0.5);
box-shadow: 0 2px 6px rgba(44,17,0,0.5);
border-bottom:3px solid #6e6e6e;
border-radius:10px;
}
.bu-subject ul li{
width:20%;height:80px;
float:left;
text-align:center;letter-spacing:1px;
border-right:1px solid #6e6e6e;
padding-top:5px;
cursor:pointer;
}
.bu-subject ul li:hover{
background: #008dea; /* Old browsers */
background: -moz-linear-gradient(top, #008dea 0%, #0050a2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #008dea 0%,#0050a2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #008dea 0%,#0050a2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008dea', endColorstr='#0050a2',GradientType=0 ); /* IE6-9 */
border-bottom:3px solid #003868;
border-right:0px solid #6e6e6e;
}
.bu-subject ul li:hover p{color:#ffffff;}
.bu-subject ul li:first-child{
border-top-left-radius:10px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-left-radius:10px;
}
.bu-subject ul li:last-child{
border-right:0px solid #6e6e6e;
border-top-left-radius:0px;
border-top-right-radius:10px;
border-bottom-right-radius:10px;
border-bottom-left-radius:0px;
}
.bu-subject p{margin:0px;}
.subject-kind{font-size:32px;color:#727272;}
.subject-name{font-size:18px;color:#5d5d5d;}
.fa-caret-right{font-size:26px !important;margin-right:12px;}
.fa-caret-left{font-size:26px !important;margin-left:12px;}

.active{
background: #008dea;
background: -moz-linear-gradient(top, #008dea 0%, #0050a2 100%);
background: -webkit-linear-gradient(top, #008dea 0%,#0050a2 100%);
background: linear-gradient(to bottom, #008dea 0%,#0050a2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008dea', endColorstr='#0050a2',GradientType=0 );
border-bottom:3px solid #003868;
border-right:0px solid #6e6e6e !important;
}
.active p{color:#ffffff;}
.bu-subject-mobile{display:none;}
.fa-book{display:none !important;}

.subject-title-area{width:100%;margin-top:100px;}
.subject-title{color:#2e0101;display:inline-block;font-weight:bold;}
.subject-title i{margin-right:5px;position:relative;top:-1px;}
.subject-title .kind{font-size:36px;}
.subject-title .name{font-size:24px;font-weight:normal;}
.pdf-download{display:inline-block;float:right;}
.pdf-download img{width:200px;height:auto;cursor:pointer;}
.subject-line{width:100%;height:1px;background-color:#2e0101;margin-top:20px;margin-bottom:20px;}

.video-list{color:#2e0101;margin-top:28px;}
.video-list-title{font-size:22px;}
.video-list-area{margin-top:20px;}
.video-image{position:relative;width:33.3333%;float:left;padding:0px 20px;margin-bottom:10px;}
.video-image img{max-width:100%;height:auto;cursor:pointer;}
.video-list-title span{margin-left:5px;}
.video-image span{font-size:20px;margin-left:0px;}


/* 置底快速導覽 */
.lesson-area{position:fixed;width:100%;height:85px;background-color:#003868;bottom:0px;color:#e1e1e1;display:none;}
.lesson-bu{
width:25%;height:42px;
text-align:center;font-size:18px;
border-right:1px solid #003868;
float:left;
padding:0px 5px;padding-top:6px;
background: #008dea;
background: -moz-linear-gradient(top, #008dea 0%, #0050a2 100%);
background: -webkit-linear-gradient(top, #008dea 0%,#0050a2 100%);
background: linear-gradient(to bottom, #008dea 0%,#0050a2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008dea', endColorstr='#0050a2',GradientType=0 );
border-top:2px solid #003868;
cursor:pointer;
}
.lesson-bu2{
width:50%;height:42px;
text-align:center;font-size:18px;
border-right:1px solid #003868;
float:left;
padding:0px 5px;padding-top:8px;
background: #008dea;
background: -moz-linear-gradient(top, #008dea 0%, #0050a2 100%);
background: -webkit-linear-gradient(top, #008dea 0%,#0050a2 100%);
background: linear-gradient(to bottom, #008dea 0%,#0050a2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008dea', endColorstr='#0050a2',GradientType=0 );
border-top:2px solid #003868;
cursor:pointer;
}
.lesson-bu a{color:#ffffff;text-shadow: 0 1px 0 rgba(0,56,104,1);}
.lesson-bu2 a{color:#ffffff;text-shadow: 0 1px 0 rgba(0,56,104,1);}
.gotop{
width:100%;height:45px;
font-size:18px;text-align:center;
padding-top:8px;
background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
background: -webkit-linear-gradient(top, #ffffff 0%,#e0e0e0 100%);
background: linear-gradient(to bottom, #ffffff 0%,#e0e0e0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 );
cursor:pointer;
}
.gotop a{color:#5d5d5d;}
.gotop i{font-size:24px;position:relative;top:2px;}
/* 置底快速導覽 end*/

/* 彈跳視窗 領取紅包步驟說明 */
.take-change-area{width:100%;height:100%;position:fixed;background-color:rgba(0,0,0,0.5);top:0;z-index:100;}
.take-change-window{
max-width:800px;width:100%;height:auto;min-height:120px;
background-color:#ffffff;
border:6px solid #d40000;border-radius:15px;padding-bottom:20px;
position:absolute;top:110px;right:50%;margin-right:-400px;z-index:120;
}
.take-change-close{position:absolute;top:-65px;right:-5px;cursor:pointer;}
.bu-take-change{
width:100%;height:70px;
position:absolute;
top:-2px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-right-radius:0px;
border-bottom-left-radius:0px;
border-bottom:4px solid #9a0000;
background: #ff2929;
background: -moz-linear-gradient(top, #ff2929 0%, #e80000 100%);
background: -webkit-linear-gradient(top, #ff2929 0%,#e80000 100%);
background: linear-gradient(to bottom, #ff2929 0%,#e80000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2929', endColorstr='#e80000',GradientType=0 );
}
.bu-take-change ul li{width:50%;height:70px;float:left;text-align:center;cursor:pointer;}
.bu-take-change ul li:first-child{border-right:1px solid #9a0000;background-image:url(../image/take-title.png);background-repeat:no-repeat;background-position:center center;}
.bu-take-change ul li:first-child.active2{background-image:url(../image/take-title-active.png);}
.bu-take-change ul li:last-child{border-left:1px solid #9a0000;background-image:url(../image/change-title.png);background-repeat:no-repeat;background-position:center center;}
.bu-take-change ul li:last-child.active2{background-image:url(../image/change-title-active.png);}
.bu-take-change ul li img{display:none;}
.bu-take-change ul li.active2 img{width:30px;display:inline;position:relative;top:65px;}

.take-step-area{width:100%;padding:0px 20px;letter-spacing:0.5px;color:#212121;padding-top:105px;}
.take-step-area > span{font-size:24px;font-weight:bold;color:#ff0000;margin-left:5px;}
.take-step-area img{position:relative;top:4px;}
.take-step-area p{font-size:20px;margin:0px;margin-top:10px;}
.take-step-area p > span{color:#ff0000;}
.take-step-area a{color:#006cf1;text-decoration:underline;}
.take-step-line{background-color:#212121;width:100%;height:1px;margin-top:20px;}
.take-step-input{width:100%;height:52px;padding-left:15px;padding-top:1px;border:none;border:1px solid #212121;border-radius:10px;color:#212121;font-size:20px;letter-spacing:1px;background-color:#ffffff;}
.take-step-area table{width:100%;margin-top:10px;}
.take-step-area td{padding-top:10px;}
.right-wrong{width:50px;padding-left:5px;padding-bottom:18px;}
.right-wrong i{font-size:40px;}
.input-name{color:#212121;flaot:left;position:absolute;left:40px;}
.relationship-area{font-size:20px;margin-top:15px;padding-left:10px;}
.relationship-title{display:inline;}
.relationship-choice{display:inline;margin-right:20px;}
.choice-input{transform:scale(1.5,1.5);position:relative;top:-2px;}
.bu-take{text-align:center;margin-top:30px;}
.bu-take img{cursor:pointer;}

.control-step-img{float:right;font-size:20px !important;position:relative;top:2px;cursor:pointer;}
.control-step-img i{font-size:24px !important;position:relative;top:-5px;left:-5px;}

.app-down{width:50%;float:left;}
.step-img-area{width:100%;height:auto;background-image:url(../image/phone.png);background-position:top center;background-repeat:no-repeat;padding-bottom:5px;position:relative;}
.step-img{width:320px;height:620px;margin-left:auto;margin-right:auto;padding-top:72px;}
.step-img-container{width:1600px;}
.step-img img{width:320px;height:auto;}
.step-img-tip{font-size:20px;margin-top:20px;margin-bottom:10px;}
.step-img-text{font-size:20px;text-align:center;margin-top:40px;}
.fa-arrow-circle-right{position:absolute;font-size:50px !important;top:50%;right:100px;cursor:pointer;}
.fa-arrow-circle-left{position:absolute;font-size:50px !important;top:50%;left:100px;cursor:pointer;}

.notice-tip{font-size:16px;line-height:24px;margin-top:20px;}
.notice-title{font-size:20px;color:#ff0000;margin-bottom:5px;}
.notice-title > i{font-size:18px !important;}
.notice-text{margin-bottom:5px;}
.notice-text > i{font-size:12px !important;position:relative;top:-2px;margin-right:2px;}
/* 彈跳視窗 領取紅包步驟說明 end */

/* 影片播放頁 */
.teach-video-area{width:100%;height:auto;min-height:calc(100vh - 100px);background-image:url(../image/teach-video-bg.jpg);background-position:top center;;background-repeat:repeat-y;padding-bottom:50px;}
.teach-video-container{width:1280px;margin-left:auto;margin-right:auto;padding-top:30px;}
.teach-video-title{font-size:22px;color:#2d0000;margin-bottom:15px;line-height:32px;}
.teach-video-play{width:100%;}
.teach-video-play img{max-width:100%;height:auto;}
.bu-goback{margin-top:50px;text-align:center;display:none;}
.bu-goback img{width:200px;cursor:pointer;}
/* 影片播放頁 end*/


/* rwd */
@media (max-width:1280px) {
.page-banner{background-image:none;height:auto;}
.take200img{top:-100px;}
.page{width:100%;}
.bu-subject{top:60px;width:95%;margin-left:auto;margin-right:auto;}
.subject-title-area{width:95%;margin-left:auto;margin-right:auto;}
.subject-line{width:95%;margin-left:auto;margin-right:auto;}
.video-list{width:95%;margin-left:auto;margin-right:auto;}
.teach-video-container{width:100%;}
.teach-video-title{padding:0px 10px;}
}
@media (max-width:1200px) {
.take200img{width:400px;}
.page-container{background-image:none;background-color:#fee476;}
}
@media (max-width:1100px) {
.take200img{top:-80px;}
}
@media (max-width:1024px) {
.take200img{top:-60px;}
.subject-kind{font-size:30px;}
.subject-name{font-size:16px;}
.bu-subject ul li{padding-top:7px;}
.bu-subject{top:70px;}
.subject-title-area{margin-top:120px;}
.subject-title .kind{font-size:34px;}
.subject-title .name{font-size:22px;font-weight:normal;}
.pdf-download img{width:190px;}
.video-list-title{font-size:20px;}
.video-image span{font-size:18px;}
.bu-goback img{width:190px;}
}
@media (max-width:950px) {
.bu-subject{width:90%;height:250px;border-radius:0px;top:70px;}
.bu-subject ul li{width:100%;height:50px;background-color:#ffffff;border-right:0px solid #6e6e6e;border:1px solid #c9c9c9;border-top:0px;text-align:left;padding:0px 30px;padding-top:7px;}
.bu-subject ul li:hover{border-bottom:0px solid #003868;}
.bu-subject ul li:first-child{
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-right-radius:0px;
border-bottom-left-radius:0px;
}
.bu-subject ul li:last-child{
border-right:1px solid #c9c9c9;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-right-radius:0px;
border-bottom-left-radius:0px;
}
.active{border:0px solid #c9c9c9 !important;}
.bu-subject p{display:inline;}
.fa-caret-left{display:none !important;}
.fa-caret-right{margin-right:5px;}
.subject-kind{font-size:26px;color:#5d5d5d;}
.subject-name{font-size:18px;float:right;position:relative;top:6px;}
.fa-book{font-size:18px !important;display:inline-block !important;margin-right:5px;position:relative;top:-1px;}
.bu-subject-mobile{
display:block;
width:90%;height:60px;
background-color:#808080;
position:relative;top:80px;
text-align:center;font-size:34px;color:#323232;
padding-top:6px;
margin-left:auto;margin-right:auto;
background: #ebebeb;
background: -moz-linear-gradient(top, #ebebeb 0%, #ebebeb 40%, #cdcdcd 60%, #9f9f9f 100%);
background: -webkit-linear-gradient(top, #ebebeb 0%,#ebebeb 40%,#cdcdcd 60%,#9f9f9f 100%);
background: linear-gradient(to bottom, #ebebeb 0%,#ebebeb 40%,#cdcdcd 60%,#9f9f9f 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#9f9f9f',GradientType=0 );
-webkit-box-shadow: 0 2px 6px rgba(44,17,0,0.3);
-moz-box-shadow: 0 2px 6px rgba(44,17,0,0.3);
box-shadow: 0 2px 6px rgba(44,17,0,0.3);
border-bottom:3px solid #6e6e6e;
border-radius:10px;
}
.subject-title-area{margin-top:110px;}
.subject-line{height:1px;}
}
@media (max-width:900px) {
.take200img{top:-90px;}
.bu-subject-mobile{top:45px;}
.bu-subject {top:40px;}
.subject-title-area{margin-top:90px;}
.video-image{width:50%;}
.lesson-area{display:block;}
}
@media (max-width:850px) {
.bu-goback img{width:170px;}
.take-change-window{
width:90%;
top:70px;right:5%;margin-right:0px;
}
}
@media (max-width:800px) {
.subject-kind{font-size:24px;color:#5d5d5d;}
.subject-title .kind{font-size:32px;}
.subject-title .name{font-size:20px;font-weight:normal;}
.pdf-download img{width:180px;}
.bu-take-change ul li:first-child,.bu-take-change ul li:last-child{background-size:138px auto;}
.take-change-close{width:35px;top:-50px;}
.bu-take-change ul li{height:60px;}
.bu-take-change{height:60px;}
.bu-take-change ul li.active2 img{top:55px;}
.take-step-area{padding-top:85px;}
.take-step-area > span{font-size:22px;}
.take-step-area img{width:15px;top:3px;}
.bu-take img{width:190px;}
.take-step-area p,.relationship-area,.notice-title,.step-img-tip,.step-img-text{font-size:18px;}
.take-step-input{font-size:18px;height:50px;}
.notice-title > i{font-size:16px !important;margin-right:2px;}
.notice-tip{font-size:14px;line-height:22px;margin-top:15px;}
}
@media (max-width:750px) {
.take200img{width:380px;top:-80px;}
.teach-video-title{font-size:24px;}
.relationship-title {display:block;}
.fa-arrow-circle-right{right:40px;}
.fa-arrow-circle-left{left:40px;}
}
@media (max-width:700px) {
.take200img{width:370px;top:-70px;}
.bu-subject-mobile{font-size:30px;height:55px;top:55px;}
.bu-subject {top:50px;}
.bu-subject ul li{padding:0 20px;padding-top:8px;}
.subject-title-area {margin-top:80px;}
.bu-goback img{width:160px;}
.app-down{width:100%;}
}
@media (max-width:650px) {
.video-image{padding:0px 10px;}
.fa-arrow-circle-right{right:20px;}
.fa-arrow-circle-left{left:20px;}
}
@media (max-width:600px) {
.take200img{width:350px;top:-60px;}
.step-img-text {width:100%;font-size:22px;}
.fa-arrow-circle-right{top:77%;right:0px;font-size:45px !important;}
.fa-arrow-circle-left{top:77%;left:0px;font-size:45px !important;}
}
@media (max-width:550px) {
.take200img{top:-55px;}
.bu-subject-mobile{top:60px;}
.bu-subject {top:50px;}
.subject-title{text-align:center;display:block;}
.subject-title .kind{font-size:36px;display:block;}
.subject-title .name{font-size:22px;display:block;margin-top:5px;margin-bottom:10px;}
.pdf-download{text-align:center;display:block;float:none;margin-top:10px;}
.pdf-download img{width:200px;}
.subject-line{margin-top:10px;margin-bottom:20px;}
.video-image span{font-size:16px;}
.teach-video-title{font-size:22px;line-height:26px;}
.bu-goback img{width:150px;}
.relationship-choice{display:block;margin-right:0px;margin-top:15px;}
}
@media (max-width:500px) {
.bu-subject{height:230px;}
.bu-subject ul li {padding-top:6px;height:46px;}
.bu-subject-mobile{width:90%;}
.take200img{width:320px;top:-50px;}
.fa-caret-right{margin-right:10px;}
.subject-kind{font-size:22px;}
.subject-name{font-size:16px;float:none;top:0px;left:5px;}
.fa-caret-right{font-size:22px !important;margin-right:5px;}
.fa-book{display:none !important;}
.bu-subject-mobile {font-size:27px;height:52px;}
.bu-subject-mobile i{position:relative;top:-1px;}
.bu-goback {margin-top:40px;}
.fa-arrow-circle-right{top:590px;right:15%;color:#ffffff;z-index:100;}
.fa-arrow-circle-left{top:590px;left:15%;color:#ffffff;z-index:100;}
}
@media (max-width:450px) {
.take200img{width:300px;top:-40px;}
.video-image{padding:0px 5px;}
.teach-video-title{font-size:20px;}
.bu-goback img{width:140px;}
.fa-arrow-circle-right{top:590px;right:10%;}
.fa-arrow-circle-left{top:590px;left:10%;}
}
@media (max-width:420px) {
.video-list{margin-top:20px;}
.video-list-area{margin-top:10px;}
.subject-line{margin-bottom:10px;}
.video-image span{font-size:14px;}
.take-step-area {padding: 0px 15px;padding-top:85px;}
.step-img-area{background-image:none;height:auto;}
.step-img{width:300px;height:520px;padding-top:0px;}
.step-img img{width:300px;border:1px solid #f19a29;}
.step-img-text{margin-top:0px;font-size:20px;}
.bu-take-change ul li:first-child,.bu-take-change ul li:last-child{background-size:120px auto;}
.fa-arrow-circle-right{top:480px;right:20px;color:#212121;font-size:36px !important;}
.fa-arrow-circle-left{top:480px;left:20px;color:#212121;font-size:36px !important;}

.bu-take-change ul li{height:52px;}
.bu-take-change{height:52px;}
.bu-take-change ul li.active2 img{width:24px;top:52px;}
.take-step-area{padding-top:75px;}
.take-step-area > span{font-size:20px;margin-left:0px;top:6px;}
.take-step-area img{display:none;}
.bu-take img{width:190px;}
.take-step-area p{margin-top:5px;}
.take-step-area p,.relationship-area,.notice-title,.step-img-tip,.step-img-text{font-size:16px;}
.take-step-input{font-size:16px;height:46px;padding-left:10px;}
.notice-title > i{font-size:16px !important;margin-right:2px;}
.notice-tip{font-size:14px;line-height:22px;margin-top:15px;}
.take-step-line{margin-top:10px;}
.control-step-img{font-size:16px !important;}
.control-step-img i{font-size:18px !important;top:-5px;left:-5px;}
.step-img-tip{margin-top:10px;}

.lesson-bu,.lesson-bu2,.gotop{font-size:16px;}
}
@media (max-width:400px) {
.take200img{width:280px;top:-35px;}
.subject-title {font-size:27px;}
.bu-goback img{width:130px;}
.take-step-input {padding-left:7px;}
}
@media (max-width:375px) {
.take200img{width:260px;top:-30px;}
.step-img{width:295px;height:auto;}
.step-img img{width:295px;}
}

