@charset "utf-8";

/* page 共用 */
*{font-family:\5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{margin:0px;font-family:\5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4;}
ul{margin:0px;padding:0px;}
li{margin:0px;padding:0px;}
input:focus{outline: -webkit-focus-ring-color auto 0;}
.body{background-image:url(../image/bg.jpg);background-position:center center;background-repeat:repeat-y;}
.footer{width:100%;text-align:center;font-size:16px;color:#4c2000;letter-spacing:1px;line-height:22px;margin-top:76px;padding:0px 20px;padding-bottom:30px;}
.page-container{width:100%;height:auto;}
.page-topbar{width:100%;height:150px;background-image:url(../image/page-top-bar.jpg);background-position:bottom center;background-repeat:repeat-x;-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.5);-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.5);box-shadow: 0 2px 4px rgba(0,0,0,0.5);position:relative;}
.topbar-logo-container{width:100%;text-align:center;float:left;padding-top:18px;}
.topbar-logo-container img{width:400px;}
.topbar-bu-container{width:100%;height:107px;position:absolute;top:0px;padding:0 50px;}
.topbar-bu{
width:100px;height:100px;
color:#3f0000;letter-spacing:0.5px;
font-weight:bold;
background: #fdff6b;
background: -moz-linear-gradient(top, #fdff6b 0%, #ee7100 100%);
background: -webkit-linear-gradient(top, #fdff6b 0%,#ee7100 100%);
background: linear-gradient(to bottom, #fdff6b 0%,#ee7100 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdff6b', endColorstr='#ee7100',GradientType=0 );
border-bottom:3px solid #bd4501;
border-radius:15px;
-webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.3);-moz-box-shadow: 0 3px 5px rgba(0,0,0,0.3);box-shadow: 0 3px 5px rgba(0,0,0,0.3);
margin-right:20px;
display:inline-flex;align-items:center;justify-content:center;
cursor:pointer;
}
.topbar-bu > div{text-align:center;}
.topbar-bu:last-child{margin-right:0px;float:right;}
.topbar-bu .bu-text-a,.topbar-bu .bu-text-b,.topbar-bu .bu-text-c,.topbar-bu .bu-name,.topbar-bu .bu-icon{text-align:center;display:block;}
.topbar-bu .bu-name{font-size:20px;margin-top:0px;}
.topbar-bu .bu-text-a{font-size:18px;position:relative;top:3px;}
.topbar-bu .bu-text-b{font-size:32px;}
.topbar-bu .bu-text-c{font-size:18px;position:relative;top:-5px;}
.topbar-bu .fa-sign-out{font-size:52px !important;position:relative;left:4px;}
.topbar-bu .fa-book{font-size:47px !important;}

.topbar-add-1{position:relative;top:-7px;}
.topbar-add-2{position:relative;top:21px;}
/* page 共用 end */
/* page 共用 RWD */
@media (max-width:1280px){.body{background-size:1920px auto;}}
@media (max-width:1220px){.topbar-bu-container{padding:0 27px;}}
@media (max-width:1015px){.topbar-bu-container{padding:0 15px;}.topbar-bu{margin-right:12px;}}
@media (max-width:970px){
.page-topbar{height:190px;background-image: url(../image/page-top-bar-970.jpg);}
.topbar-logo-container{padding-top:60px;}
.topbar-bu-container{padding:0 0px;top:0px;}
.topbar-bu{
width:50%;height:42px;
text-align:center;font-weight:normal;
border-radius:0px;border-right:2px solid #bd4501;border-bottom:2px solid #bd4501;
margin-right:0px;padding-top:8px;
float:left;
-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.4);-moz-box-shadow:0 2px 2px rgba(0,0,0,0.4);box-shadow:0 2px 2px rgba(0,0,0,0.4);
display:inline-block;
}
.topbar-bu:last-child{float:none;border-right:0px;}
.topbar-bu .bu-text-a,.topbar-bu .bu-text-b,.topbar-bu .bu-text-c,.topbar-bu .bu-name,.topbar-bu .bu-icon{text-align:left;display:inline;}
.topbar-bu .bu-name{font-size:18px;margin-top:0px;}
.topbar-bu .bu-text-a{font-size:18px;margin-bottom:0px;top:0px;}
.topbar-bu .bu-text-c{font-size:18px;margin-top:0px;top:0px;}
.topbar-bu .bu-text-b {font-size:18px;}
.topbar-bu .fa-sign-out{font-size:20px !important;margin-right:5px;top:0px;}
.topbar-bu .fa-book{font-size:18px !important;margin-right:3px;position:relative;top:0px;}
.footer{font-size:14px;line-height:22px;}
}
@media (max-width:650px){.footer{font-weight:normal;padding:0px 20px;padding-bottom:18px;margin-top:48px;}}
@media (max-width:600px){.topbar-bu .bu-text-a{display:none;}}
@media (max-width:500px){
.topbar-bu{height:42px;padding-top:8px;}
.topbar-bu .bu-name,.topbar-bu .bu-text-a,.topbar-bu .bu-text-b,.topbar-bu .bu-text-c{font-size:18px;}
.topbar-bu .fa-sign-out{font-size:20px !important;}
.topbar-bu .fa-book{font-size:19px !important;}
.page-topbar{height:200px;background-position:bottom center;}
.topbar-logo-container{padding:0 35px;padding-top:64px;}
.topbar-logo-container img{width:390px;max-width:100%;}
}
@media (max-width:480px){.topbar-logo-container{padding-top:70px;}}
@media (max-width:460px){
.page-topbar{height:200px;}
.topbar-logo-container{padding:0 30px;padding-top:66px;}
.footer {font-size:12px;line-height:18px;}
}
@media (max-width:440px){.page-topbar{height:194px;}}
@media (max-width:420px){.page-topbar{height:190px;}}
@media (max-width:400px){
.topbar-bu{height:35px;font-weight:normal;padding-top:6px;}
.topbar-bu .bu-name,.topbar-bu .bu-text-a,.topbar-bu .bu-text-b,.topbar-bu .bu-text-c{font-size:16px;}
.topbar-bu .fa-sign-out{font-size:18px !important;}
.topbar-bu .fa-book{font-size:16px !important;}
.topbar-logo-container {padding-top:60px;}
.page-topbar{height:178px;}
.footer{padding-bottom:18px;}
}
@media (max-width:380px){.page-topbar{height:165px;}.topbar-logo-container{padding-top:58px;}}
/* page 共用 RWD end */

/* subject page */
.page-subject-container{width:1280px;margin:0 auto;}
.subject-input-container{width:100%;padding:0 54px;margin-top:40px;position:relative;}
.subject-input{width:100%;height:54px;font-size:26px;color:#4e4e4e;border:none;padding-left:16px;-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.4);-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.4);box-shadow: 0 3px 6px rgba(0,0,0,0.4);}
.subject-input-bu{
width:135px;height:54px;
font-size:26px;color:#ffffff;text-align:center;
text-shadow: 0 2px 4px rgba(0,0,0,0.6);
background: #ff3131;
background: -moz-linear-gradient(top, #ff3131 0%, #b40000 100%);
background: -webkit-linear-gradient(top, #ff3131 0%,#b40000 100%);
background: linear-gradient(to bottom, #ff3131 0%,#b40000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3131', endColorstr='#b40000',GradientType=0 );
border-bottom:3px solid #740101;
padding-top:8px;
position:absolute;
top:0px;
right:54px;
cursor:pointer;
}
.subject-bu-area{width:auto;margin:0 auto;margin-top:40px;}
.subject-bu-area:after{content:" ";display:block;clear:both;}
.subject-bu-container{
width:279px;height:279px;
background-image:url(../image/paper-texture.jpg);background-position:top center;background-repeat:repeat;
border-radius:20px;border-bottom:3px solid #b1b1b1;
margin-right:54px;margin-bottom:54px;padding:22px;
-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.3);-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.3);box-shadow:  0 3px 6px rgba(0,0,0,0.3);
float:left;
}
.subject-bu-container:nth-child(4){margin-right:0px;}
.subject-bu-container:nth-child(4n){margin-right:0px;}
.subject-bu{
width:100%;height:100%;
color:#ffffff;
background: #0092dd;
background: -moz-linear-gradient(top, #0092dd 0%, #003eda 100%);
background: -webkit-linear-gradient(top, #0092dd 0%,#003eda 100%);
background: linear-gradient(to bottom, #0092dd 0%,#003eda 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0092dd', endColorstr='#003eda',GradientType=0 );
border-radius:20px;border-bottom:6px solid #00269b;
-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.5);-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.5);box-shadow: 0 3px 6px rgba(0,0,0,0.5);
display:flex;align-items:center;justify-content:center;
cursor:pointer;
}
.subject-bu:hover{
background: #ff3131;
background: -moz-linear-gradient(top, #ff3131 0%, #b40000 100%);
background: -webkit-linear-gradient(top, #ff3131 0%,#b40000 100%);
background: linear-gradient(to bottom, #ff3131 0%,#b40000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3131', endColorstr='#b40000',GradientType=0 );
border-bottom:6px solid #730001;
}
.close{
color:#6e6e6e;
text-shadow:none;
background: #ffffff !important;
background: -moz-linear-gradient(top, #ffffff 0%, #aeaeae 100%) !important;
background: -webkit-linear-gradient(top, #ffffff 0%,#aeaeae 100%) !important;
background: linear-gradient(to bottom, #ffffff 0%,#aeaeae 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#aeaeae',GradientType=0 ) !important; 
border-bottom:6px solid #6e6e6e !important;
cursor: not-allowed;
}
.subject-bu > div{text-align:center;}
.subject-bu span{display:block;}
.subject-icon i{font-size:105px;}
.subject-name{font-size:32px;margin-top:10px;}
.subject-date{font-size:18px;}
/* subject page end*/
/* subject page RWD */
@media (max-width:1360px){
.page-subject-container{width:96%;margin:0 auto;}
.subject-bu-container{width:22%;height:279px;margin-right:1.5%;margin-left:1.5%;margin-bottom:36px;}
.subject-bu-container:nth-child(4){margin-right:1.5%;margin-left:1.5%;}
.subject-bu-container:nth-child(4n){margin-right:1.5%;margin-left:1.5%;}
}
@media (max-width:1220px){.subject-bu-container{width:30.333%;height:290px;margin-right:1.5%;margin-left:1.5%;}}
@media (max-width:970px){
.subject-input-container{padding-left:1.5%;padding-right:1.5%;}
.subject-input{height:50px;font-size:24px;}
.subject-input-bu{height:50px;font-size:24px;right:1.5%;}
}
@media (max-width:900px){
.page-subject-container{width:92%;}
.subject-bu-container{width:40%;}
.subject-bu-container:nth-child(odd){margin-right:4%;margin-left:6%;}
.subject-bu-container:nth-child(even){margin-right:6% ;margin-left:4%;}
}
@media (max-width:770px){
.page-subject-container{width:96%;}
.subject-bu-container{width:46%;margin-right:2% !important;margin-left:2% !important;}
}
@media (max-width:650px){
.subject-bu-container{width:97%;height:84px;background-image:url(../image/paper-texture650.jpg);border-bottom:2px solid #b1b1b1;border-radius:15px;padding:8px;margin-bottom:20px;margin-right:1.5% !important;margin-left:1.5% !important;}
.subject-bu{text-align:left;padding:0 20px;padding-top:14px;border-radius:10px;border-bottom:3px solid #00269b;display:block;}
.subject-bu:hover{border-bottom:3px solid #730001;}
.subject-name{font-size:28px;}
.close{border-bottom:1px solid #6e6e6e !important;}
.subject-bu span{display:inline;}
.subject-bu > div{text-align:left;}
.subject-date{font-size:18px;letter-spacing:0.5px;float:right;position:relative;top:12px;}
.subject-icon i{font-size:28px;}
.subject-icon i{margin-right:3px;position:relative;top:-2px;}
.subject-icon .icon-globe{font-size:24px !important;top:0px;}
.subject-icon .fa-compass{font-size:29px !important;top:0px;}
.subject-icon .fa-users{font-size:24px !important;}
}
@media (max-width:500px){
.subject-bu-container{height:80px;}
.subject-bu{padding-top:12px;}
.subject-name{font-size:26px;}
.subject-date{font-size:16px;top:11px;}
}
@media (max-width:420px){
.subject-bu-area{margin-top:30px;}
.subject-bu-container{height:70px;}
.subject-bu{padding-top:8px;}
.subject-name{font-size:24px;}
.subject-icon i{font-size:22px !important;}
.subject-icon .fa-sort-alpha-asc,.subject-icon .fa-sort-numeric-asc{top:1px;}
.subject-date{font-size:14px;top:12px;}
.subject-icon .icon-globe{font-size:20px !important;top:0px;}
.subject-icon .fa-compass{font-size:25px !important;top:0px;}
.subject-icon .fa-users{font-size:20px !important;}
}
@media (max-width:400px){
.subject-input{height:42px;font-size:20px;}
.subject-input-bu{height:42px;font-size:20px;padding-top:6px;}
.subject-input-container{margin-top:25px;}
.subject-input{padding-left:12px;}
.subject-input-bu{width:114px;}
}
/* subject page RWD end */

/* main page */
.page-main-container{width:1280px;margin:0 auto;padding:0 55px;}
.main-topic-bar-area{width:100%;margin-top:40px;-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.3);-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.3);box-shadow: 0 3px 6px rgba(0,0,0,0.3);border-radius:15px;position:relative;display:table;}
.main-topic-bar{display:table-row;}
.main-subject-name{
width:180px;
background: #ff3131;
background: -moz-linear-gradient(top, #ff3131 0%, #b40000 100%);
background: -webkit-linear-gradient(top, #ff3131 0%,#b40000 100%);
background: linear-gradient(to bottom, #ff3131 0%,#b40000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3131', endColorstr='#b40000',GradientType=0 );
font-size:36px;color:#ffffff;font-weight:bold;text-align:center;letter-spacing:1px;
border-bottom:3px solid #730001;
border-top-left-radius:10px;
border-top-right-radius:0px;
border-bottom-right-radius:0px;
border-bottom-left-radius:10px;
display:table-cell;
vertical-align:middle;
}
.main-topic-choice{
background-color:#ffffff;
font-size:28px;color:#4e4e4e;line-height:46px;letter-spacing:1px;
border-top-left-radius:0px;
border-top-right-radius:15px;
border-bottom-right-radius:15px;
border-bottom-left-radius:0px;
padding:18px 25px;padding-right:85px;
cursor:pointer;
display:table-cell;
}
.main-red-arrow{width:22px;position:absolute;top:43%;right:30px;cursor:pointer;}
.main-topic-area{position:relative;}
.main-topic-container{
width:100%;height:auto;max-height:414px;
background-color:#ffffff;
-webkit-box-shadow: 0 3px 8px rgba(0,0,0,0.6);-moz-box-shadow: 0 3px 8px rgba(0,0,0,0.6);box-shadow: 0 3px 8px rgba(0,0,0,0.6);
border:2px solid #fd0100;
margin-top:20px;margin-bottom:20px;
position:absolute;top:0px;left:0px;z-index:5;
overflow:scroll;overflow-x:hidden;
}
.main-topic-container ul{width:100%;font-size:24px;color:#4e4e4e;list-style:none;}
.main-topic-container li{width:100%;height:auto;border-bottom:1px solid #fd0301;padding:18px 20px;cursor:pointer;}
.main-topic-container li:hover{
color:#ffffff;
background: #ff3131;
background: -moz-linear-gradient(top, #ff3131 0%, #b40000 100%);
background: -webkit-linear-gradient(top, #ff3131 0%,#b40000 100%);
background: linear-gradient(to bottom, #ff3131 0%,#b40000 100%);	
}
.main-topic-container li i{margin-right:3px;}
.main-point-container{width:100%;height:auto;background-image:url(../image/paper-texture.jpg);background-repeat:repeat;background-position:top center;border-radius:15px;margin-top:40px;padding-bottom:40px;-webkit-box-shadow: 0 3px 8px rgba(0,0,0,0.6);-moz-box-shadow: 0 3px 8px rgba(0,0,0,0.6);box-shadow: 0 3px 8px rgba(0,0,0,0.6);}
.main-point-bar{
width:100%;height:60px;
font-size:24px;color:#ffffff;letter-spacing:1px;
background: #0092dd;
background: -moz-linear-gradient(top, #0092dd 0%, #003eda 100%);
background: -webkit-linear-gradient(top, #0092dd 0%,#003eda 100%);
background: linear-gradient(to bottom, #0092dd 0%,#003eda 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0092dd', endColorstr='#003eda',GradientType=0 );
border-top-left-radius:15px;
border-top-right-radius:15px;
border-bottom-right-radius:0px;
border-bottom-left-radius:0px;
padding:0 25px;padding-top:12px;
}
.main-point-bar i{font-size:23px;margin-right:5px;position:relative;top:-1px;}
/* main page end */
/* main page RWD*/
@media (max-width:1280px){
.page-main-container{width:100%;padding:0 27px;}
}
@media (max-width:970px){
.w33{width:33.3333% !important;}
.main-subject-name{font-size:36px;letter-spacing:1px;}
.main-topic-container{max-height:376px;}
.main-topic-container li{padding:16px 20px;}
.topbar-add-1,.topbar-add-2{top:0px;}
}
@media (max-width:850px){
.main-subject-name{width:160px;font-size:32px;}
.main-topic-choice{font-size:24px;line-height:38px;padding:16px 25px;}
.main-topic-container{max-height:364px;}
.main-topic-container ul{font-size:22px;}
.main-point-bar{height:52px;padding-top:10px;}
.main-point-bar{font-size:22px;}
.main-point-bar i{font-size:20px;}
}
@media (max-width:600px){
.main-subject-name{width:130px;font-size:30px;}
.main-topic-choice{font-size:22px;padding-left:14px;padding-right:54px;line-height:36px;}
.main-red-arrow{right:20px;}
.main-topic-container{max-height:346px;}
.main-point-bar{height:50px;font-size:20px;padding:0 20px;padding-top:10px;}
.main-point-bar i{font-size:18px;margin-right:3px;}
}
@media (max-width:500px){
.page-main-container{padding:0 15px;}
.main-topic-bar-area{margin-top:20px;}
.main-subject-name{width:120px;font-size:26px;font-weight:normal;}
.main-topic-choice{font-size:20px;line-height:34px;}
.main-red-arrow{width:18px;right:15px;}
.main-topic-container{margin-top:10px;max-height:258px;}
.main-topic-container ul{font-size:20px;}
.main-topic-container li{padding:14px 12px;padding-right:5px;}
.main-point-container{margin-top:20px;}
}
@media (max-width:460px){
.main-topic-bar-area{height:auto;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;display:block;}
.main-topic-container{border:0px solid #fd0100;}
.main-topic-bar{display:block;}
.main-subject-name{
width:100%;height:46px;font-size:24px;
border-top-right-radius:15px;border-bottom-right-radius:0px;border-bottom-left-radius:0px;
border-bottom:0px solid #730001;
margin:0 auto;margin-bottom:0px;padding-top:5px;
display:block;
}
.main-topic-choice{
width:100%;height:auto;font-size:18px;
margin:0 auto;padding:6px 0px;padding-left:14px;
border-top-right-radius:0px;border-bottom-right-radius:0px;
-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.3);-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.3);box-shadow: 0 2px 5px rgba(0,0,0,0.3);
border-bottom:1px solid #e0e0e0;
display:block;
}
.main-red-arrow{top:72%;}
.main-topic-container{max-height:243px;margin-top:0px;}
.main-topic-container ul{font-size:18px;}
.main-topic-container li{border-bottom:1px solid #e0e0e0;padding:12px 12px;}
.main-point-bar{height:45px;font-size:20px;padding-top:8px;}
}
@media (max-width:400px){
.main-topic-container ul{font-size:16px;}
}
/* main page RWD end */

/* 項目列表區塊 */
.list-search-container{width:100%;margin-top:20px;position:relative;}
.list-search{width:100%;height:46px;font-size:20px;color:#4e4e4e;border:1px solid #737373;padding-left:12px;}
.list-search-bu{
width:100px;height:46px;
font-size:22px;color:#ffffff;text-align:center;
background: #ff3131;
background: -moz-linear-gradient(top, #ff3131 0%, #b40000 100%);
background: -webkit-linear-gradient(top, #ff3131 0%,#b40000 100%);
background: linear-gradient(to bottom, #ff3131 0%,#b40000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3131', endColorstr='#b40000',GradientType=0 );
border-bottom:2px solid #740101;
position:absolute;top:0px;right:0px;
display:flex;justify-content:center;align-items:center;
cursor:pointer;
}
.list-search-bu i{font-size:20px !important;margin-right:3px;}
.list-search-tip{font-size:14px;color:#FF0004;line-height:20px;margin-top:6px;}
.main-list-area{padding:0px 40px;}
.main-list-amount{font-size:16px;color:#4e4e4e;text-align:left;margin-top:10px;}
.main-list-all{height:auto;max-height:calc(100vh - 265px);overflow:scroll;overflow-x:hidden;}
.main-list-container{display:table;border-collapse:separate;border-spacing:0px 20px;width:100%;font-size:22px;}
.main-list-item{display:table-row;-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.3);-moz-box-shadow: 0 2px 3px rgba(0,0,0,0.3);box-shadow: 0 2px 3px rgba(0,0,0,0.3);}
.main-list-name{display:table-cell;background-color:#0069dc;color:#ffffff;letter-spacing:1px;padding:12px 15px;}
.main-list-bu{
display:table-cell;
width:130px;
color:#4e4e4e;text-align:center;
background: #f8fbfe;
background: -moz-linear-gradient(top, #f8fbfe 0%, #b2b2b2 100%);
background: -webkit-linear-gradient(top, #f8fbfe 0%,#b2b2b2 100%);
background: linear-gradient(to bottom, #f8fbfe 0%,#b2b2b2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8fbfe', endColorstr='#b2b2b2',GradientType=0 );
border-bottom:2px solid #6e6e6e;
border-left:1px solid #6e6e6e;
vertical-align:middle;
cursor:pointer;
}
.main-list-bu:hover{
color:#3f0000;
background: #fdff6b;
background: -moz-linear-gradient(top, #fdff6b 0%, #ee7100 100%);
background: -webkit-linear-gradient(top, #fdff6b 0%,#ee7100 100%);
background: linear-gradient(to bottom, #fdff6b 0%,#ee7100 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdff6b', endColorstr='#ee7100',GradientType=0 );
border-bottom:3px solid #bd4501;
border-left:1px solid #bd4501;
}
.active{display:none;}
/* 項目列表區塊 end*/
/* 項目列表區塊 RWD */
@media (max-width:1220px) {.main-list-area{padding:0px 20px;}.main-list-bu{width:140px;}}
@media (max-width:850px) {
.main-list-bu{width:135px;}
.main-list-container{font-size:20px;}
}
@media (max-width:650px) {
.main-list-area{padding:0px 15px;}
.list-search{height:42px;font-size:18px;padding-right:10px;}
.list-search-bu{width:90px;height:42px;font-size:20px;}
.list-search-bu i{font-size:18px !important;margin-right:3px;}
.main-list-container{border-spacing:0px 18px;}
.main-list-bu{width:125px;font-weight:normal;}
.main-list-container{font-size:19px;}
.list-search-container{margin-top:15px;}
}
@media (max-width:460px) {
.main-list-container{font-size:22px;}
.list-search-bu{width:80px;font-size:18px;}
.main-list-name{padding:10px 14px;}
.main-list-bu{width:115px;}
.main-list-amount{font-size:14px;text-align:right;margin-top:5px;}
.main-list-container{font-size:18px;}
}
@media (max-width:400px) {
.main-list-container{font-size:16px;border-spacing:0px 15px;}
.main-list-name{padding:8px 14px;}
.list-search{height:38px;font-size:16px;}
.list-search-bu{width:80px;height:38px;}
.list-search-bu i{font-size:16px !important;}
.list-search-tip{font-size:12px;line-height:18px;}
.main-list-bu{width:90px;}
}
/* 項目列表區塊 RWD  end*/

/* video-page */
.video-container{width:1280px;height:auto;margin:0 auto;}
.video-title{color:#200c00;margin-top:15px;margin-bottom:15px;}
.video-from{font-size:36px;font-weight:bold;margin-bottom:5px;}
.video-qname{font-size:26px;}
.video-qname i{margin-right:3px;}
.video-area{width:100%;-webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.3);-moz-box-shadow: 0 3px 5px rgba(0,0,0,0.3);box-shadow: 0 3px 5px rgba(0,0,0,0.3);}
.video-area img{max-width:100%;display:block;}
.video-bu-area{margin-top:50px;}
.video-bu-area:after{content:" ";display:block;clear:both;}
.video-bu-container{width:50%;float:left;}
.video-bu-container:nth-child(1){text-align:right;padding-right:38px;}
.video-bu-container:nth-child(2){text-align:left;padding-left:38px;}
.video-bu{
width:240px;height:80px;
font-size:30px;text-align:center;line-height:38px;letter-spacing:1px;
border-radius:10px;display:inline-block;
padding-top:20px;
-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.3);-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.3);;box-shadow: 0 2px 5px rgba(0,0,0,0.3);;
cursor:pointer;
}
.yellow{
color:#3f0000;
background: #fdff6b;
background: -moz-linear-gradient(top, #fdff6b 0%, #ee7100 100%);
background: -webkit-linear-gradient(top, #fdff6b 0%,#ee7100 100%);
background: linear-gradient(to bottom, #fdff6b 0%,#ee7100 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdff6b', endColorstr='#ee7100',GradientType=0 );
border-bottom:3px solid #bd4501;
} 
.red{
color:#ffffff;
background: #ff3131;
background: -moz-linear-gradient(top, #ff3131 0%, #b40000 100%);
background: -webkit-linear-gradient(top, #ff3131 0%,#b40000 100%);
background: linear-gradient(to bottom, #ff3131 0%,#b40000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3131', endColorstr='#b40000',GradientType=0 );
border-bottom:3px solid #740101;
}
/* video-page */
/* video-page RWD */
@media (max-width:1320px){
.video-container{width:96%;}
}
@media (max-width:1024px){
.video-from{font-size:34px;}
.video-qname{font-size:24px;}
.video-bu{width:220px;height:80px;font-size:30px;padding-top:20px;}
}
@media (max-width:800px){
.video-from{font-size:30px;}
.video-qname{font-size:22px;}
.video-bu{width:220px;height:70px;font-size:26px;font-weight:normal;padding-top:16px;}
.video-bu-area{margin-top:30px;}
}

@media (max-width:600px){
.video-title{margin-top:10px;margin-bottom:10px;}
.video-from{font-size:24px;font-weight:normal;line-height:30px;}
.video-qname{font-size:20px;line-height:28px;}
.video-bu{width:180px;height:60px;font-size:22px;font-weight:normal;padding-top:10px;}
.video-bu-container:nth-child(1){padding-right:19px;}
.video-bu-container:nth-child(2){padding-left:19px;}
}
@media (max-width:460px){
.video-from{font-size:22px;line-height:26px;}
.video-qname{font-size:18px;line-height:24px;}
.video-bu{width:150px;height:55px;font-size:20px;padding-top:7px;}
.yellow{
border-bottom:2px solid #bd4501;
} 
.red{
border-bottom:2px solid #740101;
}
}
@media (max-width:400px){
.video-from{font-size:20px;line-height:24px;}
.video-qname{font-size:16px;line-height:22px;}
.video-bu-container:nth-child(1){padding-right:10px;}
.video-bu-container:nth-child(2){padding-left:10px;}
}
/* video-page RWD end */

/* pup window */
.pup-bg-black{position:fixed;background-color:rgba(0,0,0,0.6);width:100%;height:100%;z-index:20;top:0px;}
.pup-bg{position:absolute;top:0px;width:100%;height:100%;z-index:22;}
.pup-window{
max-width:1170px;width:100%;height:auto;
background-image:url(../image/pup-widow-bg.jpg);background-color:#ffffff;background-position:top center;background-repeat:repeat-x;
border-radius:15px;
margin-left:-585px;
padding:0px 20px;padding-top:8px;padding-bottom:30px;
position:fixed;top:20px;left:50%;
}
.pup-window-title{font-size:24px;color:#ffffff;letter-spacing:1px;margin-bottom:35px;}
.pup-window-title i{margin-right:5px;position:relative;top:1px;}
.window-close-bu{width:36px;position:absolute;top:8px;right:20px;cursor:pointer;}

.list-qname{font-size:34px;color:#4e4e4e;}
.list-qname i{margin-right:3px;}
/* pup window end*/
/* pup window rwd */
@media (max-width:1220px) {.pup-window{width:96%;left:2%;margin-left:0px;}}
@media (max-width:850px) {.pup-window-title{font-size:22px;padding-top:1px;}.window-close-bu{width:30px;top:12px;right:18px;}}
@media (max-width:650px) {.pup-window{padding:0px 15px;padding-top:8px;}}
/* pup window rwd end*/

/* animate */
.hvr-top {
  cursor:pointer;
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-top:hover, .hvr-top:focus, .hvr-top:active {
  -webkit-transform:translateY(-5px);
  transform:translateY(-5px);
}
/* animate end */

