@charset "utf-8";

*{font-family:\5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;letter-spacing:1px;}
body{margin:0px;font-family:\5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4;}
input:focus{outline: -webkit-focus-ring-color auto 0;}
select:focus{outline: -webkit-focus-ring-color auto 0;}
textarea:focus{outline: -webkit-focus-ring-color auto 0;}
select { -webkit-appearance: none; /*Chrome*/-moz-appearance: none; /*FF*/appearance: none;/*CSS3*/}
select::-ms-expand {display: none; /*IE*/}
ul{padding:0px;margin:0px;list-style:none;}
li{padding:0px;margin:0px;}
a{text-decoration:none;}

.body{background-color:#1651c6;background-image:url(../image/login-bg.jpg);background-repeat:no-repeat;background-position:top center;}
.main{width:550px;height:calc(90vh - 166px);min-height:540px;text-align:center;margin:0 auto;margin-top:10vh;margin-bottom:80px;}
.main img{width:100%;}
.white-line{width:100%;height:1px;background-color:#ffffff;margin:0 auto;margin-top:29px;margin-bottom:60px;}
.login-input-area{width:380px;height:60px;margin:0 auto;margin-top:30px;} 
.login-input{width:100%;height:100%;font-size:20px;color:#737373;border:none;border:3px solid #84b1e9;border-radius:10px;box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.20);padding-left:43px;}

.login-input::-webkit-input-placeholder{color:#737373;}
.login-input::-moz-placeholder{color:#737373;}
.login-input:-ms-input-placeholder{color:#737373;}
.login-input:-moz-placeholder{color:#737373;}

.login-account{background-image:url(../image/login-account-icon.jpg);background-repeat:no-repeat;background-position:15px 18px;}
.login-password{background-image:url(../image/login-password-icon.jpg);background-repeat:no-repeat;background-position:16px 18px;}

.forgot-password{width:374px;text-align:right;margin:0 auto;margin-top:4px;}
.forgot-password span{font-size:16px;color:#ffffff;cursor:pointer;position:relative;top:10px;}
.forgot-password span:hover{text-decoration:underline;}

.login-bu{
width:190px;height:68px;
font-size:24px;font-weight:bold;text-align:center;color:#1450c6;text-shadow:1px 2px 3px #ffffff;
background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 40%, #cdcdcd 66%, #bababa 100%);
background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 40%,#cdcdcd 66%,#bababa 100%);
background: linear-gradient(to bottom, #ffffff 0%,#ffffff 40%,#cdcdcd 66%,#bababa 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bababa',GradientType=0 );
border:4px solid #84b1e9;border-radius:45px;
margin:0 auto;margin-top:52px;
box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.20);
display:flex;justify-content:center;align-items:center;
cursor:pointer;
}

.footer{
width:100%;height:80px;
font-size:16px;color:#a6b0db;text-align:center;line-height:30px;letter-spacing:1px;
background-color:#124ac1;background-image:url(../image/login-footer-bg.jpg);background-repeat:no-repeat;background-position:top center;
padding-top:10px;
}

/* animate end*/
.hvr-top {
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-top:hover, .hvr-top:focus, .hvr-top:active {
  -webkit-transform:translateY(-4px);
  transform:translateY(-4px);
}
/* animate end*/
