@charset "utf-8";
*{font-family:\5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{margin:0px;font-family:\5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4;}
ul{padding:0px;margin:0px;list-style:none;}
li{padding:0px;margin:0px;}

.top-line{width:100%;height:240px;background-image:url(../image/top-line.png);background-position:top center;background-repeat:no-repeat;position:absolute;top:0px;z-index:12;}
.main-bg{width:100%;height:2230px;background-image:url(../image/bg1920.jpg);background-position:top center;background-repeat:repeat-x;background-size:100% 100%;display:table;position:relative;} 
.main-bottom-bg{width:100%;height:28px;background-image:url(../image/main-bottom-bg.png);background-position:bottom center;background-repeat:repeat-x;position:absolute;bottom:0px;z-index:5;}
.main-container{display:table-row;}
.main-left{width:48px;display:table-cell;background-image:url(../image/board-line-left.png);background-position:top left;background-repeat:repeat-y;position:relative;z-index:10;}
.main-center{display:table-cell;padding-top:86px;padding-bottom:43px;}
.main-right{width:48px;display:table-cell;background-image:url(../image/board-line-right.png);background-position:top right;background-repeat:repeat-y;position:relative;z-index:10;}
.center-title{width:100%;text-align:center;}
.title-dis1{display:inline;}
.title-dis2{display:none;}
.bu-comment{width:78%;height:auto;margin:0 auto;}
.bu-comment img{max-width:100%;height:auto;cursor:pointer;}
.bottom-line{height:16px;background-image:url(../image/bottom-line.jpg);background-position:top center;background-repeat:repeat-x;}
@media (max-width:1900px){.center-title img{width:1130px;}}
@media (max-width:1366px){.top-line{height:170px;background-size:1350px auto;}.main-center{padding-top:66px;}.center-title img{width:1060px;}}
@media (max-width:1181px){.center-title img{width:92%;}}
@media (max-width:1100px){.main-center{padding-bottom:93px;}}
@media (max-width:1024px){.main-bg{background-image:url(../image/bg1024.jpg);}.center-title img{width:98%;}}
@media (max-width:800px){.center-title img{width:100%;}}
@media (max-width:750px){.top-line{height:70px;background-size:1050px auto;}.center-title img{width:76%;}.title-dis1{display:none;}.title-dis2{display:inline;}.main-center{padding-top:50px;}}
@media (max-width:700px){.center-title img{width:80%;}.main-left{width:30px;background-image:url(../image/board-line-left700.png);}.main-right{width:30px;background-image:url(../image/board-line-right700.png);}}
@media (max-width:600px){.center-title img{width:88%;}}
@media (max-width:575px){.center-title img{width:92%;}}
@media (max-width:500px){.main-center{padding-bottom:70px;}.center-title img{width:95%;}}
@media (max-width:450px){.center-title img{width:100%;}}

/* 按鈕 */
.bu-subject{
width:550px;height:68px;
background: #ebebeb;
background: -moz-linear-gradient(top, #ebebeb 0%, #ebebeb 40%, #cdcdcd 60%, #9f9f9f 100%);
background: -webkit-linear-gradient(top, #ebebeb 0%,#ebebeb 40%,#cdcdcd 60%,#9f9f9f 100%);
background: linear-gradient(to bottom, #ebebeb 0%,#ebebeb 40%,#cdcdcd 60%,#9f9f9f 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#9f9f9f',GradientType=0 );
-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5);
-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5);
box-shadow: 0 2px 6px rgba(0,0,0,0.5);
border-bottom:2px solid #6e6e6e;
border-radius:10px;
margin:10px auto;
}
.bu-subject ul li{
width:50%;height:68px;
float:left;
text-align:center;
border-right:1px solid #6e6e6e;
padding-top:8px;
cursor:pointer;
}
.bu-subject ul li img{width:46px;position:relative;top:20px;display:none;}
.bu-subject ul li:hover{
background: #fff9bc;
background: -moz-linear-gradient(top, #fff9bc 0%, #fff371 35%, #ff6e02 100%);
background: -webkit-linear-gradient(top, #fff9bc 0%,#fff371 35%,#ff6e02 100%);
background: linear-gradient(to bottom, #fff9bc 0%,#fff371 35%,#ff6e02 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff9bc', endColorstr='#ff6e02',GradientType=0 );
border-bottom:2px solid #512200;
border-right:0px solid #6e6e6e;
}
.bu-subject ul li:hover p{color:#431904;}
.bu-subject ul li:first-child{
border-top-left-radius:10px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-left-radius:10px;
}
.bu-subject ul li:last-child{
border-right:0px solid #6e6e6e;
border-top-left-radius:0px;
border-top-right-radius:10px;
border-bottom-right-radius:10px;
border-bottom-left-radius:0px;
}
.bu-subject p{margin:0px;}
.grade-kind{font-size:34px;color:#727272;}
.grade-kind .fa-caret-right{display:none;}
.active{
background: #fff9bc;
background: -moz-linear-gradient(top, #fff9bc 0%, #fff371 35%, #ff6e02 100%);
background: -webkit-linear-gradient(top, #fff9bc 0%,#fff371 35%,#ff6e02 100%);
background: linear-gradient(to bottom, #fff9bc 0%,#fff371 35%,#ff6e02 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff9bc', endColorstr='#ff6e02',GradientType=0 );
border-bottom:2px solid #512200;
border-right:0px solid #6e6e6e !important;
}
.active p{color:#431904;}
.active img{display:inline !important;}
.bu-subject-mobile{display:none;}
/* 按鈕 end */
/* 按鈕 RWD */
@media (max-width:1366px){
.bu-subject{width:490px;height:60px;}
.bu-subject ul li{width:50%;height:60px;}
.grade-kind{font-size:32px;}
.bu-subject ul li img{width:40px;top:15px;}
}
@media (max-width:1181px){
.bu-subject{width:50%;height:60px;}
.bu-subject ul li{height:60px;}
.grade-kind{font-size:32px;}
}
@media (max-width:1100px){
.bu-subject{height:55px;}
.bu-subject ul li{height:55px;padding-top:6px;}
.grade-kind{font-size:30px;}
.bu-subject ul li img{width:34px;top:12px;}
}
@media (max-width:750px){
.bu-subject{width:70%;}
}
@media (max-width:600px){
.bu-subject{width:90%;}
}
@media (max-width:500px){
.bu-subject{height:50px;}
.bu-subject ul li{height:50px;padding-top:5px;}
.grade-kind{font-size:28px;}
}
@media (max-width:450px){
.bu-subject{height:45px;}
.bu-subject ul li{height:45px;padding-top:4px;}
.grade-kind{font-size:25px;}
.bu-subject ul li img{width:30px;}
}
@media (max-width:400px){
.bu-subject{height:40px;}
.bu-subject ul li{height:40px;padding-top:3px;}
.grade-kind{font-size:23px;}
.bu-subject ul li img{width:26px;top:8px;}
}
@media (max-width:380px){
.bu-subject{height:38px;}
.bu-subject ul li{height:38px;}
.grade-kind{font-size:21px;}
.bu-subject ul li img{width:22px;top:6px;}
}
/* 按鈕 RWD end */

.gold-award-area{width:100%;text-align:center;margin-top:50px;}
.gold-award-container{width:286px;text-align:center;display:inline-block;margin:0 18px;margin-bottom:5px;}
.gold-award-container img{max-width:100%;height:auto;}
@media (max-width:1450px){.gold-award-container{width:22%;margin:0 1%;}}
@media (max-width:1100px){.gold-award-area{margin-top:40px;}}
@media (max-width:1024px){.gold-award-container{width:27%;margin:0 2.5%;}}
@media (max-width:800px){.gold-award-container{width:32%;margin:0 6%;}}
@media (max-width:700px){.gold-award-container{width:38%;margin:0 5%;}}
@media (max-width:600px){.gold-award-container{width:45%;margin:0 1.5%;}}
@media (max-width:500px){.gold-award-container{width:49.5%;margin:0 0%;}}
@media (max-width:460px){.gold-award-container{width:49%;margin:0 0%;}}
@media (max-width:450px){.gold-award-area{margin-top:30px;}}
@media (max-width:400px){.gold-award-area{margin-top:25px;}}

.red-award-container{width:222px;text-align:center;display:inline-block;margin-bottom:5px;}
.red-award-container img{max-width:100%;height:auto;}
.red-ribbon{text-align:center;margin-top:10px;}
.red-award-area{width:100%;margin-top:12px;text-align:center;}
.red-award-area-reset{margin-top:55px;}
.red-table-area{width:97%;height:auto;background-color:#ffffff;border:3px solid #ba0000;border-radius:5px;margin:0 auto;margin-top:15px;-webkit-box-shadow: 0 3px 5px rgba(20,0,0,0.5);-moz-box-shadow: 0 3px 5px rgba(20,0,0,0.5);box-shadow: 0 3px 5px rgba(20,0,0,0.5);}
.red-table-area:after{content:" ";display:block;clear:both;}
.red-table{width:20%;font-size:22px;border-bottom:1px solid #ba0000;float:left;}
.red-table:last-child{border-right:1px solid #ba0000;}
.red-table-2{width:20%;font-size:22px;border-bottom:1px solid #ba0000;float:left;}
.red-table-2:last-child{border-right:1px solid #ba0000;}
.red-table span{margin-left:8px;}
.red-table-2 span{margin-left:8px;}
.red-school{width:43%;background-color:#d10101;color:#ffffff;text-align:center;float:left;padding-top:5px;padding-bottom:6px;}
.red-school-2{width:25%;background-color:#d10101;color:#ffffff;text-align:center;float:left;padding-top:5px;padding-bottom:6px;}
.red-name{width:57%;color:#d10101;float:left;padding-top:5px;padding-bottom:6px;padding-left:10px;}
.red-name-2{width:75%;color:#d10101;float:left;padding-top:5px;padding-bottom:6px;padding-left:10px;}
@media (max-width:1900px){
.red-award-container{margin:0 20px;}
.red-award-area{padding:0 110px;}
.red-table{width:25%;}
.red-table-2{width:25%;}
}
@media (max-width:1681px){.red-award-area{padding:0 0px;}}
@media (max-width:1550px){.red-table{font-size:21px;}.red-table-2{font-size:21px;}}
@media (max-width:1461px){.red-award-area{padding:0 10px;}.red-table-area{width:100%;}}
@media (max-width:1441px){.red-award-container{margin:0 10px;}}
@media (max-width:1366px){
.red-award-container{width:210px;}
.red-ribbon img{width:490px;}
.red-table{width:33.3333%;}
.red-table:last-child{border-right:0px solid #ba0000;}
.red-table-2{width:33.3333%;}
.red-table-2:last-child{border-right:1px solid #ba0000;}
}
@media (max-width:1281px){.red-award-container{margin:0 25px;}}
@media (max-width:1181px){
.red-award-container{width:19.5%;margin:0 0px;}
.red-ribbon{width:42%;margin:0 auto;margin-top:10px;}
.red-ribbon img{width:100%;}
.red-award-area{padding:0 0px;}
.red-table-area{width:94%;}
.red-name{padding-left:10px;}
.red-name-2{padding-left:10px;}
}
@media (max-width:1100px){
.red-award-area-reset{margin-top:45px;}
.red-table{width:50%;}.red-table:last-child{border-bottom:1px solid #ba0000;}
.red-table-2{width:50%;}.red-table-2:last-child{border-bottom:1px solid #ba0000;border-right:0px solid #ba0000;}
}
@media (max-width:1050px){.red-table{font-size:21px;}.red-table-2{font-size:21px;}}
@media (max-width:1024px){
.red-award-container{width:24.5%;padding:0 15px;}
.red-award-area-reset{margin-top:35px;}
.red-table-area{width:100%;}
.red-table{font-size:20px;}
.red-table-2{font-size:20px;}
.red-ribbon{width:45%;}
}
@media (max-width:950px){.red-award-container{padding:0 10px;}}
@media (max-width:900px){.red-award-container{padding:0 0px;}.red-ribbon{width:50%;}}
@media (max-width:800px){.red-award-container{width:32.5%;padding:0 20px;}.red-ribbon{width:53%;}}
@media (max-width:750px){.red-award-container{padding:0 10px;}.red-ribbon{width:65%;}.red-table{font-size:19.5px;}.red-table-2{font-size:19.5px;}}
@media (max-width:700px){.red-award-container{padding:0 0px;}.red-ribbon{width:68%;}}
@media (max-width:650px){
.red-ribbon{width:72%;}
.red-table-area{width:90%;}
.red-table{width:100%;font-size:20.5px;}
.red-table:last-child{border-right:0px solid #ba0000;border-bottom:0px solid #ba0000;}
.red-table-2{width:100%;font-size:20.5px;}
.red-table-2:last-child{border-right:0px solid #ba0000;border-bottom:0px solid #ba0000;}
.red-name{padding-left:16px;}
.red-name-2{padding-left:16px;}
.red-table span{margin-left:18px;}
.red-table-2 span{margin-left:18px;}
}
@media (max-width:600px){.red-award-container{width:49.5%;padding:0 25px;}.red-ribbon{width:85%;}}
@media (max-width:550px){.red-award-container{padding:0 15px;}.red-ribbon{width:90%;}}
@media (max-width:500px){.red-award-container{padding:0 5px;}.red-ribbon{width:93%;}.red-table-area{width:95%;}}
@media (max-width:475px){.red-award-container{width:49%;padding:0 0px;}}
@media (max-width:450px){.red-ribbon{width:95%;}.red-table{font-size:20px;}.red-table span{margin-left:12px;}.red-table-2{font-size:20px;}.red-table-2 span{margin-left:12px;}}
@media (max-width:420px){.red-table{font-size:19px;}}
@media (max-width:400px){.red-award-area-reset{margin-top:25px;}.red-name{padding-left:8px;}.red-name-2{padding-left:8px;}}
@media (max-width:360px){.red-table{font-size:18px;}.red-table-2{font-size:18px;}}

.blue-award-container{width:222px;text-align:center;display:inline-block;margin-bottom:5px;}
.blue-award-container img{max-width:100%;height:auto;}
.blue-ribbon{text-align:center;margin-top:10px;}
.blue-title5a{text-align:center;margin-top:56px;}
.blue-dis-1{display:inline;}.blue-dis-2{display:none;}
.blue-award-area{width:100%;margin-top:50px;text-align:center;}
.blue-table-area{width:97%;height:auto;background-color:#ffffff;border:3px solid #0027ba;border-radius:5px;margin:0 auto;margin-top:20px;-webkit-box-shadow: 0 3px 5px rgba(20,0,0,0.5);-moz-box-shadow: 0 3px 5px rgba(20,0,0,0.5);box-shadow: 0 3px 5px rgba(20,0,0,0.5);}
.blue-table-area:after{content:" ";display:block;clear:both;}
.blue-table{width:20%;font-size:22px;border-bottom:1px solid #1137c9;float:left;}
.blue-table:last-child{border-right:1px solid #1137c9;}
.blue-table .grade-level{font-size:16px;position:relative;left:3px;}
.level-1,.level-2{position:absolute;}.level-1{top:-10px;}.level-2{top:6px;}
.blue-table .gratuation-school-1{margin-left:60px;}
.blue-table .gratuation-school-2{margin-left:8px;}
.blue-school{width:30%;background-color:#1137c9;color:#ffffff;text-align:center;float:left;padding-top:5px;padding-bottom:6px;}
.blue-name{width:70%;color:#1137c9;float:left;padding-top:5px;padding-bottom:6px;padding-left:10px;}
@media (max-width:1900px){
.blue-award-area{padding:0 0px;}.blue-award-container{margin:0 20px;}
.blue-table{width:25%;}
.blue-table:last-child{border-right:1px solid #1137c9;}
}
@media (max-width:1688px){.blue-award-area{padding:0 10px;}.blue-award-container{margin:0 10px;}}
@media (max-width:1587px){.blue-award-container{margin:0 0px;}}
@media (max-width:1550px){.blue-table{font-size:21px;}}
@media (max-width:1468px){.blue-award-area{padding:0 0px;}.blue-award-container{margin:0 25px;}}
@media (max-width:1461px){.blue-table-area{width:100%;}}
@media (max-width:1366px){
.blue-award-container{width:210px;}
.blue-ribbon img{width:490px;}.blue-title5a img{width:950px;}
.blue-table{width:33.3333%;}
.blue-table:last-child{border-right:1px solid #1137c9;}
}
@media (max-width:1181px){
.blue-award-container{width:19.5%;margin:0 20px;}
.blue-award-area{padding:0 0px;}
.blue-ribbon{width:42%;margin:0 auto;margin-top:10px;}.blue-ribbon img{width:100%;}
.blue-title5a{width:90%;margin:0 auto;margin-top:56px;}.blue-title5a img{width:100%;}
.blue-table-area{width:94%;}
}
@media (max-width:1100px){.blue-award-area{margin-top:40px;}.blue-table{font-size:21px;}.blue-table{width:50%;}.blue-table:last-child{border-bottom:1px solid #1137c9;border-right:1px solid #1137c9;}}
@media (max-width:1024px){.blue-award-container{width:24.5%;padding:0 15px;margin:0 0px;}.blue-table-area{width:100%;}.blue-table{font-size:20px;}.blue-ribbon{width:45%;}}
@media (max-width:950px){.blue-award-container{padding:0 10px;}}
@media (max-width:900px){.blue-award-container{padding:0 0px;}.blue-ribbon{width:50%;}}
@media (max-width:800px){.blue-table-area{margin-top:-35px;}.blue-award-container{width:32.5%;padding:0 20px;}.blue-ribbon{width:53%;}.blue-title5a{width:100%;}}
@media (max-width:750px){.blue-award-container{padding:0 10px;}.blue-ribbon{width:65%;}.blue-title5a{width:80%;}.blue-dis-1{display:none;}.blue-dis-2{display:inline;}.blue-table{font-size:19.5px;}}
@media (max-width:700px){.blue-award-container{padding:0 0px;}.blue-ribbon{width:68%;}.blue-name{padding-left:10px;}}
@media (max-width:650px){.blue-ribbon{width:72%;}.blue-title5a{width:81%;}.blue-table-area{width:90%;}.blue-table{width:100%;font-size:20.5px;}.blue-table:last-child{border-right:0px solid #1137c9;}.blue-name{padding-left:16px;}}
@media (max-width:600px){.blue-table-area{margin-top:20px;}.blue-award-container{width:49.5%;padding:0 25px;}.blue-ribbon{width:85%;}.blue-title5a{width:90%;}}
@media (max-width:550px){.blue-ribbon{width:90%;}}
@media (max-width:500px){.blue-award-container{padding:0 5px;}.blue-ribbon{width:93%;}.blue-title5a{width:100%;}.blue-table-area{width:95%;}}
@media (max-width:475px){.blue-award-container{width:49%;padding:0 0px;}}
@media (max-width:450px){.blue-ribbon{width:95%;}.blue-table{font-size:20px;}}
@media (max-width:400px){.blue-table{font-size:19px;}}
@media (max-width:400px){.blue-name{padding-left:8px;}.blue-table .gratuation-school-1{margin-left:48px;}.level-1,.level-2{font-size:14px;}.level-1{top:-7px;}.level-2{top:8px;}}
@media (max-width:360px){.blue-table{font-size:18px;}}

.footer-bu{width:100%;height:auto;position:fixed;bottom:0px;z-index:50;display:none;}
.go-red,.go-blue{
width:50%;height:42px;
font-size:20px;color:#ffffff;letter-spacing:1px;text-align:center;
float:left;
border-top:2px solid #ffffff;
padding-top:6px;
}
.go-red{
background: #ff4040;
background: -moz-linear-gradient(top, #ff4040 0%, #b90000 100%);
background: -webkit-linear-gradient(top, #ff4040 0%,#b90000 100%);
background: linear-gradient(to bottom, #ff4040 0%,#b90000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4040', endColorstr='#b90000',GradientType=0);
border-right:1px solid #ffffff;
}
.go-blue{
background:#0082ed;
background:-moz-linear-gradient(top, #0082ed 0%, #0027b9 100%);
background:-webkit-linear-gradient(top, #0082ed 0%,#0027b9 100%);
background:linear-gradient(to bottom, #0082ed 0%,#0027b9 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#0082ed', endColorstr='#0027b9',GradientType=0);
border-left:1px solid #ffffff;
}
.go-gold{
width:100%;height:40px;
background: #fff195;
background: -moz-linear-gradient(top, #fff195 0%, #ffc34f 40%, #c9791c 100%);
background: -webkit-linear-gradient(top, #fff195 0%,#ffc34f 40%,#c9791c 100%);
background: linear-gradient(to bottom, #fff195 0%,#ffc34f 40%,#c9791c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff195', endColorstr='#c9791c',GradientType=0);
font-size:20px;color:#431904;text-align:center;
border-top:2px solid #ffffff;
padding-top:5px;
float:left;
}
.list-tip{font-size:22px;font-weight:bold;color:#461900;text-shadow:0 1px 2px rgba(255,255,255,0.5);text-align:center;margin-top:20px;}
@media (max-width:1100px){.footer-bu{display:block;}.list-tip{font-size:21px;font-weight:normal;}}
@media (max-width:700px){.list-tip{font-size:20px;}}
@media (max-width:500px){.go-red,.go-blue{height:40px;font-size:19px;}.go-gold{height:38px;font-size:19px;padding-top:5px;}.list-tip{font-size:19px;}}
@media (max-width:400px){.list-tip{font-size:18px;}}

.pup-black{width:100%;height:100%;background-color:rgba(0,0,0,0.6);position:fixed;z-index:80;}
.pup-window-container{width:800px;height:auto;background-color:#ffffff;border-radius:20px;border:3px solid #292929;position:fixed;top:45px;left:50%;margin-left:-400px;z-index:100;}
.pup-window{width:100%;padding:30px;padding-top:20px;color:#292929;position:relative;}
.pup-window-close{position:absolute;top:-35px;right:0px;}
.pup-window-close img{cursor:pointer;}
.pup-window-title{font-size:25px;}
.pup-window-title i{font-size:24px !important;position:relative;top:-2px;margin-right:3px;}
.pup-window-title span{font-size:22px;margin-left:15px;float:right;position:relative;top:3px;}
.pup-window-play{width:100%;height:auto;margin-top:15px;}
.pup-window-play img{max-width:100%;height:auto;}
.pup-window-play iframe{width:100%;height:400px;}
.pup-window-text{width:100%;max-height:280px;height:auto;font-size:20px;letter-spacing:1px;line-height:27px;margin-top:15px;overflow:scroll;overflow-x:hidden;}
.pup-window-text-2{width:100%;max-height:120px;height:auto;font-size:20px;letter-spacing:1px;line-height:27px;margin-top:10px;overflow:scroll;overflow-x:hidden;}
@media (max-width:1366px){
.pup-window-container{width:700px;margin-left:-350px;}
.pup-window-title{font-size:24px;}
.pup-window-title i{font-size:23px !important;}
.pup-window-title span{font-size:21px;}
.pup-window-play iframe{height:340px;}
.pup-window-text{font-size:19px;line-height:26px;}
.pup-window-text-2{font-size:19px;line-height:26px;}
}
@media (max-width:1024px){
.pup-window-container{width:600px;margin-left:-300px;}
.pup-window{padding:20px;padding-top:10px;}
.pup-window-close img{width:124px;}
.pup-window-title{font-size:22px;}
.pup-window-title i{font-size:21px !important;}
.pup-window-title span{font-size:20px;}
.pup-window-play iframe{height:300px;}
.pup-window-text{font-size:18px;line-height:25px;}
.pup-window-text-2{font-size:18px;line-height:25px;}
}
@media (max-width:850px){
.pup-window-container{width:550px;margin-left:-275px;}
.pup-window-title{font-size:21px;}
.pup-window-title i{font-size:20px !important;}
.pup-window-title span{font-size:19px;}
.pup-window-text{font-size:17px;line-height:23px;}
.pup-window-text-2{font-size:17px;line-height:23px;}
}
@media (max-width:620px){.pup-window-container{width:96%;left:0%;margin-left:2%;}}
@media (max-width:550px){.pup-window-play iframe{height:280px;}}
@media (max-width:500px){
.pup-window-close{top:-30px;}
.pup-window-close img{width:115px;}
.pup-window-title{font-size:20px;}
.pup-window-title i{font-size:19px !important;}
.pup-window-title span{font-size:18px;}
.pup-window-play iframe{height:260px;}
.pup-window-text{font-size:16px;line-height:22px;}
.pup-window-text-2{max-height:120px;font-size:16px;line-height:22px;}
}
@media (max-width:450px){.pup-window-play iframe{height:240px;}}
@media (max-width:420px){
.pup-window-close img{width:105px;}
.pup-window-title span{display:block;float:none;margin-top:5px;margin-left:0px;top:0px;}
.pup-window-pic{margin-top:5px;}
.pup-window-text{margin-top:10px;}
.pup-window-text-2{margin-top:5px;}
}
@media (max-width:400px){.pup-window-play iframe{height:200px;}}

.bu-infor-container{width:450px;margin:0 auto;margin-top:50px;}
.bu-infor-container img{width:100%;}
.bu-infor-pic-top,.bu-infor-pic-bottom{width:50%;float:left;position:relative;}
.bu-infor-pic-top{top:0px;transition:0.3s ease;cursor:pointer;}
.bu-infor-pic-bottom{top:-15px;}
.pic-top-left:hover,.pic-top-right:hover{top:-8px;}
@media (max-width:900px){.bu-infor-container{width:50%;}}
@media (max-width:800px){.bu-infor-container{width:60%;}}
@media (max-width:700px){.bu-infor-container{width:65%;}}
@media (max-width:600px){.bu-infor-container{width:80%;margin-top:40px;}}
@media (max-width:500px){.bu-infor-container{width:90%;margin-top:30px;}}

/* 
.bu-comment{
width:78%;height:48px;
font-size:24px;font-weight:bold;color:#461900;text-shadow: 0 1px 2px rgba(255,255,255,0.5);
border:1px solid #ac460e;border-bottom:3px solid #612300;border-radius:5px;
background: #ffc22f;
background: -moz-linear-gradient(top, #ffc22f 0%, #ffff77 25%, #ffd34e 48%, #ff6e02 100%);
background: -webkit-linear-gradient(top, #ffc22f 0%,#ffff77 25%,#ffd34e 48%,#ff6e02 100%);
background: linear-gradient(to bottom, #ffc22f 0%,#ffff77 25%,#ffd34e 48%,#ff6e02 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc22f', endColorstr='#ff6e02',GradientType=0 );
-webkit-box-shadow: 0 3px 6px rgba(20,0,0,0.5);
-moz-box-shadow: 0 3px 6px rgba(20,0,0,0.5);
box-shadow: 0 3px 6px rgba(20,0,0,0.5);
margin:0 auto;padding-top:6px;
cursor:pointer;
position:relative;top:-6px;
}
*/

