@charset "utf-8";

/* reset */
*{font-family:'arial',\5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4;letter-spacing:1px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{margin:0px;}
ul,li{padding:0px;margin:0px;list-style:none;}
a{text-decoration:none;outline:none}
a:hover{text-decoration:none;}
img{border:none;}
textarea:focus,input:focus,select:focus{outline:none;}
select{ 
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
select::-ms-expand{
display: none;
}
/* reset end */

.manager_main_area{width:100%;height:auto;min-height:800px;background-color:#088e51;padding-bottom:80px;}
.manager_main_container{width:1280px;height:auto;margin:0 auto;}
.manager_nav_container{width:100%;height:120px;position:relative;top:0px;right:0px;}
.manager_nav_logo{position:absolute;top:20px;left:10px;}
.manager_nav_logo img{height:85px;}
.manager_nav_btn_container{position:absolute;top:57px;left:183px;z-index:20;}
.manager_nav_btn{font-size:16px;color:#ffffff;margin:0 25px;float:left;cursor:pointer;position:relative;}
.manager_news_notice{width:8px;height:8px;background-color:#ffd737;border-radius:50%;position:absolute;top:-3px;right:-8px;}
.manager_nav_btn_open{
width:100px;height:30px;
background-color:#ffffff;background-image:url(../image/member_nav_btn_open.png);background-repeat:no-repeat;background-position:center right;
font-size:15px;color:#088e51;
border-radius:25px;
padding-top:5px;padding-left:10px;
position:absolute;top:15px;right:0px;
display:none;
cursor:pointer;
}
.manager_nav_btn_open.active{background-image:url(../image/member_nav_btn_open_active.png);}
.manager_setting,.manager_point_deposit{margin-left:7px;}
.manager_setting,.manager_point_deposit,.manager_point_record{color:#ffd737;cursor:pointer;}
.manager_nav_infor .yellow_line{position:relative;top:2px;margin:0 8px;}
@media (max-width:1360px){
.manager_main_container{width:100%;padding:0 20px;}
.manager_nav_btn_container{left:163px;}
.manager_nav_btn{margin:0 15px;}
}
@media (max-width:960px){
.manager_main_container{width:100%;padding:0 20px;}
.manager_nav_btn_container{left:163px;}
.manager_nav_btn{margin:0 15px;}
}
@media (max-width:900px){
.manager_main_container{width:100%;padding:0 20px;}
.manager_nav_btn_container{top:15px;left:auto;right:0px;}
.manager_nav_btn{margin:0 0px;margin-left:30px;}
}
@media (max-width:800px){
.manager_nav_container{height:120px;}
}
@media (max-width:720px){
.manager_main_container{padding:0 10px;}
}
@media (max-width:600px){
.manager_nav_container{height:110px;}
.manager_nav_logo img{height:80px;}
.manager_nav_btn{font-size:15px;margin-left:20px;}
.manager_nav_infor{font-size:15px;top:2px;}
}
@media (max-width:500px){
.manager_main_container{padding:0 0px;}
.manager_nav_logo{left:10px;}
.manager_nav_btn_open,.manager_nav_account_container{right:10px;}
.manager_nav_btn_container{width:120px;background-color:#ffffff;border-radius:10px;box-shadow:0 2px 3px rgba(0,0,0,0.3);top:50px;display:none;}
.manager_nav_btn{
width:100%;height:50px;
font-size:16px;color:#088e51;
margin-left:0px;
float:none;
display:flex;justify-content:center;align-items:center;
}
.manager_nav_btn_open{display:block;}
.manager_setting,.manager_point_deposit,.manager_point_record{letter-spacing:0px;}
.manager_news_notice{top:12px;right:16px;}
}
@media (max-width:420px){
.manager_nav_container{height:105px;}
.manager_nav_logo img{height:75px;}
.manager_nav_btn_container{width:100px;top:45px;}
.manager_nav_btn{font-size:14px;}
.manager_setting,.manager_point_deposit{margin-left:5px;}
.manager_nav_btn_open{width:90px;font-size:14px;padding-left:8px;top:10px;}
}

.manager_nav_account_container{width:296px;position:absolute;top:40px;right:20px;}
.manager_nav_account{position:relative;}
.manager_nav_headpic{position:absolute;top:0px;right:165px;}
.manager_nav_headpic div{position:relative;}
.manager_nav_headpic img{width:50px;border-radius:50%;}
.manager_nav_infor{font-size:16px;color:#ffffff;position:absolute;top:1px;right:0px;}
.manager_nav_infor div{text-align:right;margin-bottom:5px;}
.manager_account_setting,.manager_class_setting{margin-left:7px;}
.manager_account_setting,.manager_class_setting,.manager_point_record{color:#ffd737;cursor:pointer;}
.manager_nav_infor .yellow_line{position:relative;top:2px;margin:0 8px;}
.manager_reset_passowrd_btn,.manager_logout_btn,.manager_logout_btn a{color:#ffd737;cursor:pointer;}
.manager_reset_passowrd_btn:hover,.manager_logout_btn:hover{text-decoration:underline;}
@media (max-width:900px){
.manager_nav_account_container{width:285px;}
}
@media (max-width:600px){
.manager_nav_account_container{width:240px;}
.manager_nav_infor{top:2px;}
.manager_nav_headpic{left:25px;}
.manager_nav_headpic .manager_medal{width:16px !important;bottom:3px;right:-2px;}
}
@media (max-width:500px){
.manager_nav_account_container{right:10px;}
.manager_nav_headpic{top:5px;left:15px;}
.manager_nav_headpic img{width:40px;}
.manager_nav_account_container{width:216px;}
.manager_nav_infor{left:46px;}
.manager_nav_infor div{letter-spacing:0px;}
.manager_account_setting,.manager_class_setting,.manager_point_record{letter-spacing:0px;}
}
@media (max-width:420px){
.manager_nav_headpic{left:15px;}
.manager_nav_headpic img{width:35px;}
.manager_nav_headpic .manager_medal{width:12px !important;bottom:3px;right:-2px;}
.manager_nav_infor{top:0px;left:42px;}
.manager_nav_infor .yellow_line{height:12px;top:1px;}
.manager_account_setting,.manager_class_setting{margin-left:5px;}
}

.manager_lesson_infor{width:100%;position:relative;}
.manager_lesson_tip_container{font-size:16px;color:#ffd737;position:absolute;top:15px;left:10px;}

.manager_lesson_tip{display:inline;margin-left:10px;cursor:pointer;}
/*0730 修改CSS樣式*/
.manager_lesson_tip span:hover{text-decoration:underline;}
/*0730 修改樣式*/
.manager_notice{color:#ffd737;}
.manager_lesson_infor > ul{padding-right:20px;}
.manager_lesson_infor > ul:after{content:"";display:block;clear:both;}
.manager_lesson_infor > ul li{
width:130px;height:50px;
background:#e0e0e0;
font-size:18px;color:#9e9e9e;
border-radius:10px 10px 0px 0px;
margin-left:10px;padding:0px 15px;
float:right;
display:flex;align-items:center;justify-content:center;
cursor:pointer;
}
.manager_lesson_infor > ul li.active,.manager_lesson_infor > ul li:hover{
background:#ffd737;
color:#6e3900;
}
.manager_lesson_infor_container{
width:100%;height:auto;min-height:calc(100vh - 240px);
background-color:#ffffff;
border-radius:20px;
padding:30px 50px 50px 50px;
position:relative;
}
.manager_lesson_infor_title{width:100%;font-size:20px;color:#202020;}
@media (max-width:1280px){
.manager_lesson_infor_container{padding:30px;}
}
@media (max-width:1150px){
.manager_lesson_infor > ul li{width:110px;margin-left:5px;}
.manager_lesson_tip_container{left:0px;}
}
@media (max-width:1024px){
.manager_lesson_infor > ul li{width:100px;padding:0 5px;}
}
@media (max-width:960px){
.manager_lesson_tip{margin-left:0px;} /*0730 修改樣式刪除display:block;*/
.manager_lesson_tip_container{left:20px;}
}
@media (max-width:800px){
.manager_lesson_tip{display:inline;margin-left:10px;}
.manager_lesson_tip_container{text-align:right;margin-bottom:10px;position:relative;top:-10px;left:auto;right:20px;}
.manager_lesson_infor > ul{padding:0 15px;}
.manager_lesson_infor > ul li{width:calc(25% - 10px);margin:0 5px;padding:0 5px;}
}
@media (max-width:600px){
.manager_lesson_tip_container{top:-5px;}
.manager_lesson_tip img{top:2px;}
.manager_lesson_infor_container{padding:20px 20px 30px 20px;}
}
@media (max-width:500px){
.manager_lesson_tip_container{right:10px;}
.manager_lesson_tip{letter-spacing:0px;}
.manager_lesson_infor_container{border-radius:0px;}
.manager_lesson_infor > ul{padding:0 5px;}
}
@media (max-width:420px){
.manager_lesson_tip img{width:10px;margin-right:3px;}
.manager_lesson_infor > ul li{width:calc(25% - 4px);height:46px;margin:0 2px;}
.manager_lesson_infor_container{padding:20px 10px 30px 10px;}
}

.manager_record_search_container{margin-top:10px;display:flex;justify-content:flex-end;}
.manager_record_search{width:25%;height:36px;margin-left:10px;position:relative;}
.manager_record_search input {
width:100%;height:100%;
background-color:#ffffff;
font-size:16px;color:#757575;
border:1px solid #9e9e9e;border-radius:5px;
padding-left:10px;
}
.manager_record_search img{
position:absolute;top:3px;right:0;cursor:pointer;
}
@media (max-width:600px){
.manager_record_search{width:40%;}
}

.manager_list_container{width:100%;margin-top:20px;margin-bottom:30px;}
.manager_list_title{width:100%;margin-top:20px;}
.manager_list_title:after{content:"";display:block;clear:both;}
.manager_list_title div{
width:25%;
background-color:#202020;
font-size:16px;color:#ffffff;text-align:center;
border-right:1px solid #ffffff;
padding:7px 5px;
float:left;
}
.manager_list_title div:last-child{border-right:0px solid #ffffff;}
.manager_list_infor{width:100%;border:1px solid #bfbfbf;border-top:0px;border-bottom:2px solid #bfbfbf;}
.border_left_right_none{border-left:0px;border-right:0px;}
.manager_list_infor:after{content:"";display:block;clear:both;}
.manager_list_infor > div{
width:25%;height:60px;
font-size:18px;color:#202020;text-align:center;
border-right:1px solid #bfbfbf;
padding:0px 5px;
float:left;
display:flex;justify-content:center;align-items:center;
}
.manager_list_infor > div:last-child{
border-right:0px solid #bfbfbf;
}
.manager_list_infor_btn{width:50%;height:36px;background-color:#088e51;color:#ffffff;border-radius:5px;border-bottom:2px solid #00542e;margin:0 auto;display:flex;justify-content:center;align-items:center;cursor:pointer;}
.list_infor_name{color:#088e51;cursor:pointer;}
.list_infor_name:hover{text-decoration:underline;}
@media (max-width:800px){
.manager_list_infor_btn{width:70%;}
}
@media (max-width:600px){
.manager_list_container{margin-top:15px;margin-bottom:20px;}
.manager_list_infor div,.student_list_btn div,.teacher_list_btn div,.student_class_record_btn div{font-size:16px;}
.manager_list_infor > div{height:50px;padding:0px 5px;}
.manager_list_infor_btn{height:30px;}
}
@media (max-width:420px){
.manager_list_container{margin-bottom:15px;}
.manager_list_infor > div{padding:0px 0px;}
.manager_list_title div,.manager_list_infor div{letter-spacing:0px;}
}

.student_list_btn,.teacher_list_btn,.student_class_record_btn{width:100%;}
.student_list_btn:after,.teacher_list_btn:after,.student_class_record_btn:after{content:"";display:block;clear:both;}
.student_list_btn div,.teacher_list_btn div,.student_class_record_btn div{
background-color:#088e51;
font-size:18px;color:#ffffff;text-align:center;
border-left:1px solid #00542e;border-right:1px solid #00542e;border-bottom:2px solid #00542e;
padding:12px 5px;
float:left;
cursor:pointer;
}
.student_list_btn div:hover,.teacher_list_btn div:hover,.student_class_record_btndiv:hover{background-color:#ffd737;color:#6e3900;}
.student_list_btn div{width:33.333%;}
.teacher_list_btn div{width:50%;}
.student_class_record_btn div{width:100%;border-right:0px solid #00814f;border-radius:0px 0px 8px 8px;}
/*0730 新增上課錄影按鈕CSS樣式*/
.fill_in_recode_btn{width:50% !important;}
.fill_in_recode_btn:nth-child(odd){border-radius: 0px 0px 0px 8px;border-right:1px solid #00542e;}
.fill_in_recode_btn:nth-child(even){border-radius: 0px 0px 8px 0px;border-left:1px solid #00542e;}
/*0730 新增上課錄影按鈕CSS樣式 end*/
.notice_point{width:8px;height:8px;background-color:#ffd737;border-radius:50%;position:absolute;top:-5px;right:-12px;display:block;}
.teacher_list_subject{width:100%;border-left:1px solid #bfbfbf;border-right:1px solid #bfbfbf;display:table;}
.teacher_list_subject > div{display:table-row;}
.teacher_list_subject_title,.teacher_list_subject_infor{display:table-cell;vertical-align:middle;}
.teacher_list_subject_title{width:25%;background-color:#202020;font-size:16px;text-align:center;color:#ffffff;padding:17px 5px;}
.teacher_list_subject_infor{width:75%;font-size:18px;padding:17px 10px;}
@media (max-width:600px){
.student_list_btn div,.teacher_list_btn div,.student_class_record_btn div{font-size:16px;padding:10px 5px;}
.notice_point{width:6px;height:6px;top:-2px;right:-8px;}
}
@media (max-width:420px){
.student_list_btn div,.teacher_list_btn div,.student_class_record_btn div{letter-spacing:0px;}
}

.study_list_title{width:100%;margin-top:20px;}
.study_list_title:after{content:"";display:block;clear:both;}
.study_list_title div{
background-color:#202020;
font-size:16px;color:#ffffff;
border-left:1px solid #ffffff;
padding:7px 5px;
float:left;
}
.study_list_title_day,.study_list_title_edit{width:25%;text-align:center;}
.study_list_title_text{width:50%;padding-left:20px !important;}
.study_list_infor{width:100%;border-bottom:1px solid #bfbfbf;}
.study_list_infor:after{content:"";display:block;clear:both;}
.study_list_infor > div{
min-height:60px;
font-size:18px;color:#202020;
float:left;
display:flex;
}
.study_list_infor_day,.study_list_infor_edit{width:25%;text-align:center;padding:0px 5px;justify-content:center;align-items:center;}
.study_list_infor_text{width:50%;padding:5px 20px;justify-content:flex-start;align-items:center;}
.study_list_infor_btn{width:50%;height:36px;background-color:#088e51;color:#ffffff;border-bottom:2px solid #00542e;;border-radius:5px;margin:0 auto;display:flex;justify-content:center;align-items:center;cursor:pointer;}
@media (max-width:800px){
.study_list_infor_btn{width:70%;}
}
@media (max-width:420px){
.study_list_title div{letter-spacing:0px;}
}


.pup_manager_bg{width:100%;height:100%;background-color:rgba(0,0,0,0.7);position:fixed;top:0px;left:0px;}
.pup_manager_window{
width:600px;
background-color:#ffffff;
border-radius:20px;
position:fixed;top:50px;left:50%;margin-left:-300px;z-index:50;
}
.pup_manager_window_score_form{
width:1280px;
background-color:#ffffff;
border-radius:20px;
position:fixed;top:50px;left:50%;margin-left:-640px;z-index:50;
}
.pup_manager_window > div,.pup_manager_window_score_form > div{padding:25px;position:relative;}
.pup_manager_window .pup_manager_container{max-height:calc(100vh - 230px);overflow:scroll;overflow-x:hidden;}
.pup_manager_window_score_form .pup_manager_container{height:calc(90vh - 60px);overflow:scroll;overflow-x:hidden;}
.pup_manager_close{width:30px;position:absolute;top:-40px;right:10px;cursor:pointer;}
.pup_manager_close_inside{width:30px;position:absolute;top:20px;right:20px;cursor:pointer;}
.pup_manager_window_btn{
width:100%;height:60px;
background-color:#088e51;
font-size:20px;color:#ffffff;
border-radius:0px 0px 20px 20px;
position:absolute;bottom:0px;left:0px;
display:flex;align-items:center;justify-content:center;
cursor:pointer;
}
.window_btn_reture{width:50%;left:0px;border-radius:0px 0px 0px 20px;border-right:1px solid #ffffff;}
.window_btn_send{width:50%;left:auto;right:0px;border-radius:0px 0px 20px 0px;border-left:1px solid #ffffff;}

.pup_manager_window_btn_no{
width:100%;height:60px;
background-color:#bfbfbf;
font-size:22px;color:#ffffff;
border-radius:0px 0px 20px 20px;
position:absolute;bottom:0px;left:0px;
display:flex;align-items:center;justify-content:center;
cursor:not-allowed;
}
@media (max-width:1360px){.pup_manager_window_score_form{width:96%;left:2%;margin-left:0px;}}
@media (max-width:700px){
.pup_manager_window{width:90%;left:5%;margin-left:0px;}
.pup_manager_window > div,.pup_manager_window_score_form > div{padding:20px;}
}
@media (max-width:420px){
.pup_manager_window{width:96%;left:2%;}
.pup_manager_window > div,.pup_manager_window_score_form > div{padding:15px;padding-top:25px;}
}

.pup_notice_title{font-size:18px;margin-bottom:10px;}
.pup_notice_text{font-size:16px;margin-bottom:5px;}

.pup_information_text{font-size:18px;color:#202020;margin-bottom:15px;}
@media (max-width:600px){
.pup_information_text{font-size:16px;}
}

.pup_manager_input_area{margin-top:20px;}
.pup_manager_input_area_num{margin-bottom:10px}
.pup_manager_input_area_num:after{content:"";display:block;clear:both;}
.pup_manager_input_area_num > div{float:right;}
.pup_manager_input_area_num_line{width:calc(100% - 115px);height:1px;background:#bfbfbf;position:relative;top:11px;}
.pup_manager_input_area_num_name{width:100px;font-size:16px;color:#202020;margin-left:10px;}
.pup_manager_input_area_num_name a{color:#ff0000;}

.pup_manager_input_container{width:100%;margin-bottom:10px;}
.pup_manager_input_container:after{content:"";display:block;clear:both;}
.pup_manager_input_container div{float:left;}
.pup_manager_input_title{width:78px;font-size:18px;margin-right:10px;display:flex;align-items:center;position:relative;}
.pup_manager_input_title span{font-size:14px;color:#ff0000;position:absolute;bottom:0px;right:0px;}
.pup_manager_input_tip{width:100%;font-size:16px;color:#202020;text-align:right;margin-top:8px;}
.input_delet_file{color:#ff0000;margin-right:3px;cursor:pointer;}
.pup_manager_input,.pup_manager_input_title,.pup_manager_input_time{height:60px;}
.pup_manager_input,.pup_manager_input_textarea{width:calc(100% - 88px);border:2px solid #bfbfbf;border-radius:10px;padding:5px;}
.pup_manager_input_textarea{height:100px;}
.pup_manager_input_time{width:calc(50% - 59px);}
.setting_time_colon{width:30px;font-size:32px;text-align:center;display:flex;align-items:center;}
.pup_manager_input input,.pup_manager_input_time input,.pup_manager_input_textarea textarea{width:100%;height:100%;font-size:20px;border:0px;}
.pup_manager_input input[type=file]{opacity:0;}
.pup_manager_input_time input{text-align:center;border:2px solid #bfbfbf;border-radius:10px;}
.pup_manager_input select{background-color:#ffffff;background-image:url(../image/select_arrow.png);background-position:center right;background-repeat:no-repeat;width:100%;height:100%;font-size:20px;border:0px;padding-left:10px;}
.pup_manager_input_add{
width:100%;height:40px;
background:#088e51;
font-size:18px;color:#ffffff;
border-radius:5px;
margin-top:10px;
display:flex;justify-content:center;align-items:center;
cursor:pointer;
}
@media (max-width:600px){
.pup_manager_input,.pup_manager_input_title,.pup_manager_input_time{height:55px;}
}


.pup_form_schedule{
width:1024px;height:auto;
background:#ffffff;
border-radius:10px;
padding:20px;margin-left:-512px;
position:fixed;top:10px;left:50%;
z-index:200;
}
.pup_schedule_select{
width:300px;height:40px;margin-top:20px;
}
.pup_schedule_select select{
width:100%;height:100%;
background-color:#ffffff;background-image:url(../image/select_arrow.png);background-position:center right;background-repeat:no-repeat;
font-size:16px;color:#757575;
border:1px solid #9e9e9e;border-radius:5px;
padding-left:10px;
}
.pup_schedule_list{
width:100%;height:calc(100vh - 150px);
padding-top:20px;
overflow:scroll;overflow-x:hidden;
}
.pup_schedule_list_title{font-size:16px;margin-top:10px;}
.pup_schedule_day_container{width:100%;font-size:16px;margin-top:10px;}
.pup_schedule_day_container:after{content:"";display:block;clear:both;}
.pup_schedule_day{width:8.3333%;margin-bottom:20px;float:left;}
.pup_schedule_day input{position:relative;top:1px;}
.pup_schedule_time_container{width:100%;margin-top:10px;}
.pup_schedule_time_container:after{content:"";display:block;clear:both;}
.pup_schedule_time{width:calc(20% - 10px);margin-right:10px;margin-bottom:20px;float:left;}
.pup_schedule_time_title{
width:100%;height:30px;
background-color:#088e51;
font-size:16px;color:#ffffff;
border-radius:5px 5px 0px 0px;
padding:0px 10px;
display:flex;align-items:center;justify-content:space-between;
}
.pup_schedule_time_title input{position:relative;top:1px;right:-1px;}
.pup_schedule_time_choice_container{width:100%;border:1px solid #bfbfbf;border-top:0px;padding:10px;padding-bottom:0px;}
.pup_schedule_time_choice_container:after{content:"";display:block;clear:both;}
.pup_schedule_time_choice{width:50%;font-size:16px;margin-bottom:10px;float:left;}
.pup_schedule_time_used{color:#bfbfbf;}
.pup_schedule_time_choice input{position:relative;top:1px;right:-1px;}
.pup_form_schedule_btn{
width:100%;height:50px;
background-color:#088e51;color:#ffffff;
font-size:20px;
border-radius:0px 0px 10px 10px;
position:absolute;bottom:0px;left:0px;
display:flex;justify-content:center;align-items:center;
cursor:pointer;
}
@media (max-width:1100px){
.pup_form_schedule{width:96%;margin-left:0px;left:2%;}
}
@media (max-width:980px){
.pup_schedule_time{width:calc(25% - 10px);}
}
@media (max-width:800px){
.pup_schedule_time{width:calc(33.333% - 10px);}
}
@media (max-width:600px){
.pup_form_schedule{padding-bottom:60px;}
.pup_schedule_list{height:calc(100vh - 155px);padding-top:10px;}
.pup_schedule_time{margin-bottom:10px;}
.pup_schedule_time_title input{top:2px;}
.pup_schedule_time_choice_container{padding:12px;padding-bottom:3px;}
.pup_schedule_time_choice input{top:2px;}
.pup_schedule_select{width:70%;height:36px;margin-top:20px;}
.pup_form_schedule_btn{height:40px;font-size:18px;}
}
@media (max-width:550px){
.pup_schedule_time{width:calc(50% - 5px);margin-right:5px;}
}
@media (max-width:420px){
.pup_form_schedule{padding:10px;padding-bottom:50px;}
.pup_schedule_list{height:calc(100vh - 135px);}
.pup_schedule_list_title{font-size:14px;}
.pup_form_schedule_btn{font-size:16px;}
}

.pup_cancel_tip_title{font-size:24px;text-align:center;margin-bottom:20px;}
.pup_cancel_tip_infor{font-size:18px;text-align:center;line-height:26px;}
/*0730 新增取消上課原因CSS樣式*/
.pup_cancel_tip_reason{width:100%;border:2px solid #bfbfbf;border-radius:10px;margin-top:20px;padding:10px;}
.pup_cancel_tip_reason textarea{width:100%;height:100%;font-size:20px;border:0px;}
/*0730 新增取消上課原因CSS樣式*/
.pup_study_infor_title,.pup_contact_infor_title,.pup_class_report_title{font-size:18px;margin-bottom:5px;padding-left:5px;}
.pup_study_infor_textarea textarea,.pup_contact_infor_textarea textarea,.pup_class_report_textarea textarea{width:100%;height:150px;font-size:16px;border-radius:10px;border:1px solid #bfbfbf;padding:20px;}


.pup_class_detail_text{font-size:18px;color:#202020;margin-bottom:15px;}


.score_record_search_container{margin-top:10px;display:flex;justify-content:flex-end;}
.score_record_search{width:25%;height:36px;margin-left:10px;}
.score_record_search select {
width:100%;height:100%;
background-color:#ffffff;background-image:url(../image/select_arrow.png);background-position:center right;background-repeat:no-repeat;
font-size:16px;color:#757575;
border:1px solid #9e9e9e;border-radius:5px;
padding-left:10px;
}
.score_record_title_contianer{width:100%;margin-top:10px;}
.score_record_form_title{font-size:22px;margin-top:20px;margin-bottom:10px;}
.score_record_form_tip_container:after{content:"";display:block;clear:both;}
.score_record_form_tip{margin-left:30px;float:right}
.score_record_form_tip div{width:16px;height:16px;margin-right:5px;display:inline-block}
.score_record_form_tip span{font-size:16px;position:relative;top:-2px}
.score_record_title_date,.score_record_title_type,.score_record_title_subject,.score_record_title_point,.score_record_title_memo,.score_record_title_btn{
height:40px;
background-color:#202020;
font-size:16px;color:#ffffff;
border-right:1px solid #ffffff;
padding:0px 10px;
float:left;
display:flex;justify-content:space-between;align-items:center;
}
.score_record_title_btn{justify-content:center;}
.score_record_title_date{width:80px;}
.score_record_title_type,.score_record_title_subject,.score_record_title_point,.score_record_title_btn{width:80px;}
.score_record_title_memo{width:calc(100% - 320px);border-right:1px solid #ffffff;padding:0px 10px;justify-content:flex-start;}
.score_record_main{width:100%;display:table;}
.score_record_contianer{width:100%;border-bottom:1px solid #e0e0e0;display:table-row;}
.score_record_date,.score_record_type,.score_record_subject,.score_record_point,.score_record_memo,.score_record_btn{
height:60px;min-height:50px;
font-size:16px;color:#202020;text-align:center;vertical-align:middle;
display:table-cell;
}
.score_record_date{width:80px;}
.score_record_type,.score_record_subject,.score_record_point,.score_record_btn{width:80px;}
.score_record_btn > div{width:90%;height:40px;background:#088e51;color:#ffffff;border-radius:5px;margin:0 auto;display:flex;justify-content:center;align-items:center;cursor:pointer;}
.score_record_memo{width:calc(100% - 320px);color:#757575;text-align:left;padding:10px 10px 10px 10px;}
.score_pass{color:#088e51;}
.score_low_pass{color:#ff6c00;}
.score_no_pass{color:#ff0000;}
@media (max-width:600px){
.score_record_search{width:40%;}
.score_record_form_title{font-size:20px;}
.score_record_title_type,.score_record_type{width:70px;letter-spacing:0px;}
.score_record_title_date,.score_record_title_subject,.score_record_title_point,.score_record_title_btn{width:60px;letter-spacing:0px;padding:0px 5px;}
.score_record_date,.score_record_subject,.score_record_point,.score_record_btn{width:60px;padding:0px 5px;}
.score_record_title_memo,.score_record_memo{width:calc(100% - 250px);padding:10px 5px 10px 5px;}
}
@media (max-width:420px){
.score_record_form_title{font-size:18px;}
}


