@charset "utf-8";

/* page-main-banner */
.page-main-banner{width:100%;height:468px;background-image:url(../image/page-banner1920.jpg);background-position:top center;background-repeat:no-repeat;position:relative;}
.page-main-banner img{width:100%;}
.page-dis-1{display:none;}
.page-dis-2{display:none;}
.page-dis-3{display:none;}
.page-dis-4{display:none;}
/* page-main-banner end */
/* page-main-banner RWD */
@media (max-width:1240px) {.page-main-banner{height:auto;background-image:none;}.page-dis-1{display:block;}}
@media (max-width:1000px) {.page-main-banner{height:377px;background-image:url(../image/page-banner1000.jpg);}.page-dis-1{display:none;}}
@media (max-width:900px) {.page-main-banner{height:auto;background-image:none;}.page-dis-2{display:block;}}
/* page-main-banner RWD end */

/* page main board */
.page-main-container{width:100%;height:auto;background-color:#81cb1f;background-image:url(../image/main-bg.jpg);background-repeat:no-repeat;background-position:top center;}
.page-main-board{width:1280px;height:auto;background-image:url(../image/main-board-bg.jpg);background-size:100% auto;background-repeat:repeat-y;border:20px solid #692f00;margin:0 auto;padding-bottom:5px;position:relative;}
.page-main-board-top{width:100%;position:absolute;top:0px;left:0px;}
.page-board-bottom{width:1280px;height:10px;background-color:#441e00;margin:0 auto;}
.page-main{width:100%;text-align:center;padding:30px;padding-top:0px;}
/* page main board end */
/* page main board RWD */
@media (max-width:1300px) {.page-main-board{width:100%;}.page-main-board{width:100%;border:15px solid #692f00;}.page-board-bottom{width:100%;}}
@media (max-width:1060px) {.page-main{padding:30px;padding-top:0px;}}
@media (max-width:960px) {.page-main{padding:20px;padding-top:0px;}}
@media (max-width:850px) {.page-main{padding:30px;padding-top:0px;}}
@media (max-width:500px) {.page-main{padding:20px;padding-top:0px;}}
@media (max-width:400px) {.page-main{padding:15px;padding-top:0px;}.page-main-board{border:10px solid #692f00;}}
@media (max-width:380px) {.page-main{padding:10px;padding-top:0px;}}
/* page main board RWD end */

/* 按鈕列 */
.bu-subject{
width:90%;height:76px;
position:relative;
top:-50px;
background: #ebebeb;
background: -moz-linear-gradient(top, #ebebeb 0%, #ebebeb 40%, #cdcdcd 60%, #9f9f9f 100%);
background: -webkit-linear-gradient(top, #ebebeb 0%,#ebebeb 40%,#cdcdcd 60%,#9f9f9f 100%);
background: linear-gradient(to bottom, #ebebeb 0%,#ebebeb 40%,#cdcdcd 60%,#9f9f9f 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#9f9f9f',GradientType=0 );
-webkit-box-shadow: 0 2px 6px rgba(44,17,0,0.5);
-moz-box-shadow: 0 2px 6px rgba(44,17,0,0.5);
box-shadow: 0 2px 6px rgba(44,17,0,0.5);
border-bottom:3px solid #6e6e6e;
border-radius:10px;
margin:0 auto;
z-index:20;
}
.bu-subject ul li{
width:16.6666%;height:76px;
float:left;
text-align:center;
border-right:1px solid #6e6e6e;
padding-top:6px;
cursor:pointer;
}
.bu-subject ul li:hover{
background: #008dea;
background: -moz-linear-gradient(top, #008dea 0%, #0050a2 100%);
background: -webkit-linear-gradient(top, #008dea 0%,#0050a2 100%);
background: linear-gradient(to bottom, #008dea 0%,#0050a2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008dea', endColorstr='#0050a2',GradientType=0 );
border-bottom:3px solid #003868;
border-right:0px solid #6e6e6e;
}
.bu-subject ul li:hover p{color:#ffffff;}
.bu-subject ul li:first-child{
border-top-left-radius:10px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-left-radius:10px;
}
.bu-subject ul li:last-child{
border-right:0px solid #6e6e6e;
border-top-left-radius:0px;
border-top-right-radius:10px;
border-bottom-right-radius:10px;
border-bottom-left-radius:0px;
}
.bu-subject p{letter-spacing:1px;margin:-2px;}
.subject-kind{font-size:30px;color:#727272;}
.subject-name{font-size:18px;color:#5d5d5d;}
.fa-caret-right{margin-right:12px;}
.fa-caret-left{margin-left:12px;}
.active{
background: #008dea; /* Old browsers */
background: -moz-linear-gradient(top, #008dea 0%, #0050a2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #008dea 0%,#0050a2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #008dea 0%,#0050a2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008dea', endColorstr='#0050a2',GradientType=0 ); /* IE6-9 */
border-bottom:3px solid #003868;
border-right:0px solid #003868 !important;
}
.active p{color:#ffffff;}
.bu-subject-mobile{display:none;}
.subject-name > .fa-book{display:none !important;}
/* 按鈕列 end */
/* 按鈕列 RWD */
@media (max-width:1280px) {.bu-subject{width:100%;margin-left:auto;margin-right:auto;}}
@media (max-width:950px) {
.bu-subject ul li{padding-top:8px;}
.subject-kind{font-size:28px;}
.subject-name{font-size:16px;}
}
@media (max-width:700px) {
.bu-subject{width:95%;height:140px;border-radius:0px;top:-35px;}
.bu-subject ul li{width:50%;height:46px;background-color:#ffffff;border-right:0px solid #6e6e6e;border:1px solid #c9c9c9;border-top:0px;text-align:left;padding:0px 15px;padding-top:7px;}
.bu-subject ul li:hover{border-bottom:0px solid #003868;}
.bu-subject ul li:first-child{border-top-left-radius:0px;border-top-right-radius:0px;border-bottom-right-radius:0px;border-bottom-left-radius:0px;}
.bu-subject ul li:last-child{border-right:1px solid #c9c9c9;border-top-left-radius:0px;border-top-right-radius:0px;border-bottom-right-radius:0px;border-bottom-left-radius:0px;}
.active{border:0px solid #c9c9c9 !important;}
.bu-subject p{display:inline;}
.fa-caret-right{display:inline-block !important;}
.subject-kind{font-size:22px;color:#5d5d5d;}
.subject-name{font-size:16px;float:right;position:relative;top:8px;}
.fa-caret-right{margin-right:6px;}
.subject-name > .fa-book{font-size:15px !important;display:inline-block !important;margin-right:2px;}

.bu-subject-mobile{
display:block;
width:90%;height:60px;
background-color:#808080;
background: #ebebeb;
background: -moz-linear-gradient(top, #ebebeb 0%, #ebebeb 40%, #cdcdcd 60%, #9f9f9f 100%);
background: -webkit-linear-gradient(top, #ebebeb 0%,#ebebeb 40%,#cdcdcd 60%,#9f9f9f 100%);
background: linear-gradient(to bottom, #ebebeb 0%,#ebebeb 40%,#cdcdcd 60%,#9f9f9f 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#9f9f9f',GradientType=0 );
text-align:center;font-size:34px;color:#323232;
border-bottom:3px solid #6e6e6e;
border-radius:10px;
padding-top:6px;
margin-left:auto;margin-right:auto;
position:relative;
-webkit-box-shadow: 0 2px 6px rgba(44,17,0,0.3);
-moz-box-shadow: 0 2px 6px rgba(44,17,0,0.3);
box-shadow: 0 2px 6px rgba(44,17,0,0.3);
}
}
@media (max-width:420px) {
.bu-subject ul li{height:40px;padding:0px 10px;padding-top:5px;}
.subject-kind{font-size:20px;}
.subject-name{font-size:14px;}
.bu-subject{height:122px;top:-28px;}
.subject-name > .fa-book{font-size:13px !important;}
}
/* 按鈕列 RWD end */

/* 標題 */
.subject-title-container{width:100%;color:#ffffff;position:relative;top:-10px;}
.subject-title{width:190px;font-size:30px;text-align:left;letter-spacing:1px;float:left;}
.subject-title i{font-size:28px !important;margin-right:3px;position:relative;top:-1px;}
.subject-title span{font-size:22px;margin-left:5px;}
.subject-title-line{width:calc(100% - 336px);height:1px;background-color:#ffffff;margin:0 10px;float:left;position:relative;top:24px;}
.subject-download{width:116px;font-size:22px;text-align:right;float:left;position:relative;top:8px;}
.subject-download a{color:#ffc62c;}
/* 標題 end */
/* 標題 RWD */
@media (max-width:1240px) {
.subject-title{width:230px;font-size:38px;}
.subject-title i{font-size:36px !important;}
.subject-title span{font-size:28px;}
.subject-title-line{width:calc(100% - 413px);}
.subject-download{width:138px;font-size:28px;}
}
@media (max-width:950px) {
.subject-title-container{top:-20px;}
.subject-title{width:216px;font-size:36px;}
.subject-title i{font-size:34px !important;}
.subject-title span{font-size:26px;}
.subject-title-line{width:calc(100% - 390px);}
.subject-download{width:129px;font-size:26px;}
}
@media (max-width:700px) {
.subject-title-container{top:-10px;}
.subject-title{width:206px;font-size:34px;}
.subject-title i{font-size:32px !important;}
.subject-title span{font-size:25px;}
.subject-title-line{width:calc(100% - 355px);margin:0 10px;top:25px;}
.subject-download{width:124px;font-size:25px;}
}
@media (max-width:600px) {
.subject-title{width:199px;font-size:33px;}
.subject-title i{font-size:31px !important;}
.subject-title span{font-size:24px;}
.subject-title-line{width:calc(100% - 343px);}
.subject-download{width:119px;font-size:24px;}
}
@media (max-width:500px) {
.subject-title{width:179px;font-size:30px;}
.subject-title i{font-size:28px !important;}
.subject-title span{font-size:22px;margin-left:2px;}
.subject-title-line{width:calc(100% - 313px);}
.subject-download{width:109px;font-size:22px;top:9px;}
}
@media (max-width:450px) {
.subject-title{width:170px;font-size:28px;}
.subject-title i{font-size:26px !important;}
.subject-title span{font-size:21px;}
.subject-title-line{width:calc(100% - 299px);top:22px;}
.subject-download{width:104px;font-size:21px;top:7px;}
}
@media (max-width:400px) {
.subject-title{width:161px;font-size:26px;}
.subject-title i{font-size:25px !important;}
.subject-title span{font-size:20px;}
.subject-title-line{width:calc(100% - 285px);top:20px;}
.subject-download{width:99px;font-size:20px;top:6px;}
}
/* 標題 RWD end*/

/* 影片列表 */
.video-list{color:#ffffff;}
.video-area{margin-top:15px;}
.video-image{position:relative;width:25%;float:left;padding:0px 15px;margin-bottom:22px;}
.video-image img{max-width:100%;height:auto;cursor:pointer;}
.video-image span{font-size:16px;letter-spacing:1px;display:block;}
/* 影片列表 end */
/* 影片列表 RWD */
@media (max-width:1280px) {.video-image{width:33.3333%;}}
@media (max-width:950px) {.video-list{position:relative;top:-10px;}.video-image span{font-size:19px;}}
@media (max-width:850px) {.video-image{width:50%;}}
@media (max-width:700px) {.video-list{top:-5px;}.video-image span{font-size:18px;}}
@media (max-width:600px) {.video-image{padding:0px 10px;}}
@media (max-width:500px) {.video-image{width:80%;margin:0 auto;padding: 0px 0px;margin-bottom:20px;float:none;}}
@media (max-width:500px) {.video-image{width:90%;}}
/* 影片列表 RWD end */

/* 置底快速導覽 */
.lesson-area{position:fixed;width:1280px;height:auto;background-color:#e0e0e0;bottom:0px;color:#e1e1e1;display:none;}
.gotop{
width:100%;height:40px;
font-size:20px;text-align:center;
padding-top:8px;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#e0e0e0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
cursor:pointer;
}
.gotop a{color:#5d5d5d;}
.gotop i{font-size:28px;position:relative;top:2px;}
/* 置底快速導覽 end*/
/* 置底快速導覽 RWD */
@media (max-width:1280px) {.lesson-area{width:100%;display:block;}}
/* 置底快速導覽 RWD end */





