@charset "utf-8";

.page-right-area{
width: 945px;
height:auto;
background-image: url(../image/window-top-bg.jpg);
background-repeat: repeat-x;
background-position: top center;
background-color:#ffffff;
position: absolute;
border-radius:20px;
top: 162px;
right: 0px;
box-shadow: 0 5px 20px rgba(0,0,0,0.3);
margin-bottom:30px;
}
.page-title{position:absolute;top:18px;left:27px;}
.bu-sequence{float:right;cursor:pointer;}
.page-right-container{min-height:1300px;color:#4e4e4e;padding-top:90px;padding-left:40px;padding-right:40px;padding-bottom:45px;}
@media (max-width:1280px){
.page-right-container{padding-top:90px;padding-left:25px;padding-right:25px;}
}

.filter-area{position:absolute;top:6px;right:115px;}
.filter-close{width:48px;height:47px;background-color:#0063cc;float:left;text-align:center;padding-top:9px;cursor:pointer;}
.filter-close span{color:#ffffff;font-size:20px;position:relative;right:1px;}
.filter-choice-area{width:368px;height:47px;background-color:#ffffff;float:left;padding-top:12px;}
.filter-choice{width:50%;float:left;font-size:18px;color:#4e4e4e;padding-left:22px;}
.filter-choice input{margin:0px 3px 0px 0px;transform:scale(1.3);position:relative;top:1px;}

/* teacher-list */
.search-criteria{font-size:18px;letter-spacing:1px;line-height:28px;}
.criteria-close{font-family:'arial';font-weight:bold;color:#ff0004;margin-right:17px;cursor:pointer;}
.search-criteria img{margin-left:5px;margin-right:15px;}
.search-result{font-size:18px;letter-spacing:1px;line-height:28px;margin-top:18px;}
.search-result span{color:#0063cc;}
.page-right-line{width:100%;height:1px;background-color:#c4c4c4;}
.page-select-area{position:absolute;width:82px;right:0px;top:-33px}
.page-select{
width:100%;
height:34px;
padding-top:1px;
padding-left:7px;
font-size:18px;
color:#4c2400;
border:1px solid #FF8E00;
background-image:url(../image/page-select-bg.jpg);
background-repeat:no-repeat;
background-position:top center;
cursor:pointer;
}
.page-select option{background-color:#ffffff;color:#4c2400;}
.search-teacher-all{height:1122px;overflow:scroll;overflow-x:hidden;}
.search-teacher-area{
width:99.5%;height:210px;
color:#4e4e4e;
background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
background: -webkit-linear-gradient(top, #ffffff 0%,#f0f0f0 100%);
background: linear-gradient(to bottom, #ffffff 0%,#f0f0f0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );
-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.4);-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.4);box-shadow: 0 2px 5px rgba(0,0,0,0.4);
cursor:pointer;
}
.search-teacher-pic{width:210px;height:210px;float:left;position:relative;overflow:hidden;}
.search-teacher-pic-cover{width:100%;height:100%;background-color:rgba(0,0,0,0.7);text-align:center;padding-top:42px;color:#ffffff;position:absolute;top:-210px;transition-duration:0.8s;}
.search-teacher-area:hover .search-teacher-pic-cover{top:0px;}
.search-teacher-pic-cover i{font-size:80px;}
.search-teacher-pic-cover div{font-size:20px;}
.search-teacher-infor{width:calc(100% - 210px);float:left;letter-spacing:1px;}
.teacher-infor-area-1{padding:15px;}
.teacher-infor-name{font-size:28px;font-weight:bold;}
.teacher-infor-id{font-size:20px;font-family:'arial';}
.teacher-star{font-size:20px;font-weight:bold;float:right;position:relative;top:8px;}
.teacher-star img{width:22px;margin:0px 1px;}
.teacher-infor-line{background-color:#c4c4c4;width:100%;height:1px;}
.teacher-infor-area-2{font-size:19px;padding:15px 15px 15px 20px;}
.teacher-infor-33{display:inline-block;width:33.333%;text-align:left;}
.teacher-infor-graduate{margin-bottom:6px;}
.teacher-infor-detail{margin-bottom:6px;}
.teacher-infor-schoolday{margin-bottom:6px;}
.teacher-infor-schoolday span{font-size:17px;}
.bu-add{margin-top:10px;margin-bottom:15px;text-align:right;cursor:pointer;}
/* teacher-list end*/

/* teacher-infor */
.infor-detail-headpic{float:left;width:312px;height:312px;overflow:hidden;}
.infor-detail-headpic2{float:left;width:324px;height:auto;overflow:visible;}
.infor-detail-container{width:calc(100% - 312px);float:left;padding-left:21px;}
.infor-detail-container2{width:calc(100% - 324px);float:left;padding-left:21px;}
.infor-detail-area{height:auto;padding-top:60px;background-image:url(../image/window-top-bg.jpg);background-repeat:repeat-x;background-position:top center;border-radius:20px;position:relative;}
.infor-detail-tname{width:100%;position:absolute;top:13px;left:0px;padding:0px 20px;font-size:26px;font-weight:bold;color:#4c2400;}
.infor-detail-tname i{margin-right:3px;}
.infor-detail-tname span{font-size:18px;font-family:'arial',\5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4;font-weight:normal;float:right;position:relative;top:8px;}
.infor-detail-box{font-size:20px;border:1px solid #9b9b9b;border-top:0px;height:100%;padding:15px 0px;}
.detail-box-infor{border-bottom:1px dashed #c9c9c9;padding:10px 18px}
.detail-box-infor img{width:25px;margin-right:3px;}
.detail-box-infor:first-child{padding-top:0px;}
.detail-box-infor:last-child{border-bottom:0px;}
.detail-box-infor span{width:50%;display:inline-block;}
.detail-box-infor div{display:block;font-size:17px;line-height:24px;margin-top:3px;}

.infor-detail-box2{font-size:21px;border:1px solid #9b9b9b;padding-top:10px;padding-bottom:2px;margin-top:21px;}
.detail-box-infor2{border-bottom:1px dashed #c9c9c9;padding:10px 18px}
.detail-box-infor2:first-child{padding-top:0px;}
.detail-box-infor2:last-child{border-bottom:0px;}
.detail-box-infor2 div{font-size:19px;margin-top:3px;}
.detail-box-infor2 span{font-size:17px;}

.infor-detail-bookmark{margin-top:21px;}
.infor-detail-box3{font-size:19px;border:1px solid #9b9b9b;padding-top:10px;padding-bottom:2px;margin-top:0px;}
.infor-detail-bookmark li{width:198px;background-color:#c5c5c5;padding:10px 0px;border-top-left-radius:20px;border-top-right-radius:20px;border-bottom-right-radius:0px;border-bottom-left-radius:0px;text-align:center;color:#ffffff;font-size:20px;display:inline-block;cursor:pointer;}
.infor-detail-bookmark li.active3{background-color:#0063cc;color:#ffffff;}
/* teacher-infor end */

/* teacher-recom */
.recom-tip{float:left;font-size:18px;letter-spacing:1px;position:absolute;top:15px;right:0px;}
.recom-tip2-area{text-align:center;padding-top:50px;padding-bottom:680px;}
.tip2-icon{color:#c5c5c5;font-size:350px !important;}
.recom-tip2{font-size:26px;color:#4e4e4e;}

.teacher-recom-container{width:50%;color:#4e4e4e;float:left;margin-bottom:14px;cursor:pointer;}
.teacher-recom-container:nth-child(odd){padding-right:11px;}
.teacher-recom-container:nth-child(even){padding-left:11px;}
.teacher-recom-area{width:100%;height:195px;border-radius:12px;-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.3);-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.3);box-shadow: 0 2px 8px rgba(0,0,0,0.3);}
.teacher-recom-headpic-container{position:relative;width:171px;float:left;overflow:hidden;}
.teacher-recom-headpic{width:100%;border:3px solid #ffae00;border-radius:12px;}
.teacher-recom-headpic-cover{
width:171px;height:165px;
background-color:rgba(0,0,0,0.7);
position:absolute;top:-165px;
border:3px solid #ffae00;border-bottom:0px;
border-top-left-radius:12px;border-top-right-radius:12px;border-bottom-right-radius:0px;border-bottom-left-radius:0px;
text-align:center;color:#ffffff;padding-top:22px;transition-duration:0.8s;
}
.teacher-recom-container:hover .teacher-recom-headpic-cover{top:0px;}
.teacher-recom-headpic-cover i{font-size:60px;}
.teacher-recom-headpic-cover div{font-size:18px;}
.teacher-recom-textbg{position:absolute;bottom:0px;left:0px;}
.teacher-recom-name{width:100%;font-size:20px;color:#380d00;text-align:center;position:absolute;bottom:8px;}
.teacher-recom-infor-area{width:calc(100% - 171px);float:left;font-size:18px;padding:15px;position:relative;}
.teacher-recom-infor{margin-bottom:8px;}
.teacher-recom-infor span{font-size:17px;}
.teacher-recom-infor img{width:21px;margin-right:2px;position:relative;top:1px;}
.push-medal{position:absolute;top:-2px;right:-4px;}
/* teacher-recom end */

/* teacher-video */
.teacher-video-area{width:33.333%;float:left;padding:0px 11px;margin-bottom:21px;font-size:17px;}
.teacher-video-area img{max-width:100%;cursor:pointer;}
.teacher-video-text{margin-top:2px;padding-right:10px;}
.teacher-video-tname{float:right;color:#0063cc;}
/* pup window */
.pup-video-window{
    width:100%;
    max-width:1000px;
    height:703px;
    border-radius:20px;
    background:#000000;
    position: relative;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
	padding-top:70px;
    z-index: 124;
}
.video-window-text{font-size:22px;color:#808080;letter-spacing:1px;position:absolute;top:18px;left:20px;}
.video-window-bu{width:140px;height:42px;border:2px solid #808080;border-radius:30px;font-size:18px;color:#808080;letter-spacing:0.5px;text-align:center;padding-top:6px;position:absolute;top:14px;right:20px;cursor:pointer;}
.video-window-bu i{font-size:24px;position:relative;top:1px;margin-right:3px;}
/* pup window end */
/* teacher-video end*/

/* member-prove */
.member-prove-area{width:100%;float:left;margin-bottom:22px;}
.member-prove-headpic{width:175px;float:left;}
.member-prove-headpic img{width:100%;border-radius:12px;}
.member-prove-text{width:calc(100% - 182px);height:auto;border-radius:12px;border:2px solid #dedede;float:left;margin-left:7px;padding:15px 16px;padding-bottom:50px;position:relative;}
.prove-text-area{font-size:22px;font-weight:bold;}
.prove-text-name{position:relative;top:-5px;}
.prove-text-time{font-size:18px;font-family:'arial';float:right;position:relative;top:3px;}
.prove-text-prove{font-size:17px;line-height:30px;letter-spacing:0.5px;}
.prove-text-text{height:66px;overflow:hidden;}
.text-area{height:auto;}
.prove-text-video{width:100%;margin-top:30px;}
.prove-text-img{position:absolute;top:-2px;left:-25px;}
.open-prove{position:absolute;right:16px;bottom:5px;cursor:pointer;}
/* member-prove end */

/* teacher-introd */
.introd-title{font-size:26px;font-weight:bold;}
.introd-title i{margin-right:2px;}
.introd-title span{font-size:20px;font-weight:normal;color:#0063cc;margin-left:16px;}
.introd-text{font-size:18px;margin-top:10px;letter-spacing:1px;line-height:30px;}
.introd-text span{color:#0063cc;}
.introd-tip{font-size:20px;margin-top:50px;letter-spacing:1px;}
.introd-tip div{font-size:22px;color:#0063cc;margin-top:5px;text-decoration:underline;cursor:pointer;}
/* teacher-introd end*/

/* teacher-qa */
.qa-number{
width:64px;text-align:center;color:#4c2400;font-family:'arial';font-weight:bold;font-size:26px;padding:10px 0px;
background: #ffb827;
background: -moz-linear-gradient(top, #ffb827 0%, #ff880c 100%);
background: -webkit-linear-gradient(top, #ffb827 0%,#ff880c 100%);
background: linear-gradient(to bottom, #ffb827 0%,#ff880c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb827', endColorstr='#ff880c',GradientType=0 );
}
.qa-question{font-size:18px;color:#4e4e4e;padding:10px 20px;border:1px solid #cccccc;border-left:0px;border-right:0px;}
.qa-answer-bu{
width:73px;text-align:center;color:#ffffff;font-size:20px;padding:10px 0px;
background: #0086f4;
background: -moz-linear-gradient(top, #0086f4 0%, #004db3 100%);
background: -webkit-linear-gradient(top, #0086f4 0%,#004db3 100%);
background: linear-gradient(to bottom, #0086f4 0%,#004db3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0086f4', endColorstr='#004db3',GradientType=0 );
cursor:pointer;
}
.qa-answer{font-size:16px;padding-top:10px;}
.qa-tip{font-size:20px;color:#4e4e4e;letter-spacing:1px;}
.qa-tip span{color:#0063cc;text-decoration:underline;cursor:pointer;}
/* teacher-qa end*/

/* learning-tool */
.learing-tool-container{margin-right:36px;float:left;}
.learing-tool-container:nth-child(3n){margin-right:0px;}
.learing-tool-area{height:342px;box-shadow: 0 2px 5px rgba(0,0,0,0.4);border-bottom-right-radius:10px;border-bottom-left-radius:10px;margin-bottom:38px;cursor:pointer;}
.learing-tool-title{font-size:22px;color:#4e4e4e;font-weight:bold;padding-top:8px;padding-left:15px;}
.learing-tool-name{font-size:18px;font-weight:normal;margin-top:1px;}
/* learning-tool end */

.left-area{margin-top:58px;}
.left-title{font-size:26px;color:#4e4e4e;font-weight:bold;}
.left-title i{margin-right:3px;position:relative;top:-1px;}
.left-line{width:100%;height:1px;background-color:#c4c4c4;margin-top:2px;}
.tool-bu{
width:100%;height:99px;border-radius:5px;box-shadow: 0 2px 5px rgba(0,0,0,0.4);margin-top:16px;position:relative;padding-top:8px;padding-left:112px;
background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
background: -webkit-linear-gradient(top, #ffffff 0%,#f0f0f0 100%);
background: linear-gradient(to bottom, #ffffff 0%,#f0f0f0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );
cursor:pointer;
}
.tool-icon-img{position:absolute;top:0px;left:0px;}
.tool-corner-img{position:absolute;top:0px;right:0px;}
.tool-name{font-size:22px;color:#4e4e4e;font-weight:bold;margin-bottom:3px;}
.tool-infor{font-size:17px;color:#737373;line-height:24px;letter-spacing:0.5px;padding-left:1px;}

.news-area{margin-top:20px;padding-bottom:14px;border-bottom:1px dashed #c9c9c9;cursor:pointer;}
.left-area .news-area:nth-child(5){border-bottom:0px dashed #c9c9c9;}
.news-more{font-size:20px;color:#ff8a00;float:right;position:relative;top:8px;cursor:pointer;}
.news-title{font-size:22px;font-weight:bold;color:#0063cc;}
.news-date{font-size:15px;color:#7d7d7d;float:right;position:relative;top:8px;}
.news-infor{font-size:17px;color:#4e4e4e;line-height:24px;margin-top:5px;}

.page-footer{
width:100%;height:112px;
background-image:url(../image/footer-bg.jpg);background-repeat:repeat-x;
text-align:center;font-size:18px;color:#4c2400;line-height:30px;padding-top:34px;
}

@media (max-width:1280px){
.page-right-area{width:71vw;}
.search-teacher-infor{float:left;letter-spacing:1px;}
.teacher-infor-area-1 {padding:10px 22px;padding-left:15px;}
.teacher-infor-area-2 {font-size:18px;padding-left:18px;}
.teacher-infor-name {font-size:26px;}
.teacher-infor-id {font-size:19px;}
.teacher-star {font-size:19px;top:9px;}
.teacher-infor-schoolday span {font-size:16px;}
.teacher-infor-graduate{margin-bottom:6px;}
.teacher-infor-detail{margin-bottom:6px;}
.teacher-infor-schoolday{margin-bottom:6px;}
.search-criteria{font-size:19px;}
.search-result{font-size:19px;}

.infor-detail-headpic{width:40%;height:auto;}
.infor-detail-headpic2{width:40%;}
.infor-detail-container{width:60%;}
.infor-detail-container2{width:60%;}
.infor-detail-box{height:auto;}

.recom-tip{top:10px;position:relative;display:block;margin-right:20px;}
.teacher-recom-infor-area{padding:10px;}
.teacher-recom-infor{margin-bottom:8px;}

.teacher-video-area{font-size:17px;}

.prove-text-video{margin-top:55px;}

.learing-tool-container{width:33.3333%;padding:0px 12px;margin-right:0px;}
.learing-tool-area {height:326px;}
.learing-tool-area img{max-width:100%;}
.learing-tool-title{font-size:22px;padding-left:10px;padding-right:10px;padding-top:0px;}
.learing-tool-name{font-size:18px;line-height:22px;}
}
@media (max-width:1200px){
.page-right-area{width:70vw;}
.page-footer{font-size:19px;}
.teacher-recom-container{width:100%;}
.teacher-recom-container:nth-child(odd){padding-right:0px;}
.teacher-recom-container:nth-child(even){padding-left:0px;}
.teacher-recom-infor-area{font-size:18px;padding:15px;}
.learing-tool-area {height:315px;}
.learing-tool-title{padding-top:10px;}
}
@media (max-width:1160px){
.search-teacher-all{height:1236px;}
.search-teacher-area {height:235px;}
.teacher-star {float:none;top:0px;left:3px;display:block;}
.teacher-infor-area-1 {padding:10px 18px;padding-top:6px;}
.teacher-infor-area-2 {padding-left:18px;}
.search-teacher-pic {height:235px;}
.search-teacher-pic-cover{top:-235px;}
.page-footer{margin-top:1155px;}

.infor-detail-box,.infor-detail-box2,.infor-detail-box3{font-size:19px;}

.teacher-video-area{width:50%;font-size:18px;}
}
@media (max-width:1100px){
.tool-corner-img {display:none;}
.learing-tool-area {height:300px;}
}
@media (max-width:1050px){
.learing-tool-area {height:285px;}
}
