@charset "utf-8";

/* reset */
* {
    font-family: 'arial', \5FAE\8EDF\6B63\9ED1\9AD4, \65B0\7D30\660E\9AD4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    margin: 0px;
    letter-spacing: 1px;
    color: #3c3c3c;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

li {
    padding: 0px;
    margin: 0px;
}

a {
    color: #0c5ba8;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    border: none;
}

textarea:focus,
input:focus,
select:focus {
    outline: none;
}

.point_text {
    color: #EA1111;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

/* reset end */

.nav {
    width: 100%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
    padding-right: 50px;
}

.top_nav_fixed {
    width: 680px;
    background: #ffffff;
    border: 2px solid #e0e0e0;
    padding: 15px 20px;
    position: fixed;
    top: 10px;
    right: 50px;
    border-radius: 99px;
}

.nav_btn {
    display: flex;

}

.nav_btn > a {
    margin: 0px 10px;
}

a:hover {
    color: #0076FF;
}

.nav_note_text {
    margin-right: 30px;
    position: relative;
    cursor: default;
}

.infor_1 {
    text-decoration: underline;
}

.infor_window {
    width: 300px;
    font-size: 16px;
    height: auto;
    background: #ffffff;
    line-height: 1.5;
    border-radius: 10px;
    border: 2px solid #e0e0e0;
    padding: 10px 15px;
    position: absolute;
    left: 50%;
    bottom: -100px;
    transform: translateX(-50%);
    display: none;
}

@media (max-width:768px) {
    .nav {
        font-size: 16px;
        padding-top: 30px;
        padding-right: 30px;
    }

    .nav_btn > a {
        margin: 0px 10px;
    }

    .nav_note_text {
        margin-right: 0px;
    }

    .top_nav_fixed {
        width: 500px;
        background: #ffffff;
        border: 2px solid #e0e0e0;
        padding: 15px 20px;
        position: fixed;
        top: 10px;
        right: 20px;
        border-radius: 99px;
    }
}

@media (max-width:540px) {
    .nav {
        flex-wrap: wrap;
    }

    .top_nav_fixed {
        width: 332px;
        background: #ffffff;
        border: 2px solid #e0e0e0;
        padding: 15px 20px;
        position: fixed;
        top: 10px;
        right: 20px;
        border-radius: 99px;
    }

    .nav_note_text {
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
        margin-right: 10px;
    }
}

.main {
    width: 100%;
    margin: 0 auto;
}

.pic_container {
    width: 100%;
    text-align: center;
    padding: 50px 50px;
}

.pic_container img {
    max-width: 100%;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.2);
}

.pic_container .title {
    font-size: 22px;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.pic_container .note {
    font-size: 18px;
}

@media (max-width:768px) {
    .pic_container {
        padding: 30px 30px;
    }

    .pic_container .title {
        font-size: 20px;
        margin-bottom: 15px;
    }
}

@media (max-width:420px) {
    .pic_container .title {
        font-size: 18px;
    }
}

.mockip_pic_group {
    display: flex;
    flex-wrap: wrap;
}

.mockip_pic {
    width: 33%;
    padding: 0px 20px;
    text-align: center;
    margin-bottom: 30px;
}

@media (max-width:1440px) {
    .mockip_pic {
        width: 50%;
    }
}
@media (max-width:768px) {
    .mockip_pic {
        width: 100%;
    }
}

.text_container {
    width: 1280px;
    margin: 50px auto;
    line-height: 1.7;
}

.text_container .title {
    font-size: 24px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.text_container .note {
    font-size: 20px;
    text-align: left;
    display: flex;
    justify-content: center;
}

@media (max-width:1360px) {
    .text_container {
        width: 100%;
        padding: 0px 50px;
    }
}

@media (max-width:768px) {
    .text_container .title {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .text_container .note {
        font-size: 18px;
    }
}

@media (max-width:540px) {

    .text_container {
        padding: 0px 30px;
    }

    .text_container .title {
        font-size: 20px;
    }

    .text_container .note {
        font-size: 16px;
    }
}
