/*
 * jQuery FlexSlider v2.7.1
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url('fonts/flexslider-icon.eot');
  src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.banner_container .flex-container a:hover,
.banner_container .flex-slider a:hover {
  outline: none;
}
.banner_container .slides,
.banner_container .slides > li,
.banner_container .flex-control-nav,
.banner_container .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.banner_container .flex-pauseplay span {
  text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider_a {
  margin: 0;
  padding: 0;
}
.flexslider_a .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider_a .slides img {
  width: 100%;
  display: block;
}
.flexslider_a .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider_a .slides {
  display: block;
}
* html .flexslider_a .slides {
  height: 1%;
}
.no-js .flexslider_a .slides > li:first-child {
  display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider_a {
  margin: 0 0 0px;
  background: #fff;
  border: 0px solid #fff;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}
.flexslider_a .slides {
  zoom: 1;
}
.flexslider_a .slides img {
  height: auto;
  -moz-user-select: none;
}
.banner_container .flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.banner_container .loading .flex-viewport {
  max-height: 300px;
}
@-moz-document url-prefix() {
  .loading .flex-viewport {max-height: none;}
}
.banner_container .carousel li {
  margin-right: 5px;
}
.banner_container .flex-direction-nav {
  *height: 0;
}
.banner_container .flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 28px;
  height: 44px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity:1;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.banner_container .flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content:url(../image/arrow_left.png);
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.banner_container .flex-direction-nav a.flex-next:before {
  content:url(../image/arrow_right.png);
}
@media (max-width:1024px){
.banner_container .flex-direction-nav a {width:22px;height:35px;}
.banner_container .flex-direction-nav a:before {content:url(../image/arrow_left_m.png);}
.banner_container .flex-direction-nav a.flex-next:before {content:url(../image/arrow_right_m.png);}
}
.banner_container .flex-direction-nav .flex-prev {
  left: 30px;
}
.banner_container .flex-direction-nav .flex-next {
  right: 30px;
  text-align: right;
}
.banner_container .flexslider_a:hover .flex-direction-nav .flex-prev {
  opacity: 1;
  left: 30px;
}
.banner_container .flexslider_a:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}
.banner_container .flexslider_a:hover .flex-direction-nav .flex-next {
  opacity: 1;
  right: 30px;
}
.banner_container .flexslider_a:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .banner_container .flex-direction-nav .flex-prev {
    display:none;
  }
  .banner_container .flex-direction-nav .flex-next {
    display:none;
  }
}
.banner_container .flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
}
.banner_container .flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.banner_container .flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
.banner_container .flex-pauseplay a:hover {
  opacity: 1;
}
.banner_container .flex-pauseplay a.flex-play:before {
  content: '\f003';
}
.banner_container .flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 30px;
  text-align: center;
}
.banner_container .flex-control-nav li {
  margin: 0 20px;
  display: inline-block;
  zoom: 1;
}
.banner_container .flex-control-paging li a {
  width: 22px;
  height: 22px;
  display: block;
  background: #737373;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border:0px solid #ffffff;
  -moz-box-shadow: inset 0 2px 2px rgba(0,0,0,0.6);
  -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,0.6);
  box-shadow: inset 0 2px 2px rgba(0,0,0,0.6);
}
.banner_container .flex-control-nav li {
  margin: 0 20px;
}
@media screen and (max-width:1280px) {.banner_container .flex-control-paging li a {width:20px;height:20px;}.banner_container .flex-control-nav {bottom:20px;}}
@media screen and (max-width:768px) {.banner_container .flex-control-nav li {margin: 0 16px;}.banner_container .flex-control-paging li a {width:16px;height:16px;}}

.banner_container .flex-control-paging li a:hover {
  background: #737373;
}
.banner_container .flex-control-paging li a.flex-active {
  background:#158124;
  cursor: default;
}
.banner_container .flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.banner_container .flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.banner_container .flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.banner_container .flex-control-thumbs img:hover {
  opacity: 1;
}
.banner_container .flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
