@charset "utf-8";

/* reset */
*{font-family:'arial',\5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4;letter-spacing:1px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{margin:0px;}
ul,li{padding:0px;margin:0px;list-style:none;}
a{text-decoration:none;outline:none}
a:hover{text-decoration:none;}
img{border:none;}
textarea:focus,input:focus,select:focus{outline:none;}
select{ 
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
select::-ms-expand{
display: none;
}
/* reset end */

/* top_bar */
.top_bar_container{width:100%;height:50px;background-color:#158124;}
.top_bar{
width:1360px;height:100%;
font-size:16px;color:#ffffff;
margin:0 auto;
display:flex;
align-items:center;
justify-content:space-between;
}
/* top_bar end */
/* top_bar RWD */
@media (max-width:1400px){
.top_bar{width:100%;padding:0 20px;}
}
@media (max-width:1200px){
.top_bar_container{height:40px;}
.top_bar{font-size:15px;}
}
@media (max-width:800px){
.top_bar_container{height:35px;}

}
@media (max-width:480px){
.top_bar_container{height:60px;padding-top:9px;}
.top_bar{display:block;}
.top_bar span{width:100%;text-align:center;display:block;}
}
/* top_bar RWD end */

/* btn_bar */
.btn_bar_container{width:100%;height:180px;background-color:#ffffff;}
.btn_bar{width:1360px;height:100%;margin:0 auto;padding-top:25px;position:relative;}
/* btn_bar end */
/* btn_bar RWD */
@media (max-width:1400px){.btn_bar{width:100%;padding:0 20px;padding-top:34px;}}
@media (max-width:1200px){.btn_bar_container{height:180px;}}
@media (max-width:1024px){.btn_bar_container{height:200px;}.btn_bar{padding-top:24px;}}
@media (max-width:800px){.btn_bar_container{height:180px;}.btn_bar{padding-top:19px;}}
@media (max-width:550px){.btn_bar{padding-top:14px;}}
@media (max-width:420px){.btn_bar{padding:0 15px;padding-top:14px;}}
@media (max-width:360px){.btn_bar_container{height:170px;}.btn_bar{padding:0 10px;padding-top:14px;}}
/* btn_bar RWD end*/

.logo{width:360px;position:absolute;top:50px;left:0px;}
@media (max-width:1400px){.logo{left:20px;}}
@media (max-width:1280px){.logo{top:40px;}}
@media (max-width:1200px){.logo{width:330px;}}
@media (max-width:1080px){.logo{width:300px;}}
@media (max-width:1024px){.logo{width:340px;top:110px;}}
@media (max-width:800px){.logo{width:320px;top:100px;}}
@media (max-width:550px){.logo{width:300px;top:115px;}}
@media (max-width:480px){.logo{width:280px;}}
@media (max-width:420px){.logo{width:270px;top:115px;left:15px;}}
@media (max-width:360px){.logo{width:240px;top:115px;left:10px;}}

/* btn_bar_top */
.btn_bar_top{width:100%;height:60px;display:flex;justify-content:flex-end;}
.wu_pic{margin-right:70px;}
.calendar_container{margin-right:24px;padding-top:6px;float:left;}
.calendar_text{width:auto;height:auto;color:#1f1f1f;text-align:center;margin-right:8px;padding-top:6px;float:right;}
.calendar_number{
width:54px;height:54px;
background-image:url(../image/calendar_bg.png);background-repeat:no-repeat;
font-size:20px;color:#e74c3c;text-align:center;
padding-top:22px;
float:right;
}
.btn_bar_top_text{width:116px;height:18px;font-size:18px;font-weight:bold;float:left;position:relative;top:25px;cursor:pointer;}
.btn_bar_top_text span{color:#1f1f1f;margin:0 10px;}
.btn_bar_top_text i{margin-left:3px;}
.btn_bar_top_text span:hover{color:#158124;}
.btn_bar_top_text_window{width:100%;height:auto;background-color:#ffffff;border:1px solid #bfbfbf;position:absolute;top:25px;left:0px;z-index:30;display:none;}
.btn_bar_top_text_choice{text-align:center;color:#1f1f1f;padding:15px 10px;}
.btn_bar_top_text_choice a{color:#1f1f1f;}
.btn_bar_top_text_choice:hover{background-color:#158124;color:#ffffff;}
.btn_bar_top_text_choice:hover a{color:#ffffff;}
/* btn_bar_top end */
/* btn_bar_top RWD */
@media (max-width:1280px){
.wu_pic{margin-right:50px;}
.calendar_container{margin-right:14px;}
}
@media (max-width:1200px){
.wu_pic{width:140px;height:55px;margin-right:30px;}
.btn_bar_top_text span{margin:0 6px;position:relative;top:-2px;}
.calendar_text{font-size:15px;margin-right:3px;padding-top:6px;}
.calendar_number{
width:50px;height:50px;
background-image:url(../image/calendar_bg.png);background-repeat:no-repeat;background-size:50px 50px;
font-size:19px;
padding-top:21px;
}
}
@media (max-width:1080px){
.wu_pic{margin-right:20px;}
.calendar_container{margin-right:9px;}
}
@media (max-width:1024px){
.wu_pic{margin-right:50px;}
.btn_bar_top_text span{margin:0 10px;}
.calendar_container{margin-right:14px;}
}
@media (max-width:800px){
.wu_pic{width:135px;height:53px;margin-right:30px;}
.btn_bar_top_text{display:none;}
.calendar_container{margin-right:9px;}
.calendar_container:nth-child(4){margin-right:0px;}
.calendar_text{padding-top:4px;margin-right:3px;}
.calendar_number{
width:50px;height:50px;
background-size:50px 50px;
padding-top:20px;
}
}
@media (max-width:550px){
.wu_pic{width:135px;height:53px;margin-right:0px;position:absolute;top:30px;left:20px;}
.calendar_container{margin-right:14px;padding-top:0px;}
.calendar_text,.calendar_number{float:none;}
.calendar_text{margin-right:0px;}
.calendar_number{margin:0 auto;}
}

/* btn_bar_top RWD end */

/* btn_bar_bottom */
.btn_bar_bottom{width:100%;display:flex;justify-content:flex-end;position:relative;top:47px;z-index:20;}
.btn_bar_bottom_btn,.btn_bar_bottom_btn_singal{font-size:18px;font-weight:bold;height:40px;color:#1f1f1f;margin-left:47px;float:left;position:relative;cursor:pointer;}
.btn_bar_bottom_btn:last-child{display:none;}
.btn_bar_bottom_btn:hover span,.btn_bar_bottom_btn.active,.btn_bar_bottom_btn_singal:hover span,.btn_bar_bottom_btn_singal.active{color:#158124;}
.btn_bar_bottom_btn a,.btn_bar_bottom_btn_singal a{color:#1f1f1f;}
.btn_bar_bottom_btn a:hover,.btn_bar_bottom_btn_singal a:hover{color:#158124;}
.bottom_btn_window{width:120px;height:auto;background-color:#ffffff;text-align:center;border:1px solid #bfbfbf;position:absolute;top:30px;left:-23px;z-index:10;display:none;}
.bottom_btn_choice{color:#1f1f1f;padding:20px 10px;}
.bottom_btn_choice:hover{background-color:#158124;color:#ffffff;}
.btn_bar_mobile_switch{
width:55px;height:55px;
background-color:#158124;
font-size:28px;color:#ffffff;
border-bottom:3px solid #003a0a;border-radius:10px;
position:absolute;bottom:30px;right:20px;
display:none;
justify-content:center;align-items:center;
}
.btn_bar_mobile_switch i{position:relative;top:1px;}
.btn_bar_mobile_bg{width:100%;height:100%;background-color:rgba(0,0,0,0.7);font-family:arial;color:#ffffff;font-size:28px;padding-top:10px;padding-left:20px;position:fixed;top:0px;left:0px;z-index:20;display:none;}
/* btn_bar_bottom end */
/* btn_bar_bottom RWD */
@media (max-width:1200px){
.btn_bar_bottom{top:33px;}
}
@media (max-width:1080px){
.btn_bar_bottom{top:33px;}
.btn_bar_bottom_btn,.btn_bar_bottom_btn_singal{margin-left:37px;}
}
@media (max-width:1024px){
.btn_bar_bottom{width:250px;height:100%;background-color:#ffffff;overflow:scroll;overflow-x:hidden;display:block;position:fixed;top:0px;right:-250px;transition-duration:1s;}
.btn_bar_bottom::-webkit-scrollbar{width:8px;background-color:#ffffff;}
.btn_bar_bottom::-webkit-scrollbar-thumb {background-color:#158124;border-radius:10px;}
.btn_bar_bottom_show{right:0px;}
.btn_bar_bottom_btn,.btn_bar_bottom_btn_singal{height:auto;padding:25px 30px;margin-left:0px;float:none;position:static;}
.btn_bar_bottom_btn:last-child{display:block;}
.btn_bar_mobile_switch{display:flex;}
.bottom_btn_window{width:100%;color:#1f1f1f !important;text-align:left;border:0px solid #bfbfbf;position:relative;top:5px;left:0px;}
.bottom_btn_choice{padding:12px 10px;}
.bottom_btn_choice:hover{background-color:#ffffff;color:#158124;}
}
@media (max-width:800px){
.btn_bar_bottom_btn,.btn_bar_bottom_btn_singal{padding:18px 25px;}
.btn_bar_bottom{width:200px;right:-200px;}
.btn_bar_bottom_show{right:0px;}
.btn_bar_mobile_switch{width:51px;height:51px;font-size:26px;bottom:25px;}
.btn_bar_mobile_bg{font-size:26px;}
}
@media (max-width:550px){
.btn_bar_mobile_switch{width:47px;height:47px;font-size:24px;bottom:18px;}
}
@media (max-width:420px){
.btn_bar_bottom_show{right:0px;}
.btn_bar_mobile_switch{width:45px;height:45px;right:15px;bottom:16px;}
.btn_bar_mobile_bg{font-size:24px;padding-left:15px;}
}
@media (max-width:360px){
.btn_bar_mobile_switch{width:40px;height:40px;right:10px;}
}
/* btn_bar_bottom RWD end */

/* footer 頁面選項 灰色區塊 */
.footer_gray_container{width:100%;background-image:url(../image/index_product_bg.jpg);}
.footer_gray{width:1360px;margin:0 auto;padding:50px 0px 20px 0px;}
.footer_gray:after{content:"";display:block;clear:both;}
.footer_gray_link_container{width:16.6666%;color:#1f1f1f;text-align:center;margin-bottom:30px;float:left;}
.footer_gray_link_title{font-size:20px;margin-bottom:20px;}
.footer_gray_link_link{font-size:18px;color:#737373;margin-bottom:20px;}
.footer_gray_link_link a{color:#737373;}
.footer_gray_link_link:hover a{text-decoration:none;color:#158124;}
/* footer 頁面選項 灰色區塊 end */
/* footer 頁面選項 灰色區塊 RWD */
@media (max-width:1400px){
.footer_gray{width:100%;}
}
@media (max-width:800px){
.footer_gray_link_container{width:33.333%;}
}

/* footer 頁面選項 灰色區塊 RWD end */

/* footer 頁面選項 黑色區塊 */
.footer_black_container{width:100%;background-color:#000000;color:#747474;}
.footer_black{width:1360px;margin:0 auto;padding:50px 50px 50px 50px;}
.footer_black_top{width:100%;}
.footer_black_top:after{content:"";display:block;clear:both;}
.footer_black_contact{width:calc(100% - 320px);margin-right:50px;float:left;}
.footer_black_contact_title,.footer_black_follow_title,.footer_black_job_title{font-size:20px;color:#cbcbcb;margin-bottom:20px;}
.footer_black_contact_text{width:100%;font-size:16px;margin-bottom:10px;}
.footer_black_contact_text:after{content:"";display:block;clear:both;}
.footer_contact_text_title{width:85px;float:left;}
.footer_contact_text{width:calc(100% - 85px);float:left;}
.footer_black_follow_job{width:270px;float:left;}
.footer_black_follow_job:after{content:"";display:block;clear:both;}
.footer_black_follow{width:85px;margin-right:100px;float:left;}
.footer_black_job{width:85px;float:left;}
.footer_black_follow_icon img,.footer_black_job_icon img{margin-right:10px;}
.footer_black_bottom{width:100%;font-size:16px;margin-top:50px;}
.footer_black_bottom:after{content:"";display:block;clear:both;}
.footer_black_copyright{width:calc(100% - 320px);margin-right:50px;float:left;}
.footer_black_terms{width:270px;float:left;display:flex;justify-content:space-between;}
.footer_black_terms span{cursor:pointer;}
/* footer 頁面選項 黑色區塊 end */
/* footer 頁面選項 黑色區塊 RWD */
@media (max-width:1400px){
.footer_black{width:100%;}
}
@media (max-width:1200px){
.footer_black{padding:50px 30px 50px 30px;}
.footer_black_copyright span{display:block;margin-bottom:5px;}
.footer_black_terms{position:relative;top:22px;}
}
@media (max-width:1024px){
.footer_black_contact{width:calc(100% - 270px);}	
.footer_black_follow_job{width:220px;}
.footer_black_follow{margin-right:50px;}
.footer_black_copyright{width:calc(100% - 270px);}
.footer_black_terms{width:220px;}	
}
@media (max-width:800px){
.footer_black{padding:30px 30px 60px 30px;}
.footer_black_contact{width:100%;margin-right:0px;margin-bottom:20px;}
.footer_black_contact_title,.footer_black_follow_title,.footer_black_job_title{margin-bottom:15px;}
.footer_black_follow_job{width:270px;}
.footer_black_follow{margin-right:100px;}
.footer_black_copyright{width:100%;margin-right:0px;}
.footer_black_terms{width:270px;}
.footer_black_contact_text{margin-bottom:8px;}
.footer_black_bottom{font-size:15px;}	
}
@media (max-width:420px){
.footer_black_contact_title,.footer_black_follow_title,.footer_black_job_title{margin-bottom:12px;}
.footer_black_contact_text{margin-bottom:6px;}
.footer_black_bottom{font-size:14px;}	
}
@media (max-width:375px){
.footer_black{padding:30px 20px 60px 20px;}
}
/* footer 頁面選項 黑色區塊 RWD end */

/* animate end */
.hvr-top {
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-top:hover, .hvr-top:focus, .hvr-top:active {
  -webkit-transform:translateY(-5px);
  transform:translateY(-5px);
}
/* animate end */

.pup_window_container{width:100%;height:100%;background-color:rgba(0,0,0,0.7);position:fixed;top:0px;left:0px;z-index:80;}
.pup_window{width:800px;background-color:#ffffff;border-radius:10px;position:absolute;top:80px;left:50%;margin-left:-400px;}
.pup_window_close{width:100%;position:relative;}
.pup_window_close_icon{width:30px;position:absolute;top:-50px;right:5px;cursor:pointer;}
.pup_window_text_container{width:100%;height:80vh;padding:30px;overflow:scroll;overflow-x:hidden;}
.pup_window_title{font-size:22px;margin-bottom:20px;}
.pup_window_text{font-size:16px;line-height:24px;margin-bottom:15px;}
.pup_window_text_title{font-size:20px;padding-bottom:5px;}
.pup_window_video{width:100%;margin-top:15px;position:relative;}
.pup_window_video img{width:100%;opacity:0;}
.pup_window_video iframe{width:100%;height:100%;position:absolute;top:0px;left:0px;}

@media (max-width:900px){
.pup_window{width:90%;top:60px;left:5%;margin-left:0px;}
.pup_window_close_icon{width:25px;top:-40px;}
.pup_window_text_container{padding:20px 30px 30px 30px;}
.pup_window_title{margin-bottom:15px;}
}
@media (max-width:600px){
.pup_window{width:95%;left:2.5%;}
.pup_window_text_container{padding:20px 20px 20px 20px;}
}
@media (max-width:420px){
.pup_window_title{font-size:20px;margin-bottom:15px;}
.pup_window_text{font-size:15px;line-height:22px;}
.pup_window_text_title{font-size:18px;padding-bottom:5px;}
}

/* 學生心得-彈跳視窗 */
.pup_student_information{width:100%;max-height:80vh;padding:30px;overflow:scroll;overflow-x:hidden;}
.pup_student_information:after{content:"";display:block;clear:both;}
.pup_student_pic{width:160px;padding-right:15px;float:left;}
.pup_student_name{font-size:20px;margin-top:10px;}
.pup_student_grade{font-size:18px;margin-bottom:15px;}
.pup_student_review{font-size:18px;line-height:30px;}
/* 學生心得-彈跳視窗 end */
/* 學生心得-彈跳視窗 RWD */
@media (max-width:800px){
.pup_student_information{padding:20px;}
.pup_student_pic{width:140px;}
}
@media (max-width:480px){
.pup_student_information{padding:20px 15px;}
.pup_student_pic{width:120px;padding-right:10px;}
}
@media (max-width:420px){
.pup_student_pic{width:105px;}
}
/* 學生心得-彈跳視窗 RWD end */

.go_top_container{
width:60px;height:auto;
background-color:#158124;
font-size:30px;color:#ffffff;text-align:center;
border-bottom:3px solid #003a0a;border-radius:10px;
padding:5px 10px;
position:fixed;right:10px;bottom:10px;
z-index:50;
cursor:pointer;
display:none;
}
.go_top_text{width:100%;font-size:18px;}
@media (max-width:1024px){
.go_top_container{width:55px;font-size:28px;color:#ffffff;text-align:center;}
.go_top_text{font-size:16px;}
}
@media (max-width:550px){
.go_top_container{height:auto;font-size:26px;padding:5px 5px;}
}
@media (max-width:420px){
.go_top_container{width:50px;font-size:24px;padding:3px 3px;}
}
