@charset "utf-8";
/* reset */
*{font-family:'arial',\5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{margin:0px;background:#f2f1f1;}
ul{padding:0px;margin:0px;list-style:none;}
li{padding:0px;margin:0px;}
a{color:#0c5ba8;text-decoration:none;}
a:hover{text-decoration:underline;}
img{border:none;}
textarea:focus,input:focus,select:focus{outline:none;}
select{ 
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
select::-ms-expand{
display: none;
}
/* reset end */

.body{background-image:url(../image/body_bg.jpg);background-color:#d4d4d4;background-repeat:no-repeat;background-position:top center;}
.body_2{background-image:url(../image/body_bg_2.jpg);background-color:#d4d4d4;background-repeat:repeat;background-position:top center;}
@media (max-width:1366px){.body,.body_2{background-image:url(../image/body_bg_900.jpg);background-repeat:no-repeat;background-position:top center;background-size:100% 100%;}}

/* top bar */
.logout_btn,.grade_tip,.choice_grade_btn{font-size:19px;letter-spacing:1px;position:absolute;top:18px;}
.grade_tip{color:#ff0000;left:5px;}
.grade_tip .fa-user{margin-right:2px;}
.choice_grade_btn{color:#1f1f1f;right:103px;cursor:pointer;}
.choice_grade_btn .fa-hand-o-up{font-size:17px !important;margin-right:2px;position:relative;top:-2px;}
.logout_btn{color:#1f1f1f;right:5px;cursor:pointer;}
.logout_btn .fa-sign-out{font-size:21px !important;}
.logout_btn:hover,.choice_grade_btn:hover{text-decoration:underline;}
.choice_grade_window{width:110px;height:auto;background:#ffffff;font-size:16px;letter-spacing:0.5px;border:1px solid #bfbfbf;position:absolute;top:50px;right:90px;box-shadow:0 3px 5px rgba(0,0,0,0.3);display:none;}
.choice_grade_window a{color:#1f1f1f;}
.choice_grade{width:100%;text-align:center;border-bottom:1px solid #bfbfbf;padding:16px 0px;cursor:pointer;}
.choice_grade:hover span{text-decoration:underline;}

@media (max-width:1100px){
.logout_btn,.grade_tip,.choice_grade_btn{font-size:18px;top:14px;}
.choice_grade_window{top:40px;}
}
@media (max-width:420px){
.logout_btn,.grade_tip,.choice_grade_btn{font-size:16px;top:8px;}
.choice_grade_btn{right:83px;}
.choice_grade_btn .fa-hand-o-up{font-size:15px !important;}
.logout_btn .fa-sign-out{font-size:17px !important;}
.choice_grade_window{width:100px;font-size:14px;top:35px;right:80px;}
.choice_grade{padding:12px 0px;}
}
/* top bar end */

/* main */
.main{width:1280px;margin:0 auto;padding-top:60px;padding-bottom:210px;position:relative;}
@media (max-width:1366px){.main{width:95%;padding-bottom:195px;}}
@media (max-width:1150px){.main{padding-bottom:180px;}}
@media (max-width:1100px){.main{padding-top:50px;padding-bottom:160px;}}
@media (max-width:1100px){.main{padding-bottom:155px;}}
@media (max-width:900px){.main{min-height:calc(100vh - 70px);}}
@media (max-width:500px){.main{min-height:calc(100vh - 50px);}}
@media (max-width:420px){.main{padding-top:40px;}}
/* main end */

/* board */
.board-container{box-shadow:0 6px 15px rgba(0,0,0,0.5);}
.board_top{width:100%;}
.board_top_left{width:20px;height:19px;background:url(../image/board_top_left.jpg);background-repeat:no-repeat;background-position:top center;float:left;}
.board_top_center{width:calc(100% - 40px);height:19px;background:url(../image/board_top_center.jpg);background-repeat:repeat-x;background-position:top center;float:left;}
.board_top_right{width:20px;height:19px;background:url(../image/board_top_right.jpg);background-repeat:no-repeat;background-position:top center;float:left;}
.board_main{width:100%;}
.board_main_left{
width:20px;min-height:620px;
background:url(../image/board_main_left.jpg);background-repeat:repeat-y;background-position:top center;
float:left;
}
.board_main_center{
width:calc(100% - 40px);min-height:620px;
background-image:url(../image/board_main_center.jpg);background-repeat:no-repeat;background-position:top center;background-size:100% 100%;background-color:#0b3213;
float:left;
}
.board_main_right{
width:20px;min-height:620px;
background:url(../image/board_main_right.jpg);background-repeat:repeat-y;background-position:top center;
float:left;
}
.board_main_table{width:100%;}
.board_main_left_td{
width:20px;
background:url(../image/board_main_left.jpg);background-repeat:repeat-y;background-position:top center;background-color:#823b0e;
}
.board_main_center_td{
width:calc(100% - 40px);
background-image:url(../image/board_main_center.jpg);background-repeat:no-repeat;background-position:top center;background-size:100% 100%;background-color:#0b3213;
}
.board_main_right_td{
width:20px;
background:url(../image/board_main_right.jpg);background-repeat:repeat-y;background-position:top center;background-color:#823b0e;
}
.board_bottom{width:100%;}
.board_bottom_left{width:20px;height:19px;background:url(../image/board_bottom_left.jpg);background-repeat:no-repeat;background-position:top center;float:left;}
.board_bottom_center{width:calc(100% - 40px);height:19px;background:url(../image/board_bottom_center.jpg);background-repeat:repeat-x;background-position:top center;float:left;position:relative;}
.board_bottom_right{width:20px;height:19px;background:url(../image/board_bottom_right.jpg);background-repeat:no-repeat;background-position:top center;float:left;}

.board_item{position:absolute;right:60px;bottom:8px;}
.student_pic{position:absolute;left:0px;bottom:0px;}
@media (max-width:1360px){
.student_pic{width:720px;left:50px;}
.board_main_left,.board_main_center,.board_main_right{min-height:600px;}
}
@media (max-width:1280px){
.student_pic{width:700px;left:2%;}
.board_item{width:400px;}
.board_main_left,.board_main_center,.board_main_right{min-height:580px;}
}
@media (max-width:1200px){
.student_pic{width:680px;left:2%;}
.board_item{right:20px;}
.board_main_left,.board_main_center,.board_main_right{min-height:560px;}
}
@media (max-width:1150px){
.student_pic{width:660px;left:2%;}
.board_main_left,.board_main_center,.board_main_right{min-height:550px;}
}
@media (max-width:1100px){
.student_pic{width:580px;}
.board_item{display:none;}
.board_main_left,.board_main_center,.board_main_right{min-height:480px;}
}
@media (max-width:980px){
.student_pic{width:550px;}
.board_main_left,.board_main_center,.board_main_right{min-height:450px;}
}
@media (max-width:920px){
.student_pic{left:0px;}
}
@media (max-width:900px){
.student_pic{display:none;}
.board_main_left,.board_main_center,.board_main_right{min-height:530px;}
.board_top_left,.board_top_right,.board_bottom_left,.board_bottom_right,.board_main_left_td,.board_main_right_td{width:15px;height:14px;background-size:100% 100%;}
.board_top_center,.board_bottom_center{width:calc(100% - 30px);height:14px;background-size:auto 100%;}
.board_main_left,.board_main_right{width:15px;background-size:100% auto;}
.board_main_center{width:calc(100% - 30px);}
}
@media (max-width:600px){.board_main_left,.board_main_center,.board_main_right{min-height:520px;}}
@media (max-width:420px){.board_main_left,.board_main_center,.board_main_right{min-height:450px;}}
/* board end */

/* login */
.login_container{width:340px;height:auto;position:absolute;top:130px;right:140px;}
.login_time{width:100%;font-size:24px;color:#ffffff;text-align:right;letter-spacing:1px;}
.login_time > span{position:relative;}
.login_num_container{
width:120px;height:42px;
background: #ff1111;
background: -moz-linear-gradient(top, #ff1111 0%, #a20d0d 100%);
background: -webkit-linear-gradient(top, #ff1111 0%,#a20d0d 100%);
background: linear-gradient(to bottom, #ff1111 0%,#a20d0d 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1111', endColorstr='#a20d0d',GradientType=0 );
border-radius:5px 5px 0px 5px;
box-shadow:0 2px 3px rgba(0,0,0,0.3);
margin-left:10px;
display:inline-flex;justify-content:center;align-items:center;
position:relative;
}
.login_num_container .login_num{font-family:'arial';font-size:40px;margin:0px 5px;font-weight:bold;}
.red_arrow{position:absolute;bottom:-8px;right:0px;}
.login_name{width:100%;margin-top:20px;margin-bottom:30px;}
.login_name img{width:100%;}
.login_input_container{width:100%;height:60px;margin-bottom:25px;}
.login_input_container input{width:100%;height:100%;background:#ffffff;font-size:24px;letter-spacing:1px;border:0px;border-radius:5px;padding-left:20px;box-shadow:0 3px 5px rgba(0,0,0,0.3);}
.login_get_password{width:100%;font-size:18px;color:#ffffff;text-align:right;letter-spacing:1px;}
.login_get_password span{position:relative;top:-20px;cursor:pointer;}
.login_get_password span:hover{text-decoration:underline;}
.login_btn_container{width:100%;margin-top:5px;}
.login_btn{
width:calc(50% - 10px);height:60px;
font-size:28px;color:#210000;font-weight:bold;
background: #ffca3b;
background: -moz-linear-gradient(top, #ffca3b 0%, #e87618 100%);
background: -webkit-linear-gradient(top, #ffca3b 0%,#e87618 100%);
background: linear-gradient(to bottom, #ffca3b 0%,#e87618 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffca3b', endColorstr='#e87618',GradientType=0 );
border-radius:5px;border-bottom:2px solid #b94713;
margin-bottom:20px;
display:flex;justify-content:center;align-items:center;
float:left;
box-shadow:0 3px 5px rgba(0,0,0,0.3);
cursor:pointer;
}
.login_btn:nth-child(odd){margin-right:10px;}
.login_btn:nth-child(even){margin-left:10px;}
.login_btn .grade_choice{font-size:26px;letter-spacing:1px;}
.login_infor_tip{width:100%;font-size:16px;color:#ffffff;text-align:center;letter-spacing:0.5px;cursor:pointer;}
.login_infor_tip span{position:relative;top:-5px;}
.login_infor_tip:hover{text-decoration:underline;}

@media (max-width:1360px){
.login_container{width:25%;top:120px;right:9%;}
}
@media (max-width:1280px){
.login_btn .grade_choice{font-size:24px;letter-spacing:0px;}
}
@media (max-width:1200px){
.login_container{width:26%;top:110px;right:7%;}
.login_num_container{width:100px;height:40px;}
.login_time{font-size:22px;}
.login_num_container .login_num{font-size:38px;margin:0px 3px;}
.login_input_container{height:56px;}
.login_input_container input{font-size:22px;padding-left:15px;}
.login_get_password{font-size:16px;}
.login_btn{height:56px;font-size:26px;}
}
@media (max-width:1100px){
.login_container{top:95px;right:10%;}
.login_name{margin-bottom:20px;}
.login_btn_container{margin-top:0px;}
.login_btn .grade_choice{font-size:22px;}
}
@media (max-width:1024px){.login_container{right:8%;}}
@media (max-width:980px){
.login_container{top:100px;right:10%;}
.login_time{font-size:20px;}
.login_num_container{width:90px;height:36px;margin-left:5px;}
.login_num_container .login_num{font-size:34px;}
.login_name{margin-top:15px;margin-bottom:20px;}
.login_input_container{height:52px;margin-bottom:20px;}
.login_input_container input{font-size:20px;padding-left:15px;}
.login_get_password{font-size:14px;}
.login_get_password span{top:-15px;}
.login_btn_container{margin-top:10px;}
.login_btn{height:52px;font-size:24px;}
.login_btn .grade_choice{font-size:20px;}
}
@media (max-width:950px){.login_container{right:8%;}}
@media (max-width:900px){
.login_container{width:340px;margin-right:-170px;right:50%;}
.login_num_container{width:100px;height:42px;}
.login_name{margin-top:20px;margin-bottom:20px;}
.login_time{font-size:24px;}
.login_num_container .login_num{font-size:38px;margin:0px 3px;}
.login_input_container{height:60px;}
.login_input_container input{font-size:24px;padding-left:15px;margin-bottom:25px;}
.login_get_password{font-size:18px;}
.login_btn_container{margin-top:5px;}
.login_btn{height:60px;font-size:28px;}
.login_btn .grade_choice{font-size:26px;font-weight:normal;}
}
@media (max-width:850px){.login_container{top:100px;}}
@media (max-width:600px){
.login_container{width:300px;margin-right:-150px;}
.login_btn .grade_choice{font-size:24px;}
}
@media (max-width:450px){
.login_container{width:70%;margin-right:0px;right:15%;}
.login_btn .grade_choice{font-size:22px;}
.login_num_container{width:100px;height:40px;}
.login_num_container .login_num{font-size:34px;margin:0px 2px;}
.login_time{font-size:22px;position:relative;top:-5px;}
.login_name{margin-top:10px;margin-bottom:20px;}
.login_input_container {height:56px;}
.login_input_container input{font-size:22px;}
.login_get_password{font-size:16px;}
.login_btn{height:56px;font-size:26px;}
}
@media (max-width:420px){
.logout_btn,.grade_tip,.choice_grade_btn{font-size:16px;top:8px;}
.login_btn .grade_choice{font-size:21px;}
.choice_grade_btn{right:83px;}
.choice_grade_btn .fa-hand-o-up{font-size:15px !important;}
.logout_btn .fa-sign-out{font-size:17px !important;}
.choice_grade_window{width:100px;font-size:14px;top:35px;right:80px;}
.choice_grade{padding:12px 0px;}
.login_container{top:80px;}
.login_input_container {height:52px;}
.login_input_container input{font-size:20px;}
.login_get_password{font-size:14px;}
.login_btn{height:52px;font-size:24px;}
.login_infor_tip{font-size:14px;}
}
@media (max-width:400px){
.login_num_container{width:86px;height:34px;margin-left:5px;}
.login_num_container .login_num{font-size:30px;margin:0px 2px;}
}
@media (max-width:360px){
.login_btn .grade_choice{font-size:20px;}
}
/* login end */

.subject_btn_bar{display:none;}
.subject_btn_container{width:100%;font-size:24px;letter-spacing:1px;margin-top:30px;padding:0 20px;}
.subject_btn_show-hide{display:block;}
.subject_btn{
width:calc(10% - 20px);height:50px;
color:#737373;
background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #c3c3c3 100%);
background: -webkit-linear-gradient(top, #ffffff 0%,#c3c3c3 100%);
background: linear-gradient(to bottom, #ffffff 0%,#c3c3c3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c3c3c3',GradientType=0 );
border-radius:5px;border-bottom:1px solid #757575;
display:flex;justify-content:center;align-items:center;
box-shadow:0 2px 3px rgba(0,0,0,0.3);
cursor:pointer;
margin:0 10px;
float:left;
}
.subject_btn a{
color:#737373;
}
.subject_btn:hover,.subject_btn.active{
color:#210000;
background: #ffca3b;
background: -moz-linear-gradient(top, #ffca3b 0%, #e87618 100%);
background: -webkit-linear-gradient(top, #ffca3b 0%,#e87618 100%);
background: linear-gradient(to bottom, #ffca3b 0%,#e87618 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffca3b', endColorstr='#e87618',GradientType=0 );
border-bottom:1px solid #b94713;
}
.subject_btn:hover a,.subject_btn.active a{
color:#210000;
}
.subject_title_container{width:100%;font-size:24px;color:#ffffff;letter-spacing:1px;margin-top:34px;padding:0 30px;}
.subject_title_name{width:105px;float:left;}
.subject_title_line{width:calc(100% - 245px);height:1px;background:#ffffff;margin:0 15px;float:left;position:relative;top:15px;}
.subject_title_download{width:110px;font-size:20px;color:#ffcf4c;text-align:right;float:left;position:relative;top:4px;cursor:pointer;}
.subject_title_download:hover{text-decoration:underline;}
.subject_video_container{width:100%;min-height:435px;margin-top:30px;padding:0 20px;padding-bottom:20px;}
.subject_video_item{width:calc(25% - 20px);height:auto;margin:0 10px;margin-bottom:20px;float:left;cursor:pointer;}
.subject_video_item img{width:100%;}
.subject_video_name{width:100%;color:#ffffff;font-size:20px;letter-spacing:1px;text-align:center;}
.subject_video_item:hover .subject_video_name{text-decoration:underline;}

@media (max-width:1280px){
.subject_btn_container,.subject_title_container{font-size:22px;}
.subject_title_name{width:97px;}
.subject_title_line{width:calc(100% - 226px);}
.subject_title_download{width:99px;font-size:18px;top:5px;}
.subject_video_name{font-size:18px;}
}
@media (max-width:1100px){
.subject_btn_container{margin-top:20px;padding:0 15px;}
.subject_btn{width:calc(10% - 10px);margin:0 5px;}
.subject_video_item{width:calc(33.333% - 20px);}
}
@media (max-width:980px){
.subject_btn_container{font-size:20px;}
}
@media (max-width:900px){
.subject_btn_bar{
width:90%;height:50px;
background: #ffca3b;
background: -moz-linear-gradient(top, #ffca3b 0%, #e87618 100%);
background: -webkit-linear-gradient(top, #ffca3b 0%,#e87618 100%);
background: linear-gradient(to bottom, #ffca3b 0%,#e87618 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffca3b', endColorstr='#e87618',GradientType=0 );
font-size:26px;
border-radius:5px;border-bottom:2px solid #b94713;
margin:0 auto;margin-top:20px;padding:0 15px;
box-shadow:0 2px 3px rgba(0,0,0,0.3);
display:flex;justify-content:space-between;;align-items:center;
cursor:pointer;
}
.subject_btn_bar .subject_name{font-size:26px;}
.subject_btn_bar span{font-size:18px;}
.subject_btn_bar i{margin-left:6px;}
.subject_btn_container{width:86%;font-size:20px;font-weight:normal;margin:0 auto;margin-top:5px;padding:0px;position:absolute;top:140px;left:7%;z-index:10;}
.subject_btn_show-hide{display:none;}
.subject_btn{
width:100%;height:auto;
color:#1f1f1f;
background: #ffffff;
border-radius:0px;border-bottom:1px solid #bfbfbf;
padding:10px 0px;padding-left:20px;
display:block;
box-shadow:none;
cursor:pointer;
margin:0 0px;
float:left;
}
.subject_title_container{margin-top:25px;padding:0 20px;}
.subject_video_container{padding:0 15px;padding-bottom:20px;}
.subject_video_item{width:calc(50% - 10px);margin:0 5px;margin-bottom:15px;}
}
@media (max-width:500px){
.subject_title_line{background:none;}
.subject_title_download{top:6px;}
.subject_video_container{margin-top:20px;}
.subject_video_name{font-size:16px;}
}
@media (max-width:420px){
.subject_btn_bar{
width:90%;height:42px;
font-size:22px;
border-bottom:1px solid #b94713;
margin:0 auto;margin-top:15px;
}
.subject_btn_bar .subject_name{font-size:22px;}
.subject_btn_bar span{font-size:16px;}
.subject_btn_container{width:82%;font-size:18px;top:120px;left:9%;z-index:10;}
.subject_btn{padding-left:15px;}
.subject_title_container{font-size:20px;margin-top:15px;}
.subject_title_download{font-size:16px;top:5px;}
.subject_video_container{padding:0 20px;padding-bottom:20px;}
.subject_video_item{width:100%;margin:0 0px;margin-bottom:10px;}
}
/* footer */
.footer{
width:100%;height:auto;
background:#3f3f3f;
font-size:16px;color:#737373;letter-spacing:3px;text-align:center;line-height:26px;
padding:16px 20px;
}
.footer span{font-family:'arial';}
@media (max-width:1280px){.footer{font-size:15px;line-height:24px;padding:12px 20px;}}
@media (max-width:1024px){.footer{font-size:14px;line-height:22px;}}
@media (max-width:980px){.footer{letter-spacing:1px;}}
@media (max-width:768px){.footer{font-size:13px;}}
@media (max-width:420px){.footer{font-size:12px;line-height:20px;}}
/* footer end */

.go_top_btn{
width:60px;height:60px;
background: #ffca3b;
background: -moz-linear-gradient(top, #ffca3b 0%, #e87618 100%);
background: -webkit-linear-gradient(top, #ffca3b 0%,#e87618 100%);
background: linear-gradient(to bottom, #ffca3b 0%,#e87618 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffca3b', endColorstr='#e87618',GradientType=0 );
font-size:16px;text-align:center;
border-radius:5px;border-bottom:1px solid #b94713;
box-shadow:0 3px 5px rgba(0,0,0,0.3);
padding-top:4px;
position:fixed;
bottom:10px;right:10px;
display:none;
}
.go_top_btn i{font-size:30px;}
@media (max-width:900px){
.go_top_btn{display:block;}
}
@media (max-width:420px){
.go_top_btn{
width:52px;height:56px;
font-size:14px;
padding-top:3px;
}
.go_top_btn i{font-size:30px;}
}
.pup_bg{width:100%;height:100%;background:rgba(0,0,0,0.87);position:fixed;top:0px;left:0px;}
.pup_video_container{width:1024px;height:576px;background:#ffffff;position:fixed;top:50px;left:50%;margin-left:-512px;}
.pup_video_container img{width:100%;opacity:0;}
.video_iframe{width:100%;height:100%;position:absolute;top:0px;left:0px;}
.video_iframe iframe{width:100%;height:100%;}
.pup_tip_container{
width:350px;height:auto;
background:#ffffff;
font-size:20px;text-align:center;letter-spacing:1px;line-height:30px;
border-radius:5px;
padding:20px;margin-left:-175px;
position:fixed;top:50px;left:50%;
}
.pup_reg_container{
width:600px;height:auto;
background:#ffffff;
letter-spacing:0.5px;line-height:30px;
border-radius:5px;
padding:20px;margin-left:-300px;
position:fixed;top:50px;left:50%;
}
.pup_reg_title{width:100%;font-size:20px;margin-bottom:20px;}
.pup_reg_scroll{width:100%;height:calc(100vh - 180px);overflow:scroll;overflow-x:hidden;}
.pup_reg_input_container{width:100%;margin-bottom:20px;}
.pup_reg_input_container::after{content:"";display:block;clear:both;}
.pup_reg_tip{width:100%;height:65px;font-size:14px;text-align:right;color:#ff0000;}
.pup_reg_tip span{position:relative;top:-3px;}
.pup_reg_input_name{width:85px;font-size:18px;letter-spacing:1px;float:left;}
.pup_reg_input_name span{position:relative;top:10px;}
.pup_reg_input_input{width:calc(100% - 85px);height:52px;float:left;}
.pup_reg_input_input input,.pup_reg_input_input select{width:100%;height:100%;font-size:18px;letter-spacing:1px;border:1px solid #bfbfbf;border-radius:5px;padding-left:10px;}
.pup_reg_input_input select{background:url(../image/select-arrow.png);background-repeat:no-repeat;background-position:98% 52%;}
.pup_reg_input_input input::-webkit-input-placeholder{color:#1f1f1f;}
.pup_reg_input_input input::-moz-placeholder{color:#1f1f1f;}
.pup_reg_input_input input:-ms-input-placeholder{color:#1f1f1f;}
.pup_reg_input_input input:-moz-placeholder{color:#1f1f1f;}
.pup_reg_other-tip{font-size:18px;text-align:center;color:#ff0000;line-height:26px;padding:0px 10px;margin-top:30px;margin-bottom:10px;}
.pup_reg_other-tip span{color:#ff0000;}
.pup_reg_choice-course{font-size:16px;color:#1f1f1f;padding:0px 10px;}
.pup_reg_choice-course div{margin-top:5px;}
.pup_reg_choice-course input[type="checkbox"]{transform:scale(1.35,1.35);margin-right:5px;position:relative;top:1px;}
.pup_reg_50{width:50%;float:left;position:relative;}
.pup_reg_50:nth-child(1n){padding-right:5px;}
.pup_reg_50:nth-child(2n){padding-left:5px;}
.pup_reg_sent_btn{
width:200px;height:66px;
background: #ffca3b;
background: -moz-linear-gradient(top, #ffca3b 0%, #e87618 100%);
background: -webkit-linear-gradient(top, #ffca3b 0%,#e87618 100%);
background: linear-gradient(to bottom, #ffca3b 0%,#e87618 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffca3b', endColorstr='#e87618',GradientType=0 );
font-size:28px;letter-spacing:1px;font-weight:bold;text-align:center;
border-radius:5px;border-bottom:1px solid #b94713;
margin:30px auto;padding-top:20px;
box-shadow:0 3px 6px rgba(0,0,0,0.5);
cursor:pointer;
}
.pup_infor_container{
width:600px;height:auto;
background:#ffffff;
letter-spacing:0.5px;line-height:30px;
border-radius:5px;
padding:20px;margin-left:-300px;
position:fixed;top:50px;left:50%;
}
.pup_infor_scroll{width:100%;height:calc(100vh - 120px);overflow:scroll;overflow-x:hidden;}
.pup_infor_text{width:100%;font-size:16px;line-height:24px;margin-bottom:15px;}
.pup_infor_text span{font-size:14px;line-height:22px;}
.close_icon{width:30px !important;position:absolute;top:-40px;right:5px;opacity:1 !important;cursor:pointer;}
@media (max-width:1024px){.pup_video_container{width:96%;height:auto;left:2%;margin-left:0px;}}
@media (max-width:900px){.close_icon{width:25px !important;}}
@media (max-width:600px){
.pup_video_container,.pup_tip_container,.pup_reg_container{top:40px;}
.pup_reg_container,.pup_infor_container{width:96%;margin-left:0px;left:2%;}
.close_icon{width:20px !important;top:-30px;}
}
@media (max-width:520px){
.pup_reg_other-tip{text-align:left;}
.pup_reg_50{width:100%;}
.pup_reg_50:nth-child(1){padding-right:0px;}
.pup_reg_50:nth-child(2n){padding-left:0px;}
}
@media (max-width:420px){
.pup_reg_title{font-size:18px;margin-bottom:15px;}
.pup_reg_input_container{margin-bottom:15px;}
.pup_reg_input_name{width:70px;font-size:16px;letter-spacing:0px;}
.pup_reg_input_input{width:calc(100% - 70px);height:46px;}
.pup_reg_input_input input,.pup_reg_input_input select{font-size:16px;}
.pup_reg_input_input select{background-position:96% 55%;background-size:10px auto;}
.pup_reg_tip{height:60px;font-size:12px;}
.pup_reg_other-tip{font-size:16px;line-height:24px;margin-top:20px;margin-bottom:0px;}
.pup_reg_choice-course{font-size:14px;margin-top:5px;}
.pup_reg_choice-course div{margin-top:0px;}
.pup_reg_choice-course input[type="checkbox"]{transform:scale(1,1);margin-right:3px;top:2px;}
.pup_reg_sent_btn{
width:160px;height:60px;
font-size:24px;letter-spacing:1.5px;font-weight:bold;
margin:20px auto;margin-top:30px;padding-top:16px;
}
}
/* animate end */
.hvr-top {
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-top:hover, .hvr-top:focus, .hvr-top:active {
  -webkit-transform:translateY(-5px);
  transform:translateY(-5px);
}
/* animate end */