@charset "utf-8";

*{font-family:\5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{margin:0px;font-family:\5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4;}
input:focus{outline: -webkit-focus-ring-color auto 0;}
select:focus{outline: -webkit-focus-ring-color auto 0;}
textarea:focus{outline: -webkit-focus-ring-color auto 0;}
select { -webkit-appearance: none; /*Chrome*/-moz-appearance: none; /*FF*/appearance: none;/*CSS3*/}
select::-ms-expand {display: none; /*IE*/}
.select-arrow {background-image:url(../image/select-arrow.png);background-repeat:no-repeat;background-position:94% 20px;}
ul{padding:0px;margin:0px;list-style:none;}
li{padding:0px;margin:0px;}
.trans{transform:rotateY(180deg);}
a{text-decoration:none;}

/* page-main banner */
.page-banner{width:100%;height:550px;background-image:url(../image/page-banner1920.jpg);background-position:top center;background-repeat:no-repeat;position:relative;}
.page-banner img{max-width:100%;opacity:0;}
.page-banner-dis-1,.page-banner-dis-2,.page-banner-dis-3{display:none;}
/* page-main banner end */
/* page-main banner rwd */
@media (max-width:1400px){.page-banner{height:auto;background-image:url(../image/page-banner1400.jpg);background-size:100% auto;}.page-banner-dis-1{display:block;}}
@media (max-width:1200px){.page-banner{background-image:url(../image/page-banner1200.jpg);}.page-banner-dis-1{display:none;}.page-banner-dis-2{display:block;}}
@media (max-width:900px){.page-banner{background-image:url(../image/page-banner900.jpg);}.page-banner-dis-2{display:none;}.page-banner-dis-3{display:block;}}
/* page-main banner rwd end*/

/* page-main banner */
.page-main{
width:100%;height:auto;
background-image:url(../image/main-bg.jpg);background-position:top center;background-repeat:no-repeat;background-size:100% 100%;
position:relative;top:-1px;
}
/* page-main banner end */

.bu-logout{width:105px;height:auto;position:absolute;top:10px;right:10px;}
.bu-logout img{max-width:100%;height:auto;opacity:1;cursor:pointer;}
@media (max-width:1700px){.bu-logout{width:100px;}}
@media (max-width:900px){.bu-logout{width:95px;}}
@media (max-width:850px){.bu-logout{width:90px;}}
@media (max-width:800px){.bu-logout{width:85px;}}
@media (max-width:650px){.bu-logout{width:80px;}}
@media (max-width:500px){.bu-logout{width:70px;}}
@media (max-width:450px){.bu-logout{width:65px;}}
@media (max-width:400px){.bu-logout{width:60px;}}

/* main board */
.page-board-container{width:1480px;height:auto;margin-left:auto;margin-right:auto;-webkit-box-shadow:0 8px 15px rgba(0,0,0,0.6);-moz-box-shadow:0 8px 15px rgba(0,0,0,0.6);box-shadow:0 8px 15px rgba(0,0,0,0.6);position:relative;top:-30px;}
.css-table{display:table;}
.css-tr{display:table-row;}
.css-td{display:table-cell;}
.board-corner{display:table-cell;width:20px;height:20px;}
.board-line-top{display:table-cell;height:21px;width:100%;background-image:url(../image/board-line-top.jpg);background-repeat:repeat-x;}
.board-line-bottom{display:table-cell;height:21px;width:100%;background-image:url(../image/board-line-bottom.png);background-repeat:repeat-x;}
.board-center{width:100%;height:auto;background-color:#0d2414;text-align:center;padding-top:20px;display:table-cell;position:relative;}
.board-center img{max-width:100%;height:auto;}
.s-left{width:20px;background-image:url(../image/board-line-left.jpg);background-repeat:repeat-y;}
.s-right{width:20px;background-image:url(../image/board-line-right.jpg);background-repeat:repeat-y;}
.video-demo{width:100%;height:100%;position:absolute;top:0px;left:0px;z-index:10;}
.board-dis-1{display:block;}
.board-dis-2{display:none;}
.board-dis-3{display:none;}
/* main board end */
/* main board rwd */
@media (max-width:1550px) {.page-board-container{width:100%;}}
@media (max-width:750px) {
.log-container{width:100%;}
.board-dis-1{display:none;}
.board-dis-2{display:block;}
.s-left img{width:16px;height:16px;}
.s-right img{width:16px;height:16px;}
.s-left{width:16px;background-image:url(../image/board-line-left-2.jpg);}
.s-right{width:16px;background-image:url(../image/board-line-right-2.jpg);}
.board-corner {width:16px;height:17px;}
.board-line-top{height:17px;background-image:url(../image/board-line-top-2.jpg);background-position:top center;}
.board-line-bottom{height:17px;background-image:url(../image/board-line-bottom-2.png);background-position:top center;}
}
@media (max-width:700px) {
.board-dis-2{display:none;}
.board-dis-3{display:block;}
.s-left img{width:12px;height:12px;}
.s-right img{width:12px;height:12px;}
.s-left{width:12px;background-image:url(../image/board-line-left-3.jpg);}
.s-right{width:12px;background-image:url(../image/board-line-right-3.jpg);}
.board-corner {width:12px;height:13px;}
.board-line-top{height:14px;background-image:url(../image/board-line-top-3.jpg);background-position:center center;}
.board-line-bottom{height:14px;background-image:url(../image/board-line-bottom-3.png);background-position:center center;}
}
/* main board rwd end */

.subject-bu{width:1024px;margin:0 auto;position:relative;z-index:10;}
.subject-bu ul{margin-left:auto;margin-right:auto;text-align:center;}
.subject-bu li{
width:25%;height:60px;
display:inline-block;
color:#727272;
text-decoration:none;
font-size:34px;font-weight:bold;
border-radius:10px;border-bottom:3px solid #4e4e4e;
margin:0 20px;padding-top:6px;
cursor:pointer;
text-shadow:0 0px 4px rgba(255,255,255,0.5);
-webkit-box-shadow:0 5px 5px rgba(0,0,0,0.5);
-moz-box-shadow:0 5px 5px rgba(0,0,0,0.5);
box-shadow:0 5px 5px rgba(0,0,0,0.5);
background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%,#c6c6c6 50%,#b2b2b2 52%,#7c7c7c 98%,#5d5d5d 100%);
background: -webkit-linear-gradient(top, #ffffff 0%,#c6c6c6 50%,#b2b2b2 52%,#7c7c7c 98%,#5d5d5d 100%);
background: linear-gradient(to bottom, #ffffff 0%,#c6c6c6 50%,#b2b2b2 52%,#7c7c7c 98%,#5d5d5d 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#5d5d5d',GradientType=0 )
}
.subject-bu li:hover{
background: #ffba43  !important;
background: -moz-linear-gradient(top, #ffba43 0%, #ffa146 50%, #ff8d21 52%, #ff6100 100%) !important;
background: -webkit-linear-gradient(top, #ffba43 0%,#ffa146 50%,#ff8d21 52%,#ff6100 100%) !important;
background: linear-gradient(to bottom, #ffba43 0%,#ffa146 50%,#ff8d21 52%,#ff6100 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffba43', endColorstr='#ff6100',GradientType=0 ) !important;
border-bottom: 3px solid #512200;
color: #431904 !important;
}
.active{
background: #ffba43 !important;
background: -moz-linear-gradient(top, #ffba43 0%, #ffa146 50%, #ff8d21 52%, #ff6100 100%) !important;
background: -webkit-linear-gradient(top, #ffba43 0%,#ffa146 50%,#ff8d21 52%,#ff6100 100%) !important;
background: linear-gradient(to bottom, #ffba43 0%,#ffa146 50%,#ff8d21 52%,#ff6100 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffba43', endColorstr='#ff6100',GradientType=0 ) !important;
border-bottom: 3px solid #512200 !important;
color: #431904 !important;
}

@media (max-width:1100px) {.subject-bu{width:90%;}.subject-bu li{font-size:32px;padding-top:8px;}}
@media (max-width:900px) {.subject-bu li{height:60px;font-size:30px;font-weight:normal;padding-top:8px;}}
@media (max-width:800px) {.subject-bu{width:100%;}.subject-bu li{width:25%;margin:0 10px;}}
@media (max-width:500px) {
.subject-bu li{width:28%;height:56px;font-size:28px;margin:0 5px;}
.subject-bu li{border-bottom:2px solid #4e4e4e;}
.subject-bu li:hover{border-bottom:2px solid #512200;}
.active{border-bottom:2px solid #512200 !important;}
}
@media (max-width:450px) {.subject-bu li{width:26%;height:46px;font-size:24px;padding-top:6px;}}
@media (max-width:400px) {.subject-bu li{height:42px;font-size:22px;}}

/* 影片列表 */
.page-grade{color:#ffffff;padding:0px 20px;margin-top:20px;text-align:left;font-size:20px;}
.video-list{color:#ffffff;padding:0px 20px;margin-top:20px;}
.video-list-title{font-size:24px;text-align:left;}
.video-area{margin-top:15px;}
.video-image{width:25%;float:left;padding:0px 15px;margin-bottom:22px;position:relative;}
.video-image img{width:100%;height:auto;cursor:pointer;}
.video-list-title span{margin-left:5px;}
.video-image span{font-size:18px;color:#ffffff;letter-spacing:1px;display:block;}
.video-image img:hover + span{color:#fff94a;text-decoration:underline;}

.video-text-a{width:12.5%;font-size:20px;margin-top:10px;margin-bottom:25px;float:left;}
.video-text-a a{color:#ffffff;}
.video-text-a a:hover{color:#fff94a;text-decoration:underline;}

/* 影片列表 end */
/* 影片列表 RWD */
@media (max-width:1280px) {.video-image{width:33.3333%;}}
@media (max-width:1024px) {.video-text-a{width:16.6666%;}}
@media (max-width:850px) {.video-image{width:50%;}}
@media (max-width:800px) {.video-list-title{font-size:22px;}.page-grade{font-size:18px;}}
@media (max-width:750px) {.video-text-a{width:20%;}}
@media (max-width:650px) {.video-text-a{width:25%;}}
@media (max-width:600px) {.video-list{padding:0px 15px;}.video-image{padding:0px 10px;}}
@media (max-width:500px) {
.page-grade{padding:0px 10px;}
.video-list-title{font-size:20px;}
.page-grade{font-size:16px;}
.video-text-a{width:33.3333%;}
.video-image span{font-size:16px;}
.video-list{padding:0px 10px;}
.video-image{margin-bottom:15px;padding:0px 5px;}
}
/* 影片列表 RWD end */

/* 置底快速導覽 */
.lesson-area{position:fixed;width:1280px;background-color:#e0e0e0;bottom:0px;color:#e1e1e1;z-index:20;display:none;}
.lesson-area-h1{height:85px;}
.lesson-area-h2{height:125px;}
.lesson-area-h3{height:165px;}
.lesson-bu{
width:25%;height:42px;
text-align:center;font-size:19px;
border-right:1px solid #003868;
float:left;
padding:0px 5px;padding-top:8px;
background: #008dea; /* Old browsers */
background: -moz-linear-gradient(top, #008dea 0%, #0050a2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #008dea 0%,#0050a2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #008dea 0%,#0050a2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008dea', endColorstr='#0050a2',GradientType=0 ); /* IE6-9 */
border-top:2px solid #003868;
cursor:pointer;
display:none;
}
.lesson-bu:nth-child(1),.lesson-bu:nth-child(5){border-left:1px solid #003868;}
.lesson-bu a{color:#ffffff;text-shadow: 0 1px 0 rgba(0,56,104,1);}
.gotop{
width:100%;height:40px;
font-size:18px;text-align:center;
padding-top:9px;
background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
background: -webkit-linear-gradient(top, #ffffff 0%,#e0e0e0 100%);
background: linear-gradient(to bottom, #ffffff 0%,#e0e0e0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 );
cursor:pointer;
}
.gotop a{color:#5d5d5d;}
.gotop i{font-size:28px;position:relative;top:2px;}
/* 置底快速導覽 end*/
/* 置底快速導覽 RWD */
@media (max-width:1280px) {.lesson-area{width:100%;display:block;}}
@media (max-width:650px) {.lesson-area-h1{height:127px;}.lesson-area-h3{height:205px;}.lesson-bu{width:33.3333%;font-size:18px;}}
@media (max-width:410px) {.lesson-bu{width:50%;font-size:18px;}.lesson-area-h2{height:165px;}.lesson-area-h3{height:245px;}}
/* 置底快速導覽 RWD end */

/* footer */
.footer{
width:100%;
color:#3e1700;text-align:center;font-size:16px;
padding:0px 20px;
}
.footer-h1,.footer-h2,.footer-h3{height:100px;}
.footer a{color:#3e1700;}
/* footer end */
/* footer RWD */
@media (max-width:1280px) {
.footer-h1{height:160px;}
.footer-h2{height:220px;}
.footer-h3{height:240px;}
}
@media (max-width:800px) {.footer{font-size:16px;}}
@media (max-width:650px) {
.footer-h1{height:220px;}
.footer-h3{height:100px;}
.footer-h3{height:300px;}
}
@media (max-width:450px) {.footer{font-size:14px;}}
@media (max-width:410px) {
.footer-h2{height:260px;}
.footer-h3{height:340px;}	
}
/* footer RWD end*/

