@charset "utf-8";

/* reset */
* {
    font-family: 'arial', \5FAE\8EDF\6B63\9ED1\9AD4, \65B0\7D30\660E\9AD4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 1px;
    outline: none;
}

body {
    margin: 0px;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

li {
    padding: 0px;
    margin: 0px;
}

a {
    color: #0c5ba8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: none;
}

textarea:focus,
input:focus,
select:focus {
    outline: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

/* reset end */

@font-face {
    font-family: GenJyuuGothic-Bold;
    src: url(../fonts/GenJyuuGothic-Bold.ttf);
}


.top_bar{
    width:100%;
    height:42px;
    background: #276fcd; /* Old browsers */
    background: -moz-linear-gradient(left,  #276fcd 0%, #005bab 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #276fcd 0%,#005bab 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #276fcd 0%,#005bab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#276fcd', endColorstr='#005bab',GradientType=1 ); /* IE6-9 */
    display:flex;
    align-items:center;
    justify-content: flex-end;
    padding-right:80px;
    
}
.top_bar_btn{
}
.top_bar_btn > div{
    background-position:center center;
    background-repeat:no-repeat;
    cursor:pointer;
    margin-left:40px;
    float:left;
}
.top_bar_btn_1{
    width:86px;
    height:20px;
    background-image:url(../image/top_bar_btn_1.png);
}
.top_bar_btn_1:hover{
    background-image:url(../image/top_bar_btn_1_h.png);
}
.top_bar_btn_2{
    width:89px;
    height:22px;
    background-image:url(../image/top_bar_btn_2.png);
}
.top_bar_btn_2:hover{
    background-image:url(../image/top_bar_btn_2_h.png);
}
.top_bar_btn_3{
    width:117px;
    height:20px;
    background-image:url(../image/top_bar_btn_3.png);
}
.top_bar_btn_3:hover{
    background-image:url(../image/top_bar_btn_3_h.png);
}
.top_bar_btn_4{
    width:87px;
    height:20px;
    background-image:url(../image/top_bar_btn_4.png);
}
.top_bar_btn_4:hover{
    background-image:url(../image/top_bar_btn_4_h.png);
}


.top_bar_social_media{
    margin-left:50px;
    display:flex;
    align-items:center;
}
.top_bar_social_media > div{
    cursor:pointer;
    margin-left:25px;
}
.top_bar_social_media_1{
    width:24px;
    height:24px;
    background-image:url(../image/facebook.png);
}
.top_bar_social_media_1:hover{
    background-image:url(../image/facebook_h.png);
}
.top_bar_social_media_2{
    width:24px;
    height:24px;
    background-image:url(../image/youtube.png);
}
.top_bar_social_media_2:hover{
    background-image:url(../image/youtube_h.png);
}
.top_bar_social_media_3{
    width:29px;
    height:10px;
    background-image:url(../image/line.png);
}
.top_bar_social_media_3:hover{
    background-image:url(../image/line_h.png);
}
@media (max-width:1680px) {
    .top_bar{
        padding-right:55px; 
    }
}
@media (max-width:1600px) {
    .top_bar{
        padding-right:35px; 
    }
    .top_bar_social_media{
        margin-left:30px;
    }
}


.nav_bar{
    width:100%;
    height:110px;
    padding:0px 80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.nav_bar_logo img{
    width:300px;
}
.nav_bar_item{
    display:flex;
    align-items:center;    
}
.nav_bar_choice{
    font-size:18px;
    font-weight:bold;
    color:#242D3E;
    cursor:pointer;
}
.nav_bar_choice span:hover{
    color:#1063B9;
}
.nav_bar_choice span{
    margin-right:50px;
}
.nav_bar_function{
}
.nav_bar_function > div{
    float:left;
    cursor:pointer;
}
.nav_bar_search{
    width:24px;
    height:24px;
    background-image:url(../image/search_function.png);
}
.nav_bar_search:hover{
    background-image:url(../image/search_function_h.png);
}
.nav_bar_language{
    width:53px;
    height:24px;
    background-image:url(../image/language_function.png);
    margin-left:30px;
}
.nav_bar_language:hover{
    background-image:url(../image/language_function_h.png);
}


@media (max-width:1680px) {
    .nav_bar{
        padding:0px 50px;
    }
    .nav_bar_choice span{
        margin-right:40px;
    }
}
@media (max-width:1600px) {
    .nav_bar{
        padding:0px 30px;
    }
    .nav_bar_choice span{
        margin-right:30px;
    }
}
@media (max-width:1400px) {
    .nav_bar_logo img{
        width:280px;
    }
    .nav_bar_choice span{
        margin-right:25px;
    }
}
@media (max-width:1350px) {
    .nav_bar_logo img{
        width:260px;
    }
    .nav_bar_choice span{
        margin-right:20px;
    }
}

.marquee_container{
    width:100%;
    height:50px;
    background:#242D3E;
    display:flex;
    align-items:center;
}
.marquee_content{
    width:2154px;
    height:27px;
}

.marquee_animate{background-image:url(../image/marquee_img.png);animation:m_animate 2s;animation-fill-mode:forwards;animation-iteration-count: infinite;}
@keyframes m_animate{
0% {background-image:url(../image/marquee_img.png);}
25% {background-image:url(../image/marquee_img_2.png);}
75% {background-image:url(../image/marquee_img.png);}	
100% {background-image:url(../image/marquee_img_3.png);}    
}

.banner_area{
    width:100%;
    height:639px;
    background-image:url(../image/banner_area.png);
    background-position:center center;
    background-repeat:no-repeat;
    position:relative;
    z-index:20;
}
.video_cover_img{
    width:100%;
    height:200px;
    position:absolute;
    bottom:0px;
    left:0px;
    background-image:url(../image/banner_area_cover.png);
    background-position:center center;
    background-repeat:no-repeat;
}
.hot_key_container{
    height:100%;
    position:absolute;
    left:0px;
    top:90px;
}
.banner_area_btn_container{
    width:1280px;
    margin:0 auto;
    position:relative;
}
.banner_area_btn{
    position:absolute;
    left:93px;
    top:365px;
    cursor:pointer;
}
.banner_area_btn_2{
    position:absolute;
    right:15vw;
    top:375px;
    cursor:pointer;
}
.banner_text_2{
    position:absolute;
    right:14vw;
    top:115px;
}
.video_black_cover{
    height:100%;
    position:absolute;
    right:0px;
    top:0px;    
}
.banner_dot{
    width:100%;
    text-align:center;
    position:absolute;
    left:0px;
    bottom:70px;
}
@media (max-width:1680px) {
    .banner_area{
        background-image:url(../image/banner_area_1680.png);
    }
    .banner_area_btn{
        left:171px;
        top:365px;    
    }
}
@media (max-width:1500px) {
    .banner_area{
        background-image:url(../image/banner_area_1500.png);
    }
    .banner_area_btn{
        left:260px;
        top:365px;    
    }
}

.section_1{
    width:100%;
    height:1128px;
    background-image:url(../image/section_1_n.png);
    background-position:center center;
    background-repeat:no-repeat;
    position:relative;
    z-index:10;
    top:-20px;
}
.section_1_container{
    width:1360px;
    height:100%;
    margin:0 auto;
    position:relative;
}
.section_1_item_container{
    width:440px;
    position:absolute;
    top:369px;
    right:261px;
}
.section_1_item_row{
    width:100%;
    margin-top:30px;
    display:flex;
    justify-content:space-between;
}
.section_1_item_row img{
    cursor:pointer;
}
.section_1_item_row > div{
    width:120px;
    height:120px;
    background-position:center center;
    background-repeat:no-repeat;
    cursor:pointer;
}
.section_1_item_1{
    background-image:url(../image/section_1_item_1.png);
}
.section_1_item_2{
    background-image:url(../image/section_1_item_2.png);
}
.section_1_item_3{
    background-image:url(../image/section_1_item_3.png);
}
.section_1_item_4{
    background-image:url(../image/section_1_item_4.png);
}
.section_1_item_5{
    background-image:url(../image/section_1_item_5.png);
}
.section_1_item_6{
    background-image:url(../image/section_1_item_6.png);
}
.section_1_item_7{
    background-image:url(../image/section_1_item_7.png);
}

.section_1_item_1:hover{
    background-image:url(../image/section_1_item_1_h.png);
}
.section_1_item_2:hover{
    background-image:url(../image/section_1_item_2_h.png);
}
.section_1_item_3:hover{
    background-image:url(../image/section_1_item_3_h.png);
}
.section_1_item_4:hover{
    background-image:url(../image/section_1_item_4_h.png);
}
.section_1_item_5:hover{
    background-image:url(../image/section_1_item_5_h.png);
}
.section_1_item_6:hover{
    background-image:url(../image/section_1_item_6_h.png);
}
.section_1_item_7:hover{
    background-image:url(../image/section_1_item_7_h.png);
}


.section_2{
    width:100%;
    height:807px;
    background-image:url(../image/section_2_n.png);
    background-position:center center;
    background-repeat:no-repeat;
    position:relative;
    top:-170px;
    z-index:20;
}
.section_2_container{
    width:990px;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    position:relative;
    top:235px;
    z-index:20;
}
.section_2_container > div{
    width:220px;
    height:355px;
}
.section_2_container > div > div{
    width:100%;
    height:100%;
    background-position:center center;
    background-repeat:no-repeat;
    position:relative;
}
.section_2_item_btn{
    width:180px;
    height:40px;
    background-image:url(../image/section_2_item_btn.png);
    position:absolute;
    bottom:100px;
    left:20px;
    cursor:pointer;
    display:none;
}
.section_2_item_btn:hover{
    background-image:url(../image/section_2_item_btn_h.png);
}

.section_2_item_container .section_2_item_1{
    background-image:url(../image/section_2_item_1.png);transition-duration:1s;transform:rotateY(180deg);
}
.section_2_item_container:hover .section_2_item_1{
    background-image:url(../image/section_2_item_1_h.png);transform:rotateY(360deg);
}
.section_2_item_container:hover .section_2_item_btn{
    display:block;
}
.section_2_item_container .section_2_item_2{
    background-image:url(../image/section_2_item_2.png);transition-duration:1s;transform:rotateY(180deg);
}
.section_2_item_container:hover .section_2_item_2{
    background-image:url(../image/section_2_item_2_h.png);transform:rotateY(360deg);
}
.section_2_item_container:hover .section_2_item_btn{
    display:block;
}
.section_2_item_container .section_2_item_3{
    background-image:url(../image/section_2_item_3.png);transition-duration:1s;transform:rotateY(180deg);
}
.section_2_item_container:hover .section_2_item_3{
    background-image:url(../image/section_2_item_3_h.png);transform:rotateY(360deg);
}
.section_2_item_container:hover .section_2_item_btn{
    display:block;
}
.section_2_item_container .section_2_item_4{
    background-image:url(../image/section_2_item_4.png);transition-duration:1s;transform:rotateY(180deg);
}
.section_2_item_container:hover .section_2_item_4{
    background-image:url(../image/section_2_item_4_h.png);transform:rotateY(360deg);
}
.section_2_item_container:hover .section_2_item_btn{
    display:block;
}
.card_animate{
    
}


.section_3{
    width:100%;
    height:1589px;
    background-image:url(../image/section_3_n.png);
    background-position:center center;
    background-repeat:no-repeat;
    position:relative;
    top:-360px;
    z-index:10;
}
.section_3_container{
    width:1360px;
    margin:0 auto;
    position:relative;
    top:425px;
}
.section_3_item_container{
    width:440px;
    position:absolute;
    top:0px;
    left:185px;
}
.section_3_item_container img{
    margin-bottom:35px;
}

.section_4{
    width:100%;
    height:1464px;
    background-image:url(../image/section_4_n.png);
    background-position:center center;
    background-repeat:no-repeat;
    position:relative;
    top:-850px;
    z-index:20;
}
.section_4_container{
    width:1360px;
    height:100%;
    margin:0 auto;
    position:relative;
}
.section_4_card_1{
    position:absolute;
    top:442px;
    right:348px;
}
.section_4_card_2{
    position:absolute;
    top:442px;
    right:100px;
}
.section_4_card_3{
    position:absolute;
    top:663px;
    right:346px;
}
.section_4_card_4{
    position:absolute;
    top:662px;
    right:100px;
}
.process_pic{
    width:100%;
    text-align:center;
    position:absolute;
    bottom:295px;
    right:0px;  
}
@media (max-width:1360px) {
    .section_4_container{
        width:100%;
    }
    .process_pic{
        padding:0px 50px;
    }
    .process_pic img{
        width:100%
    }
}


.section_5{
    width:100%;
    height:920px;
    background-color:#242D3E;
    background-image:url(../image/section_5_n.png);
    background-position:center bottom;
    background-repeat:no-repeat;
    position:relative;
    top:0px;
    z-index:20;
}
.section_5_content{
    width:1360px;
    text-align:center;
    margin:0 auto;
    padding-top:80px;
    position:relative;
}
.section_5_tab{
    width:400px;
    height:50px;
    background-color:#ffffff;
    border-radius:99px;
    margin:0 auto;
    margin-bottom:30px;
    padding:3px 4px;
    display:flex;
}
.section_5_tab > div{
    width:50%;
    background:#ffffff;
    font-size:20px;
    font-weight:bold;
    color:#98A7C3;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}
.section_5_tab > div.active,.section_5_tab > div:hover{
    background:#1063B9;
    color:#ffffff;
}

.section_5_tab > div:nth-child(1){
    border-radius:99px 0px 0px 99px;
}
.section_5_tab > div:nth-child(2){
    border-radius:0px 99px 99px 0px;
}
.section_5_choice_row{
    width:960px;
    margin:0 auto;
    margin-bottom:15px;
    display:flex;
    align-items:center;
}
.section_5_choice_row > div{
    width:16.6666%;
    height:20px;
    font-size:18px;
    font-weight:bold;
    text-align:center;
    color:#91969E;
    border-left:2px solid #91969E;
    cursor:pointer;
}
.section_5_choice_row > div:last-child{
    border-right:2px solid #91969E;
}
.section_5_choice_row > div > a{
    color:#91969E;
    position:relative;
    top:-1px;
}
.section_5_choice_row > div > a.active,.section_5_choice_row > div > a:hover{
    color:#FFC369;
    text-decoration:none;
}
.section_5_news_list{
    width:1280px;
    margin:0 auto;
    margin-top:50px;
}
.section_5_news_list .list_item{
    width:100%;
    height:65px;
    color:#91969E;
    display:flex;
    align-items:center;
    padding:0px 20px;
    position:relative;
    border-radius:8px;
    cursor:pointer;
}
.section_5_news_list .list_item:nth-child(odd){
    background:#2F3748;
}
.section_5_news_list .list_item .dot{
    width:10px;
    height:10px;
    background:#91969E;
    border-radius:50%;
    margin-right:10px;
}
.section_5_news_list .list_item .title{
    font-size:20px;
}
.section_5_news_list .list_item .date{
    height:100%;
    font-size:16px;
    position:absolute;
    top:0px;
    right:30px;
    display:flex;
    align-items:center;
}
.section_5_news_list .list_item.active,.section_5_news_list .list_item:hover{
    color:#ffffff;
}
.section_5_news_list .list_item.active .dot,.section_5_news_list .list_item:hover .dot{
    background:#FFC369;
}
.section_5_btn{
    width:100%;
    text-align:center;
    margin-top:50px;
}
@media (max-width:1360px) {
    .section_5_container{
        width:100%;
    }
    .section_5_content{
        width:100%;
        padding:0px 30px;
    }
    .section_5_news_list{
        width:100%;
    }

}

.footer{
    width:100%;
    height:369px;
    background-image:url(../image/footer.png);
    background-position:center center;
    background-repeat:no-repeat;
}

.right_nav_container{
    width:80px;
    position:fixed;
    bottom:20px;
    right:30px;
    z-index:200;
}
.right_nav_container > div{
    width:80px;
    height:85px;
    background-position:center center;
    background-repeat:no-repeat;
    margin-bottom:20px;
    cursor:pointer;
}
.nav_right_ar{
    background-image:url(../image/nav_right_ar.png);
}
.nav_right_ar:hover{
    background-image:url(../image/nav_right_ar_h.png);
}
.nav_right_line{
    background-image:url(../image/nav_right_line.png);
}
.nav_right_line:hover{
    background-image:url(../image/nav_right_line_h.png);
}
.nav_right_account{
    background-image:url(../image/nav_right_account.png);
}
.nav_right_account:hover{
    background-image:url(../image/nav_right_account_h.png);
}
.nav_right_gotop{
    background-image:url(../image/nav_right_gotop.png);
}
.nav_right_gotop:hover{
    background-image:url(../image/nav_right_gotop_h.png);
}


.hvr-top_l {
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-top_l:hover,
.hvr-top_l:focus,
.hvr-top_l:active {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.hvr-top {
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-top:hover,
.hvr-top:focus,
.hvr-top:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.hvr-top-m {
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-top-m:hover,
.hvr-top-m:focus,
.hvr-top-m:active {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}

















