@charset "utf-8";

/* reset */
* {
    font-family: 'arial', \5FAE\8EDF\6B63\9ED1\9AD4, \65B0\7D30\660E\9AD4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 1px;
    outline: none;
}

body {
    margin: 0px;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

li {
    padding: 0px;
    margin: 0px;
}

a {
    color: #0c5ba8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: none;
}

textarea:focus,
input:focus,
select:focus {
    outline: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

/* reset end */

@font-face {
    font-family: GenJyuuGothic-Bold;
    src: url(../fonts/GenJyuuGothic-Bold.ttf);
}


.top_bar{
    width:100%;
    height:50px;
    padding-right:130px;
    display:flex;
    align-items:center;
    justify-content: flex-end;
}
.top_bar_btn{
    padding-top:2px;
}
.top_bar_btn > div{
    background-position:center center;
    background-repeat:no-repeat;
    cursor:pointer;
    margin-left:40px;
    float:left;
}
.top_bar_btn_1{
    width:86px;
    height:20px;
    background-image:url(../image_2/top_bar_btn_1.png);
}
.top_bar_btn_1:hover{
    background-image:url(../image_2/top_bar_btn_1_h.png);
}
.top_bar_btn_2{
    width:89px;
    height:22px;
    background-image:url(../image_2/top_bar_btn_2.png);
}
.top_bar_btn_2:hover{
    background-image:url(../image_2/top_bar_btn_2_h.png);
}
.top_bar_btn_3{
    width:117px;
    height:20px;
    background-image:url(../image_2/top_bar_btn_3.png);
}
.top_bar_btn_3:hover{
    background-image:url(../image_2/top_bar_btn_3_h.png);
}
.top_bar_btn_4{
    width:87px;
    height:20px;
    background-image:url(../image_2/top_bar_btn_4.png);
}
.top_bar_btn_4:hover{
    background-image:url(../image_2/top_bar_btn_4_h.png);
}


.top_bar_social_media{
    margin-left:30px;
    display:flex;
    align-items:center;
}
.top_bar_social_media > div{
    cursor:pointer;
    margin-left:25px;
}
.top_bar_social_media_1{
    width:24px;
    height:24px;
    background-image:url(../image_2/facebook.png);
}
.top_bar_social_media_1:hover{
    background-image:url(../image_2/facebook_h.png);
}
.top_bar_social_media_2{
    width:24px;
    height:24px;
    background-image:url(../image_2/youtube.png);
}
.top_bar_social_media_2:hover{
    background-image:url(../image_2/youtube_h.png);
}
.top_bar_social_media_3{
    width:29px;
    height:10px;
    background-image:url(../image_2/line.png);
}
.top_bar_social_media_3:hover{
    background-image:url(../image_2/line_h.png);
}

.nav_bar{
    width:100%;
    height:60px;
    padding:0px 130px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.nav_bar_logo img{
    width:300px;
}
.nav_bar_item{
    display:flex;
    align-items:center;    
}
.nav_bar_choice{
    font-size:18px;
    font-weight:bold;
    color:#242D3E;
    cursor:pointer;
    position:relative
}
.nav_bar_choice span:hover{
    color:#DC9428;
}
.nav_bar_choice span{
    margin-right:50px;
}
.nav_bar_function{
}
.nav_bar_function > div{
    float:left;
    cursor:pointer;
}
.nav_bar_search{
    width:35px;
    height:35px;
    background-image:url(../image_2/search_function.png);
}
.nav_bar_language{
    width:35px;
    height:35px;
    background-image:url(../image_2/language_function.png);
    margin-left:15px;
}
.nav_bar_search:hover{
    background-image:url(../image_2/search_function_h.png);
}
.nav_bar_language:hover{
    background-image:url(../image_2/language_function_h.png);
}
@media (max-width:1750px) {
    .top_bar{
        padding-right:80px;
    }
    .nav_bar{
        padding:0px 80px;
    }
    .nav_bar_choice span{
        margin-right:40px;
    }
}
@media (max-width:1600px) {
    .top_bar{
        padding-right:50px;
    }
    .nav_bar{
        padding:0px 50px;
    }
    .nav_bar_choice span{
        margin-right:30px;
    }
}
@media (max-width:1450px) {
    .top_bar{
        padding-right:30px;
    }
    .nav_bar_logo img{
        width:280px;
    }
    .nav_bar{
        padding:0px 30px;
    }
    .nav_bar_choice span{
        margin-right:20px;
    }
}

.marquee_container{
    width:100%;
    padding:0px 130px;
    margin-top:20px;
}
.marquee_container > div{
    width:100%;
    height:50px;
    background:#FFECDA;
    border-radius:99px;
    display:flex;
    align-items:center;
    overflow:hidden;
}
.marquee_content{
    width:2154px;
    height:27px;
}

.marquee_animate{background-image:url(../image_2/marquee_img.png);animation:m_animate 2s;animation-fill-mode:forwards;animation-iteration-count: infinite;}
@keyframes m_animate{
0% {background-image:url(../image_2/marquee_img.png);}
25% {background-image:url(../image_2/marquee_img_2.png);}
75% {background-image:url(../image_2/marquee_img.png);}	
100% {background-image:url(../image_2/marquee_img_3.png);}    
}
@media (max-width:1750px) {
    .marquee_container{
        padding:0px 80px;
    }
}
@media (max-width:1600px) {
    .marquee_container{
        padding:0px 50px;
    }
}
@media (max-width:1450px) {
    .marquee_container{
        padding:0px 30px;
    }
}

.banner_area{
    width:100%;
    height:875px;
    background-image:url(../image_2/banner.png);
    background-position:center center;
    background-repeat:no-repeat;
    position:relative;
    z-index:20;
}
.banner_area_btn_container{
    width:1280px;
    margin:0 auto;
    position:relative;
}
.banner_area_btn{
    position:absolute;
    left:253px;
    top:375px;
    cursor:pointer;
}
.hot_key{
    position:absolute;
    top:120px;
    left:120px;
}
@media (max-width:1750px) {
    .hot_key{
        left:80px;
    }
}
@media (max-width:1600px) {
    .hot_key{
        left:50px;
    }
}
@media (max-width:1450px) {
    .hot_key{
        left:30px;
    }
}
@media (max-width:1620px) {
    .banner_area{
        background-image:url(../image_2/banner_1620.png);
    }
    .banner_area_btn{
        left:351px;
        top:375px;    
    }
}

.main{
    width:100%;
    height:3773px;
    background-image:url(../image_2/main_bg.png);
    background-position:center center;
    background-repeat:no-repeat;
    position:relative;
}

.section_container{
    width:1360px;
    margin:0 auto;
    position:relative;
}
@media (max-width:1360px) {
    .section_container{
        width:90%;
    }
}
.section_1{
    width:642px;
    height:383px;
    position:absolute;
    left:0px;
    top:-2px;
}
.section_1_item_row{
    width:100%;
    display:flex;
    justify-content:space-between;
    margin-bottom:47px;
}
.section_1_item_row > div{
    width:130px;
    height:130px;
    background-position:center center;
    background-repeat:no-repeat; 
    position:relative;
}
.section_1_item_row .item_btn{
    width:130px;
    height:40px;
    position:absolute;
    bottom:0px;
    left:0px;
    padding:0px;
    cursor:pointer;
}
.section_1_item_1{
    background-image:url(../image_2/section_1_item_1.png); 
}
.section_1_item_2{
    background-image:url(../image_2/section_1_item_2.png); 
}
.section_1_item_3{
    background-image:url(../image_2/section_1_item_3.png); 
}
.section_1_item_4{
    background-image:url(../image_2/section_1_item_4.png); 
}
.section_1_item_5{
    background-image:url(../image_2/section_1_item_5.png); 
}
.section_1_item_6{
    background-image:url(../image_2/section_1_item_6.png); 
}
.section_1_item_7{
    background-image:url(../image_2/section_1_item_7.png); 
}

.section_1_item_1_btn{
    background-image:url(../image_2/section_1_item_1_btn.png); 
}
.section_1_item_2_btn{
    background-image:url(../image_2/section_1_item_2_btn.png); 
}
.section_1_item_3_btn{
    background-image:url(../image_2/section_1_item_3_btn.png); 
}
.section_1_item_4_btn{
    background-image:url(../image_2/section_1_item_4_btn.png); 
}
.section_1_item_5_btn{
    background-image:url(../image_2/section_1_item_5_btn.png); 
}
.section_1_item_6_btn{
    background-image:url(../image_2/section_1_item_6_btn.png); 
}
.section_1_item_7_btn{
    background-image:url(../image_2/section_1_item_7_btn.png); 
}

.section_1_item_1_btn:hover{
    background-image:url(../image_2/section_1_item_1_btn_h.png); 
}
.section_1_item_2_btn:hover{
    background-image:url(../image_2/section_1_item_2_btn_h.png); 
}
.section_1_item_3_btn:hover{
    background-image:url(../image_2/section_1_item_3_btn_h.png); 
}
.section_1_item_4_btn:hover{
    background-image:url(../image_2/section_1_item_4_btn_h.png); 
}
.section_1_item_5_btn:hover{
    background-image:url(../image_2/section_1_item_5_btn_h.png); 
}
.section_1_item_6_btn:hover{
    background-image:url(../image_2/section_1_item_6_btn_h.png); 
}
.section_1_item_7_btn:hover{
    background-image:url(../image_2/section_1_item_7_btn_h.png); 
}

.section_2{
    width:626px;
    height:771px;
    background-image:url(../image_2/section_2_item.png);
    background-position:center center;
    background-repeat:no-repeat;
    position:absolute;
    top:222px;
    right:0px;
}
.section_2 > div{
    width:100%;
    height:100%;
    position:relative;
}
.section_2 > div > .item_btn{
    width:94px;
    height:36px;
    background-image:url(../image_2/section_2_btn.png);
    cursor:pointer;
}
.section_2 > div > .item_btn:hover{
    background-image:url(../image_2/section_2_btn_h.png);
}
.section_2_position_1{
    position:absolute;
    top:169px;
    right:70px;
}
.section_2_position_2{
    position:absolute;
    top:319px;
    right:70px;
}
.section_2_position_3{
    position:absolute;
    top:469px;
    right:70px;
}
.section_2_position_4{
    position:absolute;
    top:619px;
    right:70px;
}


.section_3{
    position:absolute;
    top:816px;
    left:0px;
}
.section_3_item_row{
    display:flex;
    justify-content:space-between;
    position:relative;
    top:-21px;
    left:0px;
}

.section_4{
    width:100%;
    text-align:center;
    position:absolute;
    top:1940px;
    left:0px;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

.section_4_row{
    width:1020px;
    display:flex;
    justify-content:space-between;
    margin-bottom:180px;
}

.section_5{
    width:100%;
    text-align:center;
    position:absolute;
    top:2967px;
    left:0px; 
}

.section_5_content{
    width:1360px;
    text-align:center;
    margin:0 auto;
    position:relative;
}
.section_5_tab{
    width:500px;
    height:50px;
    margin:0 auto;
    margin-bottom:30px;
    display:flex;
}
.section_5_tab > div{
    width:50%;
    font-family: GenJyuuGothic-Bold;
    background:#EDF6FF;
    font-size:22px;
    font-weight:bold;
    color:#5E697E;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    border-radius:99px;
    margin:0px 15px;
    position:relative;
}
.section_5_tab > div > .tab_arrow{
    width:100%;
    position:absolute;
    bottom:-18px;
    left:0px;
    text-align:center;
}
.section_5_tab > div.active,.section_5_tab > div:hover{
    background:#2670C6;
    color:#ffffff;
}

.section_5_choice_row{
    width:960px;
    margin:0 auto;
    margin-bottom:15px;
    display:flex;
    align-items:center;
}
.section_5_choice_row > div{
    width:16.6666%;
    height:20px;
    font-size:18px;
    font-weight:bold;
    text-align:center;
    color:#5E697E;
    border-left:2px solid #5E697E;
    cursor:pointer;
}
.section_5_choice_row > div:last-child{
    border-right:2px solid #5E697E;
}
.section_5_choice_row > div > a{
    color:#5E697E;
    position:relative;
    top:-1px;
}
.section_5_choice_row > div > a.active,.section_5_choice_row > div > a:hover{
    color:#2670C6;
    text-decoration:none;
}
.section_5_news_list{
    width:1280px;
    margin:0 auto;
    margin-top:25px;
}
.section_5_news_list .list_item{
    width:100%;
    height:70px;
    color:#242D3E;
    display:flex;
    align-items:center;
    padding:0px 20px;
    position:relative;
    border-bottom:1px solid #96C1F3;
    cursor:pointer;
}
.section_5_news_list .list_item:nth-child(odd){
    
}
.section_5_news_list .list_item .dot{
    width:10px;
    height:10px;
    background:#242D3E;
    border-radius:50%;
    margin-right:10px;
}
.section_5_news_list .list_item .title{
    font-size:20px;
}
.section_5_news_list .list_item .date{
    height:100%;
    font-size:16px;
    position:absolute;
    top:0px;
    right:30px;
    display:flex;
    align-items:center;
}
.section_5_news_list .list_item.active,.section_5_news_list .list_item:hover{
    background:#2670C6;
    color:#ffffff;
    border-radius:8px;
}
.section_5_news_list .list_item.active .dot,.section_5_news_list .list_item:hover .dot{
    background:#FFC369;
}
.section_5_btn{
    width:100%;
    text-align:center;
    margin-top:50px;
}
@media (max-width:1360px) {
    .section_5_container{
        width:100%;
    }
    .section_5_content{
        width:100%;
        padding:0px 30px;
    }
    .section_5_news_list{
        width:100%;
    }

}

.footer{
    width:100%;
    height:369px;
    background-image:url(../image/footer.png);
    background-position:center center;
    background-repeat:no-repeat;
}









.right_nav_container{
    width:64px;
    position:fixed;
    bottom:20px;
    right:30px;
    z-index:200;
}
.right_nav_container > div{
    width:80px;
    height:85px;
    background-position:center center;
    background-repeat:no-repeat;
    margin-bottom:20px;
    cursor:pointer;
}
.nav_right_ar{
    background-image:url(../image/nav_right_ar.png);
}
.nav_right_ar:hover{
    background-image:url(../image/nav_right_ar_h.png);
}
.nav_right_line{
    background-image:url(../image/nav_right_line.png);
}
.nav_right_line:hover{
    background-image:url(../image/nav_right_line_h.png);
}
.nav_right_account{
    background-image:url(../image/nav_right_account.png);
}
.nav_right_account:hover{
    background-image:url(../image/nav_right_account_h.png);
}
.nav_right_gotop{
    background-image:url(../image/nav_right_gotop.png);
}
.nav_right_gotop:hover{
    background-image:url(../image/nav_right_gotop_h.png);
}


.hvr-top_l {
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-top_l:hover,
.hvr-top_l:focus,
.hvr-top_l:active {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.hvr-top {
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-top:hover,
.hvr-top:focus,
.hvr-top:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.hvr-top-m {
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-top-m:hover,
.hvr-top-m:focus,
.hvr-top-m:active {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}

















