@charset "utf-8";

#mainNav {
	margin-top:0px;
	background:#ffffff;
	border-bottom:1px solid #d9d9d9;
	height:52px;
	float:left;
	width:100%;
    position: relative;/*讓下拉選單出現置左*/
	}
#mainNav>ul{
	margin:0px;
	padding:0px;
	width:100%;
	float:left;
	}
#mainNav>ul>li {
	list-style-type:none;
	padding:0px;
	float:left;
	width:10%;
	text-align:center;
	}
#mainNav>ul>li>a{
	font-size: 16px;
	display: block;
	color: #545454;
	width: 100%;
	padding-top: 17px;
	padding-right: 0;
	padding-bottom: 15px;
	padding-left: 0;
	}

#mainNav>ul>li>a:hover,.mainNav_bt_open,#mainNav li.dropdown.open>a{
	color:#fff;
	background:#feb528;
	}
#mainNav>ul>li>a:hover{
    height:52px;
}

.dropdown {/*清除下拉選單的定位*/
    position: static;
}
.mainNav-open{/*下拉選單的調整*/
	width: 100%;
	padding: 0px;
	background: rgba(255,255,255,0.95);
	}
.mainNav-open ul{
	border-right: 1px solid #dadada;
	float: left;
	height: auto;
	width: 20%;
    margin:0;
	padding:10px;
	}
.mainNav-open ul:last-child{
	border-right:0px solid #dadada;
}
.mainNav-open ul li{
	list-style-type:none;
	margin-top:0px;
	padding:8px 0px;
	text-align:center;
	}

.mainNav-open ul li:hover{
	background: #feb528;
	}
.mainNav-open ul li:hover a{
	color:#ffffff;
	}

li .fist_title a{font-size: 16px;}

@media (max-width: 992px) {
#mainNav>ul>li>a{font-size: 15px;}
li .fist_title a{font-size: 15px;}	
}
@media (max-width: 860px) {
#mainNav>ul>li>a{font-size: 14px;}	
li .fist_title a{font-size: 14px;}
}

@media (min-width: 768px) {
li.dropdown:hover > .dropdown-menu.mainNav-open {/*電腦版滑過去就出現下拉*/
    display: block!important;
} 
}


.nav-tabs > li {
    float: left;
    margin-bottom: -2px;
	min-width: 92px;
    text-align: center;
}

.nav-tabs {
    border-bottom:0px solid #dddddd;
}
.nav > li > a {
    padding: 10px 10px;
	margin-right: 0px;
	color:#666;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #545454;
    background-color: #e1e1e1;
    border: 0px solid #dddddd;
	border-radius: 0 0;
	margin-right: 0px;
	border-right: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	border-bottom: 0px solid #e1e1e1;
}	



@media (max-width: 767px){ 

/*手機板選單*/
/*mainNav下拉選單*/
#mobile_mainNav{
	margin-top:10px;
	background:#feb528;
	border-bottom:0px solid #cccccc;
	color:#fff;
	margin-bottom:0px;
	}
.navbar{
	margin-bottom:0px;
	}
.navbar-default .navbar-brand {
    color: #fff;
	font-size:22px;
}
.navbar-default .navbar-brand span:hover {
    color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {/*按鈕*/
background-color: #feb528;
}
.navbar-default .navbar-toggle {/*按鈕*/
border-color:#fff;
float:right;
margin-right:20px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default {
background-color: transparent;
border-color: transparent;
}
#bs-example-navbar-collapse-2 {
background: #ffffff;
}
#bs-example-navbar-collapse-2 a{
font-size:17px;
	}
.navbar-nav > li > a {
	border-bottom: 0px dashed #fff;
	background-image: url(../images/do2.gif);
	background-repeat: no-repeat;
	background-position: 96% center;
}
.nav > li > a {padding: 10px 18px;}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ffffff;
	background-color: #feb528;
	background-image: url(../images/do.gif);
	background-repeat: no-repeat;
	background-position: right center;
}
.dropdown-menu>li.first-li{/*無法點選的第一層*/
margin-left: 0px;
color: #ff9000;
font-size:16px;
}
ul.dropdown-menu {
    padding: 5px 10px;
}

}
