
	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0,0,0,.8);
		z-index: 100;
		display: none;
		top: 0;
		left: 0;
		}
	
	.reveal-modal {
		visibility: hidden;
		top: 100px;
		width: 310px;
		height: 507px;
		left:40.6%;
		background: #eee;
		position: absolute;
		z-index: 101;
		padding: 5px 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
		
		.reveal-modal img {
		width:300px;
		height:497px;
		}
		
	
	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 
@media (max-width: 1400px) { .reveal-modal {left:37%;} }
@media (max-width: 1175px) { .reveal-modal {left:36%;} }
@media (max-width: 915px) { .reveal-modal {left:33%;} }
@media (max-width: 800px) { .reveal-modal {left:31%;} }
@media (max-width: 735px) { .reveal-modal {left:30%;} }
@media (max-width: 650px) { .reveal-modal {left:24%;} }
@media (max-width: 565px) { .reveal-modal {left:22%;} }
@media (max-width: 520px) { .reveal-modal {left:20%;} }
@media (max-width: 495px) { .reveal-modal {left:18%;} }
@media (max-width: 480px) { .reveal-modal {left:10%;} }
@media (max-width: 400px) { .reveal-modal {left:5%;} }
@media (max-width: 365px) { .reveal-modal {left:0%;} }

