@charset "utf-8";

body{margin:0px;}

.main{
width:1080px;height:1852px;
margin:0 auto;
position:relative;
overflow:hidden;
}

.page-set-1{width:1080px;height:1852px;background-repeat:no-repeat;background-position:top center;}
.page-set-2{width:1080px;height:1852px;background-repeat:no-repeat;background-position:top center;position:absolute;left:0px;transition:top 1s ease;}
.page-set-2 > div{position:relative;}
.tip-set{position:absolute;top:1680px;cursor:pointer;}

.main-index{background-image:url(../image/index.jpg);position:relative;}
.log-bu{position:absolute;top:818px;left:78px;cursor:pointer;}
.reg-bu{position:absolute;top:1048px;left:78px;cursor:pointer;}
.other-log-bu{position:absolute;bottom:125px;left:410px;cursor:pointer;}

.main-log-1{background-image:url(../image/log-1.jpg);top:-1852px;}
.log-bu-1{position:absolute;top:1431px;left:30px;cursor:pointer;}
.q-text{left:50px;}

.main-log-2{background-image:url(../image/log-2.jpg);top:0px;display:none;}
.ok-bu{position:absolute;top:1431px;left:30px;cursor:pointer;}
.log-tip-1{left:333px;}
.log-2-pup{position:absolute;top:0px;left:0px;display:none;}

.main-log-3{background-image:url(../image/log-3.jpg);top:0px;display:none;}
.log-tip-2{left:333px;}
.log-3-pup{position:absolute;top:0px;left:0px;display:none;}

.main-log-4{background-image:url(../image/log-4.jpg);top:0px;display:none;}

.main-reg-1{background-image:url(../image/reg-1.jpg);top:-1852px;}
.reg-tip-1{left:273px;}
.reg-1-pup{position:absolute;top:0px;left:0px;display:none;}

.main-reg-2{background-image:url(../image/reg-2.jpg);top:0px;display:none;}
.reg-tip-2{left:380px;}
.reg-2-pup{position:absolute;top:0px;left:0px;display:none;}

.main-reg-3{background-image:url(../image/reg-3.jpg);top:0px;display:none;}
.reg-tip-3{left:419px;}

.main-other-1{background-image:url(../image/other-1.jpg);top:-1852px;}
.other-tip-1{left:322px;}

.down-move{top:0px;transition:top 1s ease;}
.up-move{top:-1852px;transition:top 1s ease;}
.close{position:absolute;top:50px;right:50px;cursor:pointer;}
.arrow{position:absolute;top:46px;left:50px;cursor:pointer;}



