@charset "utf-8";

body{margin:0px;}

.main{
width:1080px;height:1852px;
margin:0 auto;
position:relative;
overflow:hidden;
}
.page-set{width:1080px;height:1852px;background-repeat:no-repeat;background-position:top center;position:absolute;top:-1852px;left:0px;transition:top 1s ease;}
.page-set > div{position:relative;}
.page-index{width:1080px;height:1852px;background-image:url(../image/page-index.jpg);background-repeat:no-repeat;background-position:top center;position:relative;}
.page-tab-bar{width:1080px;position:fixed;bottom:-5px;left:0px;left:50%;margin-left:-540px;cursor:pointer;}
.tab-bar-1-hover,.tab-bar-2-hover,.tab-bar-3-hover,.tab-bar-4-hover{display:none;}
.page-icon-1{position:absolute;top:223px;left:87px;cursor:pointer;}
.page-icon-2{position:absolute;top:1330px;left:130px;cursor:pointer;}

.page-my{width:1080px;height:1852px;background-image:url(../image/page-my.jpg);background-repeat:no-repeat;background-position:top center;position:relative;overflow:hidden;}
.page-my-name{position:absolute;top:300px;left:0px;opacity:0;}
.page-my-tip{position:absolute;top:0px;left:0px;}
.page-my-bu-container{width:651px;background-image:url(../image/page-my-bu.jpg);background-repeat:no-repeat;background-position:top center;position:absolute;top:300px;right:-531px;transition:right 1s ease;}
.page-my-bu-bg{background-image:url(../image/page-my-bu-hover.jpg) !important;}
.page-my-bu-container img{opacity:0;cursor:pointer;}
.page-my-set-bu{position:absolute;top:1622px;left:50px;opacity:0;cursor:pointer;}

.set-page{background-image:url(../image/page-my-set.jpg);}

.right-move{right:0px;transition:right 1s ease;}

.page-detail-title{width:1080px;position:fixed;top:0px;left:0px;left:50%;margin-left:-540px;}

.page-stock{width:1080px;height:1852px;background-image:url(../image/stock-detail.jpg);background-repeat:no-repeat;background-position:top center;position:relative;overflow:scroll;overflow-x:hidden;}
.delete-bu{position:absolute;top:350px;right:352px;opacity:0;}
.set-bu{position:absolute;top:350px;right:50px;opacity:0;}
.stock-detail-pup{position:fixed;top:0px;left:0px;display:none;}

.report-page{background-image:url(../image/report.jpg);}
.report-td{width:810px;height:449px;overflow:scroll;overflow-y:hidden;position:absolute;top:300px;right:0px;}
.report-name{position:absolute;top:383px;left:0px;opacity:0;cursor:pointer;}
.report-pup{position:absolute;top:0px;left:0px;display:none;}
.report-detail{height:1852px;position:absolute;top:0px;left:0px;display:none;overflow:scroll;overflow-x:hidden;}
.report-detail-infor{width:1080px;height:450px;overflow:scroll;overflow-x:hidden;position:absolute;top:703px;left:0px;}
.condition{position:absolute;top:514px;right:180px;cursor:pointer;}
.condition-hover{position:absolute;top:514px;right:180px;cursor:pointer;display:none;}
.condition-window{position:absolute;top:624px;right:32px;cursor:pointer;display:none;}
.date-1{position:absolute;top:514px;right:0px;cursor:pointer;}
.date-2{position:absolute;top:1424px;right:0px;cursor:pointer;}
.date-1-hover{position:absolute;top:514px;right:0px;cursor:pointer;display:none;}
.date-2-hover{position:absolute;top:1424px;right:0px;cursor:pointer;display:none;}
.calendar-1{position:absolute;top:624px;right:0px;display:none;}
.calendar-2{position:absolute;top:1534px;right:0px;display:none;}

.search-page{background-image:url(../image/search.jpg);}
.search-td{width:810px;height:266px;overflow:scroll;overflow-y:hidden;position:absolute;top:300px;right:0px;}
.search-name{position:absolute;top:383px;left:0px;opacity:0;cursor:pointer;}
.search-detail{height:1852px;position:absolute;top:0px;left:0px;display:none;overflow:scroll;overflow-x:hidden;}
.search-kind{width:1080px;height:1392px;overflow:scroll;overflow-x:hidden;position:absolute;top:300px;right:0px;display:none;}
.search-kind-bu{position:absolute;top:150px;left:0px;cursor:pointer;}
.search-kind-bu-hover{position:absolute;top:150px;left:0px;cursor:pointer;display:none;}
.search-pup{position:absolute;top:0px;left:0px;display:none;}

.notice-page{background-image:url(../image/notice.jpg);}
.notice-detail{height:1852px;position:absolute;top:0px;left:0px;overflow:scroll;overflow-x:hidden;display:none;}
.notice-name{position:absolute;top:1005px;left:0px;opacity:0;}

.buy-page{background-image:url(../image/buy.jpg);}
.buy-bu{position:absolute;top:1254px;left:50px;opacity:0;cursor:pointer;}
.buy-detail-infor{width:1080px;height:460px;overflow:scroll;overflow-x:hidden;position:absolute;top:477px;left:0px;}
.buy-detail{height:1852px;position:absolute;top:0px;left:0px;display:none;overflow:scroll;overflow-x:hidden;}

.price-page{height:1852px;position:absolute;top:-1852px;left:0px;overflow:scroll;overflow-x:hidden;transition:top 1s ease;}

.close{position:absolute;top:50px;right:50px;cursor:pointer;}
.page-choice{position:absolute;top:46px;right:50px;cursor:pointer;}
.arrow{position:absolute;top:46px;left:50px;cursor:pointer;}
.list-bu{position:absolute;top:1489px;right:461px;cursor:pointer;}
.down-move{top:0px;transition:top 1s ease;}
.up-move{top:-1852px;transition:top 1s ease;}

.pup-window-bg{width:1080px;height:100%;background-color:rgba(0,0,0,0.88);position:fixed;top:0px;left:50%;margin-left:-540px;display:none;}
.page-choice-bar{position:absolute;top:0px;right:-900px;transition:right 1s ease;}
.page-choice-bar-bu{width:890px;height:1338px;position:absolute;top:384px;right:0px;overflow:scroll;overflow-x:hidden;}
.page-choice-right-move{right:0px;transition:right 1s ease;}
.page-choice-arrow{position:absolute;top:50%;left:73px;margin-top:-29px;}