@charset "UTF-8";
/* 網頁全域文字顏色 無獨立樣式設定文字顏色時自動套用 */
/* 網站主色 */
/* 行動裝置-漢堡選單-背景顏色 */
/* 行動裝置-漢堡選單-文字顏色 */
/* 行動裝置-漢堡選單-點擊和當前所選文字顏色 */
/* index_banner */
.index_banner .banner_pic {
  width: 100%;
  height: 450px;
  background-position: 50% 50%;
  background-repeat: no-repeat; }
  @media (max-width: 1180px) {
    .index_banner .banner_pic {
      height: auto;
      background-size: auto 100%; } }
  @media (max-width: 640px) {
    .index_banner .banner_pic {
      background-image: none !important; } }
.index_banner .banner_1 {
  background-image: url(../image/banner_1920.png); }
.index_banner .banner_2 {
  background-image: url(../image/banner_1920.png); }
.index_banner img {
  width: 100%;
  opacity: 0;
  display: none !important; }
  @media (max-width: 1180px) {
    .index_banner img {
      display: block !important; } }
  @media (max-width: 640px) {
    .index_banner img {
      opacity: 1; } }

/* index_banner end */
/* 保費試算 */
.container_title {
  font-weight: bold;
  text-align: center;
  margin-top: 50px; }
  @media (max-width: 540px) {
    .container_title {
      margin-top: 60px; } }

.row_section_1_tab {
  padding-top: 40px;
  position: relative; }
  @media (max-width: 1280px) {
    .row_section_1_tab {
      padding-top: 30px; } }
  @media (max-width: 768px) {
    .row_section_1_tab {
      padding-top: 20px; } }
  @media (max-width: 480px) {
    .row_section_1_tab {
      padding-top: 15px; } }

.section_1_bg {
  width: 100%;
  height: 100%;
  background-image: url(../image/section_1.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 10; }
  @media (max-width: 768px) {
    .section_1_bg {
      background-image: url(../image/section_1_768.png);
      background-size: 100%; } }
  @media (max-width: 480px) {
    .section_1_bg {
      background-image: url(../image/section_1_480.png); } }

.section_1_container {
  position: relative;
  z-index: 99; }

.ins_sort_tab_container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center; }
  .ins_sort_tab_container .ins_sort_tab {
    text-align: center;
    margin: 0 15px;
    cursor: pointer; }
    @media (max-width: 540px) {
      .ins_sort_tab_container .ins_sort_tab {
        margin: 0 10px; } }
    @media (max-width: 420px) {
      .ins_sort_tab_container .ins_sort_tab {
        margin: 0 8px; } }
    @media (max-width: 375px) {
      .ins_sort_tab_container .ins_sort_tab {
        margin: 0 5px; } }
    .ins_sort_tab_container .ins_sort_tab .ins_sort_tab_pic {
      width: 110px;
      height: 110px;
      background-size: 100%;
      background-color: #ffffff;
      background-position: center center;
      background-repeat: no-repeat;
      border: 5px solid #ededed;
      border-radius: 50%; }
      @media (max-width: 768px) {
        .ins_sort_tab_container .ins_sort_tab .ins_sort_tab_pic {
          width: 100px;
          height: 100px; } }
      @media (max-width: 540px) {
        .ins_sort_tab_container .ins_sort_tab .ins_sort_tab_pic {
          width: 90px;
          height: 90px; } }
      @media (max-width: 480px) {
        .ins_sort_tab_container .ins_sort_tab .ins_sort_tab_pic {
          width: 80px;
          height: 80px;
          border: 3px solid #ededed; } }
      @media (max-width: 420px) {
        .ins_sort_tab_container .ins_sort_tab .ins_sort_tab_pic {
          width: 75px;
          height: 75px; } }
      @media (max-width: 375px) {
        .ins_sort_tab_container .ins_sort_tab .ins_sort_tab_pic {
          width: 72px;
          height: 72px; } }
    .ins_sort_tab_container .ins_sort_tab .ins_sort_tab_pic.travel_icon {
      background-image: url(../image/index_tab_travel_icon_b.png); }
    .ins_sort_tab_container .ins_sort_tab .ins_sort_tab_pic.car_icon {
      background-image: url(../image/index_tab_car_icon_b.png); }
    .ins_sort_tab_container .ins_sort_tab .ins_sort_tab_pic.moto_icon {
      background-image: url(../image/index_tab_moto_icon_b.png); }
    .ins_sort_tab_container .ins_sort_tab .ins_sort_tab_pic.pet_icon {
      background-image: url(../image/index_tab_pet_icon_b.png); }
    .ins_sort_tab_container .ins_sort_tab .ins_sort_tab_pic.annuity_icon {
      background-image: url(../image/index_tab_annuity_icon_b.png); }
    .ins_sort_tab_container .ins_sort_tab .ins_sort_tab_name {
      font-size: 20px;
      margin-top: 5px; }
      @media (max-width: 768px) {
        .ins_sort_tab_container .ins_sort_tab .ins_sort_tab_name {
          font-size: 18px; } }
    .ins_sort_tab_container .ins_sort_tab .ins_sort_tab_arrow {
      width: 100%;
      height: 24px; }
  .ins_sort_tab_container .ins_sort_tab.active .ins_sort_tab_arrow {
    background-image: url(../image/sort-down.png);
    background-repeat: no-repeat;
    background-position: center 5px; }
    @media (max-width: 540px) {
      .ins_sort_tab_container .ins_sort_tab.active .ins_sort_tab_arrow {
        background-size: 20px auto;
        background-position: top center;
        display: none; } }
  .ins_sort_tab_container .ins_sort_tab.active .ins_sort_tab_pic.travel_icon, .ins_sort_tab_container .ins_sort_tab:hover .ins_sort_tab_pic.travel_icon {
    background-image: url(../image/index_tab_travel_icon_w.png); }
  .ins_sort_tab_container .ins_sort_tab.active .ins_sort_tab_pic.car_icon, .ins_sort_tab_container .ins_sort_tab:hover .ins_sort_tab_pic.car_icon {
    background-image: url(../image/index_tab_car_icon_w.png); }
  .ins_sort_tab_container .ins_sort_tab.active .ins_sort_tab_pic.moto_icon, .ins_sort_tab_container .ins_sort_tab:hover .ins_sort_tab_pic.moto_icon {
    background-image: url(../image/index_tab_moto_icon_w.png); }
  .ins_sort_tab_container .ins_sort_tab.active .ins_sort_tab_pic.pet_icon, .ins_sort_tab_container .ins_sort_tab:hover .ins_sort_tab_pic.pet_icon {
    background-image: url(../image/index_tab_pet_icon_w.png); }
  .ins_sort_tab_container .ins_sort_tab.active .ins_sort_tab_pic.annuity_icon, .ins_sort_tab_container .ins_sort_tab:hover .ins_sort_tab_pic.annuity_icon {
    background-image: url(../image/index_tab_annuity_icon_w.png); }
  .ins_sort_tab_container .ins_sort_tab.active .ins_sort_tab_pic, .ins_sort_tab_container .ins_sort_tab:hover .ins_sort_tab_pic {
    background-color: #254A91;
    border: 5px solid #9CAAC4; }
    @media (max-width: 480px) {
      .ins_sort_tab_container .ins_sort_tab.active .ins_sort_tab_pic, .ins_sort_tab_container .ins_sort_tab:hover .ins_sort_tab_pic {
        border: 3px solid #9CAAC4; } }

.section_bgitem_left, .section_bgitem_right {
  background-repeat: no-repeat;
  position: absolute; }
  @media (max-width: 1024px) {
    .section_bgitem_left, .section_bgitem_right {
      display: none; } }

.section_bgitem_left_travel {
  width: 350px;
  height: 130px;
  background-image: url(../image/section_bgitem_left_travel.png);
  top: 0px;
  left: 40px; }
  @media (max-width: 1680px) {
    .section_bgitem_left_travel {
      width: 300px;
      background-image: url(../image/section_bgitem_left_travel_1680.png);
      top: -40px; } }
  @media (max-width: 1280px) {
    .section_bgitem_left_travel {
      top: -50px; } }

.section_bgitem_right_travel {
  width: 350px;
  height: 130px;
  background-image: url(../image/section_bgitem_right_travel.png);
  top: 0px;
  right: 40px; }
  @media (max-width: 1680px) {
    .section_bgitem_right_travel {
      width: 300px;
      background-image: url(../image/section_bgitem_right_travel_1680.png);
      top: -40px; } }
  @media (max-width: 1280px) {
    .section_bgitem_right_travel {
      top: -50px; } }

.section_bgitem_left_pet {
  width: 350px;
  height: 166px;
  background-image: url(../image/section_bgitem_left_pet.png);
  top: -20px;
  left: 40px; }
  @media (max-width: 1680px) {
    .section_bgitem_left_pet {
      top: -35px; } }
  @media (max-width: 1360px) {
    .section_bgitem_left_pet {
      width: 252px;
      background-image: url(../image/section_bgitem_left_pet_1360.png);
      top: -40px; } }
  @media (max-width: 1280px) {
    .section_bgitem_left_pet {
      top: -55px; } }

.section_bgitem_right_pet {
  width: 390px;
  height: 163px;
  background-image: url(../image/section_bgitem_right_pet.png);
  top: -20px;
  right: 40px; }
  @media (max-width: 1680px) {
    .section_bgitem_right_pet {
      top: -35px; } }
  @media (max-width: 1360px) {
    .section_bgitem_right_pet {
      width: 247px;
      background-image: url(../image/section_bgitem_right_pet_1360.png);
      top: -40px; } }
  @media (max-width: 1280px) {
    .section_bgitem_right_pet {
      top: -50px; } }

.section_bgitem_left_annuity {
  width: 350px;
  height: 130px;
  background-image: url(../image/section_bgitem_left_annuity.png);
  top: -40px;
  left: 40px; }
  @media (max-width: 1680px) {
    .section_bgitem_left_annuity {
      width: 300px;
      background-image: url(../image/section_bgitem_left_annuity_1680.png);
      top: -50px;
      left: 20px; } }
  @media (max-width: 1280px) {
    .section_bgitem_left_annuity {
      top: -60px; } }

.section_bgitem_right_annuity {
  width: 350px;
  height: 130px;
  background-image: url(../image/section_bgitem_right_annuity.png);
  top: -40px;
  right: 40px; }
  @media (max-width: 1680px) {
    .section_bgitem_right_annuity {
      width: 300px;
      background-image: url(../image/section_bgitem_right_annuity_1680.png);
      top: -50px;
      right: 20px; } }
  @media (max-width: 1280px) {
    .section_bgitem_right_annuity {
      top: -60px; } }

.row_count_price {
  width: 100%;
  height: auto;
  background: #EDF3FF;
  padding-top: 20px;
  padding-bottom: 50px; }
  @media (max-width: 768px) {
    .row_count_price {
      padding-top: 10px; } }
  @media (max-width: 540px) {
    .row_count_price {
      padding-top: 0px; } }

.count_price_tab {
  width: 356px;
  height: 50px;
  background: #ffffff;
  border-radius: 50px;
  margin: 0 auto;
  padding: 5px;
  display: flex; }
  @media (max-width: 768px) {
    .count_price_tab {
      height: 46px; } }
  @media (max-width: 540px) {
    .count_price_tab {
      height: 42px;
      padding: 3px; } }
  @media (max-width: 420px) {
    .count_price_tab {
      width: 100%; } }
  .count_price_tab > div {
    width: 100%;
    font-size: 20px;
    color: #3c3c3c;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    @media (max-width: 768px) {
      .count_price_tab > div {
        font-size: 18px; } }
    @media (max-width: 540px) {
      .count_price_tab > div {
        font-size: 16px; } }
    .count_price_tab > div span {
      position: relative;
      top: 1px; }
  .count_price_tab > div.active {
    background: #254A91;
    color: #ffffff; }
  .count_price_tab > div:hover {
    color: #254A91; }
  .count_price_tab > div.active:hover {
    color: #ffffff; }

.count_price_main {
  width: 100%;
  padding-top: 30px; }

.count_price_main_container {
  display: flex;
  margin-bottom: 50px; }
  @media (max-width: 1180px) {
    .count_price_main_container {
      width: 100%;
      flex-wrap: wrap;
      justify-content: center; } }

.index_count_price_main_left {
  width: 300px; }
  @media (max-width: 1180px) {
    .index_count_price_main_left {
      width: 100%;
      display: flex; } }
  .index_count_price_main_left .plan_information {
    margin-bottom: 10px; }
    @media (max-width: 1180px) {
      .index_count_price_main_left .plan_information {
        margin: 0 auto;
        margin-bottom: 20px; } }
    .index_count_price_main_left .plan_information .title {
      font-size: 24px;
      margin-bottom: 10px; }
      @media (max-width: 1180px) {
        .index_count_price_main_left .plan_information .title {
          text-align: center; } }
      @media (max-width: 540px) {
        .index_count_price_main_left .plan_information .title {
          font-size: 22px;
          margin-bottom: 5px; } }
      @media (max-width: 420px) {
        .index_count_price_main_left .plan_information .title {
          font-size: 20px; } }
      .index_count_price_main_left .plan_information .title span {
        color: #FF701A; }
    .index_count_price_main_left .plan_information .point {
      font-size: 20px;
      margin-bottom: 5px; }
      @media (max-width: 540px) {
        .index_count_price_main_left .plan_information .point {
          font-size: 18px; } }
      .index_count_price_main_left .plan_information .point .icon {
        width: 20px;
        text-align: center;
        margin-right: 3px; }
        .index_count_price_main_left .plan_information .point .icon i, .index_count_price_main_left .plan_information .point .icon svg {
          position: relative;
          top: -2px; }
      .index_count_price_main_left .plan_information .point .text {
        width: calc(100% - 23px);
        line-height: 26px; }
        @media (max-width: 540px) {
          .index_count_price_main_left .plan_information .point .text {
            line-height: 22px; } }
        .index_count_price_main_left .plan_information .point .text span {
          color: #FF701A; }
        .index_count_price_main_left .plan_information .point .text a {
          color: #0076FF; }
        .index_count_price_main_left .plan_information .point .text .blank_icon {
          width: 20px;
          display: inline;
          margin-left: 2px;
          position: relative;
          top: 1px; }
      .index_count_price_main_left .plan_information .point > div {
        float: left; }
    .index_count_price_main_left .plan_information .point:after {
      content: "";
      display: block;
      clear: both; }
  .index_count_price_main_left img {
    width: 100%; }
    @media (max-width: 1180px) {
      .index_count_price_main_left img {
        display: none; } }

.index_count_price_main_right {
  width: calc(100% - 335px);
  margin-left: 50px; }
  @media (max-width: 1180px) {
    .index_count_price_main_right {
      width: 820px;
      margin-left: 0px; } }

.count_price_input_container {
  width: 100%;
  font-size: 20px;
  margin-bottom: 25px; }
  @media (max-width: 540px) {
    .count_price_input_container {
      font-size: 18px;
      margin-bottom: 20px; } }
  .count_price_input_container .title {
    width: 160px;
    text-align: right;
    line-height: 24px;
    float: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end; }
    @media (max-width: 540px) {
      .count_price_input_container .title {
        width: 96px;
        font-size: 16px; } }
    .count_price_input_container .title .title_note {
      font-size: 16px;
      letter-spacing: 0px; }
  .count_price_input_container .title_input_height {
    height: 50px; }
  .count_price_input_container .title_radio_height {
    height: 28px; }
    @media (max-width: 540px) {
      .count_price_input_container .title_radio_height {
        height: 25px; } }
  .count_price_input_container .input_container {
    width: calc(100% - 160px);
    text-align: left;
    padding-left: 15px;
    position: relative;
    float: left; }
    @media (max-width: 540px) {
      .count_price_input_container .input_container {
        width: calc(100% - 96px); } }
    @media (max-width: 420px) {
      .count_price_input_container .input_container {
        padding-left: 10px; } }
    .count_price_input_container .input_container .input_text {
      width: 340px;
      height: 50px;
      background-color: #ffffff;
      background-image: url(../image/sort-down.png);
      background-size: 16px auto;
      background-repeat: no-repeat;
      background-position: calc(100% - 15px) center;
      border-radius: 99px;
      padding-left: 20px;
      padding-right: 20px;
      position: relative; }
      @media (max-width: 860px) {
        .count_price_input_container .input_container .input_text {
          width: 100%; } }
      @media (max-width: 540px) {
        .count_price_input_container .input_container .input_text {
          padding-right: 60px; } }
    .count_price_input_container .input_container .input_text_add_radio {
      width: 227px; }
      @media (max-width: 860px) {
        .count_price_input_container .input_container .input_text_add_radio {
          width: calc(100% - 113px); } }
      @media (max-width: 540px) {
        .count_price_input_container .input_container .input_text_add_radio {
          width: calc(100% - 105px); } }
      @media (max-width: 420px) {
        .count_price_input_container .input_container .input_text_add_radio {
          width: 100%;
          margin: 5px 0px; } }
    .count_price_input_container .input_container .input_text_tip {
      width: 100%;
      font-size: 16px;
      color: #254A91;
      margin-top: 10px; }
    .count_price_input_container .input_container input[type="text"], .count_price_input_container .input_container select {
      background-image: none;
      font-size: 20px;
      font-weight: bold;
      color: #254A91;
      padding-right: 30px; }
      @media (max-width: 540px) {
        .count_price_input_container .input_container input[type="text"], .count_price_input_container .input_container select {
          font-size: 18px; } }
    .count_price_input_container .input_container .input_head_note {
      position: absolute;
      top: 11px;
      left: 20px; }
      @media (max-width: 540px) {
        .count_price_input_container .input_container .input_head_note {
          top: 12px; } }
    .count_price_input_container .input_container .input_note {
      position: absolute;
      top: 11px;
      right: -5px;
      margin-right: 40px; }
      @media (max-width: 540px) {
        .count_price_input_container .input_container .input_note {
          top: 12px; } }
    .count_price_input_container .input_container .input_tip_day {
      color: #0076FF;
      position: absolute;
      top: 10px;
      left: 365px; }
      @media (max-width: 860px) {
        .count_price_input_container .input_container .input_tip_day {
          text-align: right;
          margin-top: 5px;
          padding-left: 20px;
          position: relative;
          top: 0px;
          left: -10px; } }
      @media (max-width: 420px) {
        .count_price_input_container .input_container .input_tip_day {
          text-align: left;
          line-height: normal;
          left: 1px; } }
    .count_price_input_container .input_container .input_tip {
      font-size: 16px;
      color: #254A91;
      margin-top: 5px;
      padding-left: 22px; }
      @media (max-width: 860px) {
        .count_price_input_container .input_container .input_tip {
          position: absolute;
          top: 52px;
          left: 10px; } }
      @media (max-width: 420px) {
        .count_price_input_container .input_container .input_tip {
          line-height: 18px;
          position: relative;
          top: 0px;
          left: 0px;
          margin-top: 5px; } }
    .count_price_input_container .input_container > span {
      margin-right: 40px; }
      @media (max-width: 540px) {
        .count_price_input_container .input_container > span {
          margin-right: 35px; } }
      @media (max-width: 375px) {
        .count_price_input_container .input_container > span {
          margin-right: 20px; } }
    .count_price_input_container .input_container i {
      color: #0076FF;
      cursor: pointer; }
  .count_price_input_container .input_choice_container {
    padding-left: 20px; }
    .count_price_input_container .input_choice_container .infor_window {
      width: 360px;
      height: auto;
      background: #ffffff;
      font-size: 16px;
      border: 2px solid #E0E0E0;
      border-radius: 12px;
      padding: 10px;
      position: absolute;
      top: 0px;
      left: 220px;
      z-index: 10; }
      @media (max-width: 860px) {
        .count_price_input_container .input_choice_container .infor_window {
          width: 280px; } }
      @media (max-width: 768px) {
        .count_price_input_container .input_choice_container .infor_window {
          width: 220px; } }
      @media (max-width: 640px) {
        .count_price_input_container .input_choice_container .infor_window {
          top: 30px;
          left: auto;
          right: 0px; } }
      @media (max-width: 420px) {
        .count_price_input_container .input_choice_container .infor_window {
          width: 200px; } }
  .count_price_input_container .text_container {
    width: calc(100% - 160px);
    font-size: 20px;
    padding-left: 15px;
    float: left; }
    @media (max-width: 540px) {
      .count_price_input_container .text_container {
        width: calc(100% - 96px);
        font-size: 16px; } }
    @media (max-width: 420px) {
      .count_price_input_container .text_container {
        padding-left: 10px; } }
    .count_price_input_container .text_container > div {
      width: 100%;
      margin-bottom: 15px;
      padding-left: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      @media (max-width: 860px) {
        .count_price_input_container .text_container > div {
          width: 100%;
          margin-bottom: 0px;
          padding-left: 10px;
          flex-wrap: wrap; } }
      @media (max-width: 420px) {
        .count_price_input_container .text_container > div {
          padding-left: 5px; } }
      .count_price_input_container .text_container > div > div {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        @media (max-width: 860px) {
          .count_price_input_container .text_container > div > div {
            width: 100% !important;
            margin-bottom: 10px; } }
        .count_price_input_container .text_container > div > div span {
          line-height: 24px; }
          @media (max-width: 540px) {
            .count_price_input_container .text_container > div > div span {
              line-height: 22px; } }
      .count_price_input_container .text_container > div .ins_travel_item {
        width: calc(50% - 20px); }
      .count_price_input_container .text_container > div .ins_pet_item {
        width: calc(60% - 20px); }
    .count_price_input_container .text_container > div:last-child {
      margin-bottom: 0px; }
    .count_price_input_container .text_container .num {
      width: 80px;
      color: #092B6C;
      text-align: right; }

.count_price_input_container:after {
  content: "";
  display: block;
  clear: both; }

.text_container_flex {
  align-items: flex-start; }

.count_price_tip {
  font-size: 14px;
  color: #254A91;
  display: flex; }
  .count_price_tip .title {
    flex-shrink: 0; }

.count_price_result_container {
  width: 100%; }
  @media (max-width: 1024px) {
    .count_price_result_container {
      margin-top: 50px; } }

.count_price_result_container:after {
  content: "";
  display: block;
  clear: both; }

.count_price_note {
  font-size: 20px;
  color: #0076FF;
  text-align: center;
  margin-top: 30px;
  cursor: pointer; }
  @media (max-width: 540px) {
    .count_price_note {
      font-size: 18px; } }

.count_price_result {
  width: 250px;
  height: 76px;
  background: #ffffff;
  border-radius: 76px;
  margin: 0 auto;
  margin-top: 10px;
  position: relative; }
  @media (max-width: 1280px) {
    .count_price_result {
      margin-top: 40px; } }
  @media (max-width: 1024px) {
    .count_price_result {
      height: 68px; } }
  .count_price_result .amount {
    font-size: 52px; }
    @media (max-width: 1024px) {
      .count_price_result .amount {
        font-size: 48px; } }
    @media (max-width: 540px) {
      .count_price_result .amount {
        font-size: 42px; } }
  .count_price_result .num {
    color: #C31826; }
  .count_price_result .dollar {
    font-size: 18px; }

.count_price_result_title {
  width: 50px;
  height: 50px;
  background: #254A91;
  color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: 10px; }

.count_price_result_btn {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center; }
  @media (max-width: 1024px) {
    .count_price_result_btn {
      justify-content: center; } }
  .count_price_result_btn div {
    width: 260px;
    height: 56px;
    font-size: 24px;
    border-radius: 56px;
    margin-left: 20px; }
    @media (max-width: 1024px) {
      .count_price_result_btn div {
        font-size: 22px; } }
    @media (max-width: 768px) {
      .count_price_result_btn div {
        height: 52px;
        font-size: 20px; } }
    @media (max-width: 640px) {
      .count_price_result_btn div {
        width: 50%; } }
    .count_price_result_btn div span {
      position: relative;
      top: 1px; }
  @media (max-width: 1024px) {
    .count_price_result_btn .blue_line_btn {
      margin-left: 0px;
      margin-right: 10px; } }
  @media (max-width: 1024px) {
    .count_price_result_btn .red_fill_btn {
      margin-left: 10px; } }

.knowledge_row {
  margin-top: 100px;
  margin-bottom: 100px; }
  @media (max-width: 1024px) {
    .knowledge_row {
      margin-top: 80px;
      margin-bottom: 130px; } }
  @media (max-width: 768px) {
    .knowledge_row {
      margin-top: 60px;
      margin-bottom: 80px; } }
  @media (max-width: 540px) {
    .knowledge_row {
      margin-top: 30px;
      margin-bottom: 50px; } }

.knowledge_container {
  width: 100%;
  margin-top: 40px; }
  @media (max-width: 1024px) {
    .knowledge_container {
      margin-top: 30px; } }
  @media (max-width: 768px) {
    .knowledge_container {
      padding: 0 60px; } }
  @media (max-width: 540px) {
    .knowledge_container {
      margin-top: 20px;
      padding: 0 30px; } }
  @media (max-width: 420px) {
    .knowledge_container {
      padding: 0 0px; } }
  .knowledge_container .item {
    width: 25%;
    float: left;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .knowledge_container .item img {
      width: 100%;
      display: block; }

.knowledge_pic_infor {
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.7);
  color: #f5f5f5;
  padding: 20px;
  position: absolute;
  bottom: -69px;
  left: 0px;
  transition-duration: 1s;
  transition-property: bottom; }
  @media (max-width: 1180px) {
    .knowledge_pic_infor {
      padding: 10px 20px;
      bottom: 0px; } }
  @media (max-width: 420px) {
    .knowledge_pic_infor {
      padding: 10px 15px; } }
  .knowledge_pic_infor .infor_title {
    font-size: 22px;
    line-height: 30px; }
    @media (max-width: 1180px) {
      .knowledge_pic_infor .infor_title {
        font-size: 20px; } }
  .knowledge_pic_infor .infor_text {
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    margin-top: 10px; }
    @media (max-width: 1180px) {
      .knowledge_pic_infor .infor_text {
        font-size: 16px;
        line-height: 24px;
        margin-top: 0px; } }

.knowledge_container .item:hover .knowledge_pic_infor {
  bottom: 0px; }

.information_row {
  background-color: #F4F6FB;
  background-image: url(../image/index_infor_top_bg.png);
  background-position: top center;
  background-repeat: no-repeat; }
  @media (max-width: 1180px) {
    .information_row {
      background-position: center -50px; } }

.information_container {
  display: flex;
  padding-top: 150px;
  padding-bottom: 80px; }
  @media (max-width: 1180px) {
    .information_container {
      padding-top: 120px; } }
  @media (max-width: 1024px) {
    .information_container {
      flex-wrap: wrap; } }

.information_container_left {
  width: calc(50% - 15px);
  margin-right: 15px; }
  @media (max-width: 1024px) {
    .information_container_left {
      width: 100%;
      margin-right: 0px;
      margin-bottom: 50px; } }

.information_container_right {
  width: calc(50% - 15px);
  margin-left: 15px; }
  @media (max-width: 1024px) {
    .information_container_right {
      width: 100%;
      margin-left: 0px; } }

.information_container_title {
  margin-bottom: 15px;
  padding-left: 10px; }
  @media (max-width: 1024px) {
    .information_container_title {
      text-align: center; } }
  @media (max-width: 768px) {
    .information_container_title {
      margin-bottom: 15px; } }

.information_container_main {
  width: 100%;
  height: 350px;
  background: #ffffff;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15); }
  @media (max-width: 1024px) {
    .information_container_main {
      height: auto; } }
  @media (max-width: 768px) {
    .information_container_main {
      padding: 25px; } }

.information_container_item {
  font-size: 20px;
  margin-bottom: 15px; }
  @media (max-width: 768px) {
    .information_container_item {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 10px; } }

.information_container_item:last-child {
  margin-bottom: 0px; }

.information_container_item a {
  color: #3c3c3c; }

.information_container_item a:hover {
  color: #0076FF; }

.date-time-picker {
  position: absolute !important;
  top: 0px;
  right: 0px; }

@media (max-width: 415px) {
  .date-time-picker:not(.inline) {
    position: absolute !important; } }

.date-time-picker > .field {
  opacity: 0; }

.datetimepicker .datepicker {
  width: 400% !important;
  max-width: 400px !important;
  min-width: 400px !important; }
  @media (max-width: 595px) {
    .datetimepicker .datepicker {
      right: calc(100vw - 100% + -215px) !important; } }
  @media (max-width: 540px) {
    .datetimepicker .datepicker {
      right: calc(100vw - 100% + -150px) !important; } }

.header-picker .header-picker-time.pl-10 {
  padding-left: 20px; }

/*# sourceMappingURL=index.css.map */
