$body_fontcolor:#202020;/* 網頁全域文字顏色 無獨立樣式設定文字顏色時自動套用 */

$top_bar_bgcolor:#bfbfbf;/* top_bar背景色 */
$top_bar_fontcolor:#202020;/* top_bar文字色 */

$nav_bar_bgcolor:#e0e0e0;/* nav_bar背景色 */
$nav_bar_fontcolor:#202020;/* nav_bar文字色 */
$nav_bar_fontcolor_active:#757575;/* nav_bar選單點擊和當前所選選項顏色 */

$nav_mobile_btn_bgcolor:#757575;/* 行動裝置-漢堡選單開啟按鈕-背景色 */
$nav_mobile_btn_iconcolor:#202020;/* 行動裝置-漢堡選單開啟按鈕-font icon顏色 */

$nav_mobile_btn_container_bgcolor:#202020;/* 行動裝置-漢堡選單-背景顏色 */
$nav_mobile_btn_container_fontcolor:#757575;/* 行動裝置-漢堡選單-文字顏色 */
$nav_mobile_btn_container_fontcolor_active:#ffffff;/* 行動裝置-漢堡選單-點擊和當前所選文字顏色 */

@mixin screen_1360_below{
  @media(max-width:1360px){
    @content;
  }
}
@mixin screen_940_below{
  @media(max-width:940px){
    @content;
  }
}
@mixin screen_768_below{
  @media(max-width:768px){
    @content;
  }
}
@mixin screen_640_below{
  @media(max-width:640px){
    @content;
  }
}
@mixin screen_540_below{
  @media(max-width:540px){
    @content;
  }
}
@mixin screen_480_below{
  @media(max-width:480px){
    @content;
  }
}
@mixin screen_420_below{
  @media(max-width:420px){
    @content;
  }
}

.set_middle{display:flex;align-items:center;justify-content:center;}/* 置中樣式 */

body{
  color:$body_fontcolor;
  font-size:1rem;
  line-height:1.5;
  color:#202020;
  background-color:#fff;
  -webkit-text-size-adjust:100%;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.row{width:100%;}
.container{
    width:1360px;
    margin:0 auto;
    padding:0px 40px;
    @include screen_1360_below{width:100%;padding:0px 30px;}
    @include screen_768_below{padding:0px 20px;}
}
/* top_bar */
.top_bar_row{
    background-color:$top_bar_bgcolor;
    color:$top_bar_fontcolor;
}
.top_bar_container{
    height:50px;
    font-size:1rem;
    display:flex;
    align-items:center;
    justify-content:space-between;
    @include screen_420_below{height:auto;padding:10px 0px;align-content:flex-start;flex-wrap:wrap;}
    .top_bar_left{
        justify-content:flex-start;
        @include screen_420_below{order:2;}
        .top_bar_btn{
            margin-right:5px;
            @include screen_540_below{margin-left:5px;}
        }
    }
    .top_bar_right{
        justify-content:flex-end;
        @include screen_540_below{order:1;margin-bottom:5px;}
        .top_bar_btn{
            margin-left:5px;
            @include screen_540_below{margin-right:5px;}
        }
    }
    .top_bar_left,.top_bar_right{
        display:flex;
        @include screen_420_below{width:100%;height:auto;align-items:center;justify-content:center;}
    }
}
.top_bar_btn{
    width:30px;
    height:30px;
    border-radius:5px;
    border:1px solid #202020;
}
/* top_bar end */

/* nav_bar */
.nav_bar_row{
    background-color:$nav_bar_bgcolor;
    color:$nav_bar_fontcolor;
}
.nav_bar_container{
    height:130px;
    position:relative;
    @include screen_540_below{height:160px;}
    .logo{
        height:100%;
        position:absolute;
        bottom:0px;
        left:40px;
        display:flex;
        align-items:center;
        @include screen_1360_below{left:30px;}
        @include screen_768_below{left:20px;}
        @include screen_540_below{height:auto;bottom:15px;}
        img{height:100px;
            @include screen_540_below{height:90px;}
        }
    }
}
.nav_top_btn_container,.nav_bottom_btn_container{
    display:flex;
    justify-content:flex-end;
}
.nav_top_btn_container{
    @include screen_420_below{justify-content:center;}
    .nav_btn{
        font-size:1rem;
        margin-left:30px;
        padding-top:30px;
        @include screen_940_below{padding-top:20px;}
        @include screen_420_below{margin-left:15px;margin-right:15px;padding-top:15px;}
    }
    .nav_btn:hover{color:$nav_bar_fontcolor_active;}
}
.nav_bottom_btn_container{
    @include screen_940_below{
        width:280px;
        height:100%;
        background:$nav_mobile_btn_container_bgcolor;
        color:$nav_mobile_btn_container_fontcolor;
        padding-top:30px;
        position:fixed;
        top:0px;
        right:-280px;
        z-index:20;
        overflow:scroll;
        overflow-x:hidden;
        transition-duration:1s;
        display:block;
    }
    .nav_btn{
        font-size:1.125rem;
        margin-left:50px;
        padding-top:25px;
        position:relative;
        @include screen_940_below{font-size:1.25rem;margin-left:30px;padding-top:35px;}
        i{display:none;
            @include screen_940_below{display:inline-block;margin-right:20px;}
        }
        .nav_bottom_btn_window{
            width:120px;
            height:auto;
            background-color:#ffffff;
            font-size:1rem;
            text-align:center;
            border-radius:10px;
            border-top:3px;
            border-left:1px;
            border-bottom:3px;
            border-right:1px;
            border-style:solid;border-color:#bfbfbf;
            position:absolute;
            top:75px;
            left:50%;
            margin-left:-60px;
            z-index:10;
            @include screen_940_below{
                width:100%;
                background-color:#202020;
                text-align:left;border-radius:10px;
                border:0px;
                position:relative;
                top:0px;
                left:0px;
                margin-left:0px; 
            }
            .nav_bottom_btn_choice{
                color:#202020;
                padding:15px 10px;
                @include screen_940_below{color:#757575;padding:15px 10px 0px 40px;}
            }
            .nav_bottom_btn_choice:hover{
                background-color:#757575;
                color:#ffffff;
            }
        }
    }
    .nav_btn.active,.nav_btn:hover{
        color:$nav_bar_fontcolor_active;
        @include screen_940_below{color:$nav_mobile_btn_container_fontcolor_active;}
    }
    .nav_btn.active:after{
    content:url(../image/arrow.png);
    text-align:center;
    display:block;
    position:relative;
    top:-10px;
    @include screen_940_below{content:"";}
    }
}

.open_nav_bar{
        right:0px !important;
}
.nav_mobile_btn{
    width:60px;
    height:60px;
    background-color:$nav_mobile_btn_bgcolor;
    color:$nav_mobile_btn_iconcolor;
    font-size:32px;
    border-radius:10px;
    position:absolute;
    right:30px;
    bottom:15px;
    display:none;
    @include screen_940_below{display:flex;}
    @include screen_768_below{right:20px;}
    @include screen_540_below{bottom:30px;}
}
/* nav_bar end */

.index_banner img{width:100%;}

/* style_1 左圖右文 */
.style_1_container{
    height:auto;
    padding-top:80px;
    padding-bottom:80px;
    @include screen_940_below{display:flex;flex-wrap:wrap;align-items:center;} 
    @include screen_768_below{padding-top:50px;padding-bottom:50px;}
    .left{
        width:50%;  
        padding:0px 30px 0px 0px;
        @include screen_1360_below{padding:0px 20px 0px 0px;}
        @include screen_940_below{padding:0px 10px 0px 0px;}
        @include screen_540_below{width:100%;padding:0px 0px 0px 0px;order:2;}
        img{width:100%;border-radius:20px;display:block;}
    }
    .right_top,.right_bottom{
        width:50%;
        padding:0px 0px 0px 30px;
        @include screen_1360_below{padding:0px 0px 0px 20px;}
    }
    .right_top{
        margin:80px 0px 20px 0px;
        @include screen_1360_below{margin:30px 0px 20px 0px;}
        @include screen_940_below{margin:0px 0px;padding:0px 0px 0px 10px;}
        @include screen_540_below{width:100%;margin-bottom:10px;padding:0px 10px 0px 10px;order:1;}
        @include screen_420_below{padding:0px 5px 0px 5px;}
        .subtitle{
            margin-bottom:10px;
            padding-left:5px;
            @include screen_540_below{text-align:right;padding-right:5px;}
        }
    }
    .right_bottom{     
        @include screen_940_below{width:100%;padding:20px 0px 0px 0px;}
        @include screen_540_below{padding:10px 10px 0px 10px;order:3;}
        @include screen_420_below{padding:10px 5px 0px 5px;}
    }

}
.style_1_container:after{content:"";clear:both;display:block;}
.style_1_container > div{
    float:left;
    @include screen_940_below{float:none;} 
}
/* style_1 左圖右文 end*/

/* style_2 中間 */
.row_style_2{background:#bfbfbf;}
.style_2_container{
    height:auto;
    padding-top:80px;
    padding-bottom:80px;
    @include screen_768_below{padding-top:50px;padding-bottom:50px;}
    .title{text-align:center;margin-bottom:5px;}
    .subtitle{
        text-align:center;margin-bottom:50px;
        @include screen_768_below{margin-bottom:0px;}
    }
    .item_container{
        display:flex;flex-wrap:wrap;
        .item{
            width:25%;
            padding:0 20px;
            display:flex;
            flex-wrap:wrap;
            justify-content:center;
            @include screen_768_below{width:50%;margin-top:30px;}
            .item_icon_container{
                width:70%;
                position:relative;
                @include screen_940_below{width:100%;}
                @include screen_768_below{width:50%;}
                @include screen_640_below{width:70%;}
                @include screen_540_below{width:90%;}
                @include screen_420_below{width:100%;}
                img{
                    width:100%;
                }
                .item_icon{
                    width:100%;
                    height:100%;
                    position:absolute;
                    top:0px;
                    left:0px;
                }
            }
            .item_title,.item_text{
                width:100%;
                text-align:center;
            }
        }
    }
}
/* style_2 中間 end */

/* style_3 左圖右文 */
.style_3_container{
    height:auto;
    padding-top:80px;
    padding-bottom:80px;
    @include screen_940_below{display:flex;flex-wrap:wrap;align-items:center;} 
    @include screen_768_below{padding-top:50px;padding-bottom:50px;}
    .right{
        width:50%;  
        padding:0px 0px 0px 30px;
        @include screen_1360_below{padding:0px 0px 0px 20px;}
        @include screen_940_below{padding:0px 0px 0px 10px;order:2;}
        @include screen_540_below{width:100%;padding:0px 0px 0px 0px;}
        img{width:100%;border-radius:20px;display:block;}
    }
    .left_top,.left_bottom{
        width:50%;
        padding:0px 30px 0px 0px;
        @include screen_1360_below{padding:0px 20px 0px 0px;}
    }
    .left_top{
        margin:80px 0px 20px 0px;
        @include screen_1360_below{margin:30px 0px 20px 0px;}
        @include screen_940_below{margin:0px 0px;padding:0px 10px 0px 0px;order:1;}
        @include screen_540_below{width:100%;margin-bottom:10px;padding:0px 10px 0px 10px;}
        @include screen_420_below{padding:0px 5px 0px 5px;}
        .subtitle{
            margin-bottom:10px;
            padding-left:5px;
            @include screen_540_below{text-align:left;padding-right:5px;}
        }
    }
    .left_bottom{     
        @include screen_940_below{width:100%;padding:20px 0px 0px 0px;order:3;}
        @include screen_540_below{padding:10px 10px 0px 10px;}
        @include screen_420_below{padding:10px 5px 0px 5px;}
    }

}
.style_3_container:after{content:"";clear:both;display:block;}
.style_3_container > div{
    float:right;
    @include screen_940_below{float:none;} 
}
/* style_1 左圖右文 end*/

/* style_4 中間 */
.row_style_4{background:#bfbfbf;}
.style_4_container{
    height:auto;
    padding-top:80px;
    padding-bottom:80px;
    @include screen_768_below{padding-top:50px;padding-bottom:50px;}
    .title{text-align:center;margin-bottom:5px;}
    .subtitle{
        text-align:center;margin-bottom:50px;
        @include screen_768_below{margin-bottom:30px;}
    }
    .item_container{
        .item{
            padding:0 20px;
            display:flex;
            flex-wrap:wrap;
            justify-content:center;
            .item_icon_container{
                width:50%;
                margin:0 auto;
                margin-bottom:5px;
                position:relative;
                img{
                    width:100%;
                }
                .item_icon{
                    width:100%;
                    height:100%;
                    position:absolute;
                    top:0px;
                    left:0px;
                }
            }
            .item_title,.item_text{
                width:100%;
                text-align:center;
            }
        }
    }
}
/* style_4 中間 end */

/* footer map */
.footer_map_row{
    background:#757575;
}
.footer_map_container{
    height:auto;
    padding:50px 0px 20px 0px;
    display:flex;flex-wrap:wrap;
}
.footer_link_container{
    width:20%;
    color:#202020;
    text-align:center;
    margin-bottom:30px;
    @include screen_768_below{width:33.333%;}
    .footer_link_title{
        margin-bottom:20px;
    }
    .footer_link_item{
        color:#bfbfbf;
        margin-bottom:20px;
        a{color:#bfbfbf;}
    }
}
.footer_link_item:hover a{
    text-decoration:none;
    color:#202020;
}
/* footer map end */

/* footer */
.footer_row{
    width:100%;
    background-color:#000000;
    color:#757575;
}
.footer_container{
    padding:50px 50px 50px 50px;
    @include screen_1360_below{width:100%;padding:50px 30px 50px 30px;}
    @include screen_768_below{padding:30px 30px 60px 30px;}
    @include screen_420_below{padding:30px 20px 60px 20px;}
}
.footer_container:after{
    content:"";display:block;clear:both;
}
.footer_left{
    width:calc(100% - 320px);
    margin-right:50px;
    float:left;
    @include screen_940_below{width:calc(100% - 270px);}
    @include screen_768_below{width:100%;margin-right:0px;margin-bottom:20px;}
}
.footer_left_item{
    width:100%;
    margin-bottom:10px;
    @include screen_768_below{margin-bottom:8px;}
    @include screen_420_below{margin-bottom:6px;}
    .footer_left_item_title{width:85px;float:left;}
    .footer_left_item_text{width:calc(100% - 85px);float:left;}
}
.footer_left_item:after{
    content:"";
    display:block;
    clear:both;
}
.footer_left_title,.footer_right_item_title{
    color:#e0e0e0;
    margin-bottom:20px;
    @include screen_768_below{margin-bottom:15px;}
    @include screen_420_below{margin-bottom:12px;}
}
.footer_right{
    width:270px;
    float:left;
    @include screen_940_below{width:220px;}
    @include screen_768_below{width:270px;}
    .footer_right_item_left{
    width:100px;
    margin-right:70px;
    float:left;
    @include screen_940_below{margin-right:20px;}
    @include screen_768_below{margin-right:70px;}
    }
    .footer_right_item_right{
    width:100px;
    float:left;
    }
}
.footer_right:after{
    content:"";
    display:block;
    clear:both;
}
.footer_right_item_icon img{
    margin-right:5px;
}
.footer_bottom{
    width:100%;
    margin-top:20px;
    float:left;
    .footer_bottom_copyright{
        width:calc(100% - 320px);
        margin-right:50px;
        float:left;
        @include screen_940_below{width:calc(100% - 270px);}
        @include screen_768_below{width:100%;margin-right:0px;}
        .footer_black_copyright span{
            display:inline;
            @include screen_1360_below{display:block;margin-bottom:5px;}
        }
    }
    .footer_bottom_terms{
        width:270px;
        float:left;
        display:flex;
        justify-content:space-between;
        @include screen_1360_below{position:relative;top:22px;}
        @include screen_940_below{width:220px;}
        @include screen_768_below{width:270px;}
        .footer_bottom_terms span{cursor:pointer;}   
    }
}
.footer_bottom:after{
    content:"";
    display:block;
    clear:both;
}
/* footer end */

.pup_bg{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    position:fixed;
    top:0px;
    left:0px;
}
.pup_bg .icon-close{
    color:#ffffff;
    position:absolute;
    top:30px;
    left:30px;
    @include screen_540_below{top:20px;left:20px;}
}

